.scroll{
  position: relative;

  &__right{
    text-align: right;
  }

  &__center{
    text-align: center;
  }


  &_item.show{
    display: block;
  }
  &_item{
    width: 100%;
    display: none;
    transition: all .3s;

    &__title{
      position: relative;
      font-family: "Roboto-Bold";
      font-size: Rem(20px);
      line-height: Rem(22px);
      padding: 5px 0;
      margin-bottom: 15px;
      text-align: center;
      text-transform: uppercase;

      &:before{
        content: '';
        width: 60px;
        height: 3px;
        background: #2083e3;
        position: absolute;
        display: block;
        left: 50%;
        margin-left:-30px;
        bottom: 0;
      }
    }

    &__row{
      position: relative;
      padding: 10px 0;
    }
  }


  &_link{
    display: inline-block;
    margin: 5px 0;
    padding: 2px 0;
    color: #2083e3;
    font-size: Rem(12px);
    line-height: Rem(16px);

    &__help{
      position: relative;
      text-decoration: none;
    }

    &__big{
      font-size: Rem(16px);
      line-height: Rem(16px);
    }
  }
}
