mixin userbar()
    div.userbar.dropdown
        div(data-toggle="dropdown").dropdown-btn
            span.gn-icon
            span.dropdown-title Мой кабинет
            span.dropdown-arrow
        div.dropdown-menu
            div.dropdown-item
                a(href="#").dropdown-link
                    span.dropdown-item-icon
                    span.dropdown-item-title Мои объявления
            div.dropdown-item
                a(href="#").dropdown-link
                    span.dropdown-item-icon
                    span.dropdown-item-title Мои заказы
            div.dropdown-item
                a(href="#").dropdown-link
                    span.dropdown-item-icon
                    span.dropdown-item-title Мои сообщения
            div.dropdown-item
                a(href="#").dropdown-link
                    span.dropdown-item-icon
                    span.dropdown-item-title Моя компания
            div.dropdown-item
                a(href="#").dropdown-link
                    span.dropdown-item-icon
                    span.dropdown-item-title Мои настройки



mixin select(id, name)
    div.select.dropdown
        div.select-content
            i.select-icon
            div.select-placeholder #{name}
            div.select-result
        div.select-lists
            i.select-lst-icon
            div.select-find.select-find-active
                input(type="text" placeholder="Поиск...").select-find-input
            div.select-lst-container
                ul.select-lst-items
                    li(data-for=`slc_${id}_0`).select-item: span Первая выборка
                    li(data-for=`slc_${id}_1`).select-item: span Вариант один
                    li(data-for=`slc_${id}_2`).select-item: span Второй вариант
                    li(data-for=`slc_${id}_3`).select-item: span Это третий пункт
                    li(data-for=`slc_${id}_4`).select-item: span Четверный селект
                    li(data-for=`slc_${id}_5`).select-item: span Селект пятый
                    li(data-for=`slc_${id}_6`).select-item: span Шестой пункт селекта
        div.select-check
            input(id=`slc_${id}_0` type='checkbox' value='0')
            input(id=`slc_${id}_1` type='checkbox' value='1')
            input(id=`slc_${id}_2` type='checkbox' value='2')
            input(id=`slc_${id}_3` type='checkbox' value='3')
            input(id=`slc_${id}_4` type='checkbox' value='4')
            input(id=`slc_${id}_5` type='checkbox' value='5')
            input(id=`slc_${id}_6` type='checkbox' value='6')

mixin selectMulti(id, name)
    div.select.select-multi
        div.select-content
            i.select-icon
            div.select-placeholder #{name}
            div.select-result
        div.select-lists
            i.select-lst-icon
            div.select-find
                input(type="text").select-find-input
            div.select-lst-container
                ul.select-lst-items
                    li(data-for=`slc_${id}_0`).select-item: span Первая выборка
                    li(data-for=`slc_${id}_1`).select-item: span Вариант один
                    li(data-for=`slc_${id}_2`).select-item: span Второй вариант
                    li(data-for=`slc_${id}_3`).select-item: span Это третий пункт
                    li(data-for=`slc_${id}_4`).select-item: span Четверный селект
                    li(data-for=`slc_${id}_5`).select-item: span Селект пятый
                    li(data-for=`slc_${id}_6`).select-item: span Шестой пункт селекта
        div.select-check
            input(id=`slc_${id}_0` type='checkbox' value='0')
            input(id=`slc_${id}_1` type='checkbox' value='1')
            input(id=`slc_${id}_2` type='checkbox' value='2')
            input(id=`slc_${id}_3` type='checkbox' value='3')
            input(id=`slc_${id}_4` type='checkbox' value='4')
            input(id=`slc_${id}_5` type='checkbox' value='5')
            input(id=`slc_${id}_6` type='checkbox' value='6')

mixin selectSlider(id, name)
    div.select.select-slider
        div.select-content
            i.select-icon
            div.select-placeholder #{name}
            div.select-result
        div.select-lists
            i.select-lst-icon
            div.slc-slider-wrap
                div.slc-input
                    //div.slc-input-wrap: input(type="text" placeholder="от" value="" data-start="0" data-min="0").slc-slider-from
                    div.slc-input-wrap: input(type="text" placeholder="до" value="" data-start="50" data-max="120").slc-slider-to
                div.slc-slider
                    div(id=`${id}`).slc-slider-container


mixin formCategory(id, name)
    label.form-category-item
        input(name=`${id}` type="radio").form-category-item--input
        span.form-category-item--label #{name}

mixin inputSearch()
    div.input-search
        i.input-search-icon
        input(type="text" placeholder="Поиск").input-search-tag

mixin input(name)
    div.input
        div.input-placeholder #{name}
        input(type="text").input-tag

mixin inputUp(name)
    div.input.input-up
        div.input-placeholder #{name}
        input(type="text").input-tag
mixin inputMax(name)
    div.input.input-up.input-max
        div.input-placeholder #{name}
        input(type="text").input-tag


mixin textarea(name)
    div.textarea
        div.textarea-placeholder #{name}
        textarea.textarea-tag

mixin textareaMax(name)
    div.textarea.textarea-up.textarea-max
        div.textarea-placeholder #{name}
        textarea.textarea-tag


mixin field(name)
    div.field-input
        div.field-label
            label #{name}
        div.field-string
            input(name="form.name" autocomplete="off")
        div.field-tools
            span.field-tools__edit Рудактировать

mixin fieldPass(name)
    div.field-input.field-input__password
        div.field-label
            label #{name}
        div.field-string
            input(name="form.pass" autocomplete="off" type="password")


mixin fieldCheck(name)
    div.field-input.field-input__checked
        div.field-label
            label #{name}
        div.field-checked
            input(name="form.name" type="checkbox" autocomplete="off")
        div.field-tools
            span.field-tools__checked


mixin fieldCheckMax()
    label.field-checkbox
        input(type="checkbox" autocomplete="off").field-checkbox-input
        span.field-checkbox-control



mixin ads()
    div.ads.ads-vip
        div.ads-wrap.ads-wrap-images
            div.ads-images
                div.ads-img-item: img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src=require("./images/vendor/ads-1.jpg")).ads-img.b-lazy
                div.ads-img-item: img(data-src=require("./images/vendor/ads-2.jpg")).ads-img.b-lazy
                div.ads-img-item: img(data-src=require("./images/vendor/ads-3.jpg")).ads-img.b-lazy
            div.ads-nav
                div.ads-nav-item.active
                div.ads-nav-item
                div.ads-nav-item
        div.ads-wrap.ads-wrap-info
            div.ads-info
                a(href="/detail-ads.html" title="Название объявления с длинным текстом").ads-title Название объявления с длинным текстом
                div.ads-desc Душа мя озарена неземной радостью, как эти чудесные весенние.
                div.ads-price
                    div.ads-price-num 6 800
                    div.ads-price-type a
                    div.ads-rating Рейтинг: 78%
                div.ads-info-stat
                    div.ads-distance 100 м
                    div.ads-date 14.03.2018
                div.ads-stars
                div.favorite
                    div.favorite-icon

mixin adsOffice()
    div.order
        div.order-container
            div.order-status Статус: Исполняется
            div.order-image: img(src=require("./images/vendor/ads-2.jpg")).order-img.b-lazy
            div.order-info
                div.order-title Название объявления
                div.order-price
                    | 12 000
                    span a
                div.order-desc Душа моя озарена неземной рдостью, весенние утра, которыми я наслаждаюсь
                div.product-card-stat
                    div.product-cstat-label Размещено: 15.06.2018
                    div.product-cstat-label
                        span.product-cstat-update
                        | 15.06.2016
                    div.product-cstat-label
                        span.product-cstat-view
                        | 234
        div.order-ads-tools
            div.order-tools-list
                a(href="#").order-tools
                    | Обмен (2)
                a(href="/office-message-ads.html").order-tools
                    | Сообщения (0)
            div.order-tools-list
                a(href="#").order-tools
                    | Редактировать
                a(href="#").order-tools
                    | Удалить


mixin adsOfficeTest()
    div.order
        div.order-container
            div.order-status Статус: Исполняется
            div.order-image: img(src=require("./images/vendor/ads-2.jpg")).order-img.b-lazy
            div.order-info
                div.order-title Название объявления
                div.order-price
                    | 12 000
                    span a
                div.order-desc Душа моя озарена неземной рдостью, весенние утра, которыми я наслаждаюсь
                div.product-card-stat
                    div.product-cstat-label Размещено: 15.06.2018
                    div.product-cstat-label
                        span.product-cstat-update
                        | 15.06.2016
                    div.product-cstat-label
                        span.product-cstat-view
                        | 234
        div.order-ads-tools
            div.order-tools-list
                a(href="#").order-tools
                    | Обмен (2)
                a(href="/office-message-ads.html").order-tools
                    | Сообщения (0)
            div.order-tools-list
                a(href="#").order-tools
                    | Редактировать
                a(href="#").order-tools
                    | Отменить


mixin adsMap(conf)
    div(data-len=`${conf[0]}` data-lan=`${conf[1]}`).ads.ads-map
        div.ads-wrap.ads-wrap-images
            div.ads-images
                div.ads-img-item
                    img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src=require("./images/vendor/ads-1.jpg")).ads-img.b-lazy
        div.ads-wrap.ads-wrap-info
            div.ads-info
                a(href="/detail-ads.html" title="Название объявления с длинным текстом").ads-title Название объявления с длинным текстом
                div.ads-desc Душа мя озарена неземной радостью, как эти чудесные весенние.
                div.ads-price
                    div.ads-price-num 6 800
                    div.ads-price-type a

mixin order()
    div.order
        div.order-container
            div.order-status Статус: Исполняется
            div.order-image: img(src=require("./images/vendor/ads-2.jpg")).order-img.b-lazy
            div.order-info
                div.order-title Название объявления
                div.order-price
                    | 12 000
                    span a
                div.order-desc Душа моя озарена неземной рдостью, весенние утра, которыми я наслаждаюсь
                div.product-card-stat
                    div.product-cstat-label Размещено: 15.06.2018
                    div.product-cstat-label
                        span.product-cstat-update
                        | 15.06.2016
                    div.product-cstat-label
                        span.product-cstat-view
                        | 234
            form.order-review
                div.order-review-line
                    textarea(placeholder="Оставить отзыв").order-message
                div.order-review-line
                    div.btn.btn-radius Сохранить
                    div.order-review-link Все отзывы (3)
        div.order-user
            div.order-stars
                span.order-stars-icon
                | 234
            div.order-user-avatar
                div.order-user-image: img(src=require('./images/vendor/user.jpg'))
            div.order-user-title Сидрова Галина Сергеевна
            a(href="/office-message-ads.html").btn.btn-blue Онлайн чат
            div.order-tools-list
                a(href="#").order-tools
                    span.order-tools-true
                    | Подтвердить заказ
                a(href="#").order-tools
                    span.order-tools-copy
                    | Повторить заказ
                a(href="#").order-tools
                    span.order-tools-false
                    | Открыть спор заказ
            a(href="#").order-user-link Список купленных объявлений
            a(href="#").order-user-link Удалить


mixin sale()
    div.order
        div.order-container
            div.order-status Статус: Исполняется
            div.order-image: img(src=require("./images/vendor/ads-2.jpg")).order-img.b-lazy
            div.order-info
                div.order-title Название объявления
                div.order-price
                    | 12 000
                    span a
                div.order-desc Душа моя озарена неземной рдостью, весенние утра, которыми я наслаждаюсь
                div.product-card-stat
                    div.product-cstat-label Размещено: 15.06.2018
                    div.product-cstat-label
                        span.product-cstat-update
                        | 15.06.2016
                    div.product-cstat-label
                        span.product-cstat-view
                        | 234
        div.order-user
            div.order-stars
                span.order-stars-icon
                | 234
            div.order-user-avatar
                div.order-user-image: img(src=require('./images/vendor/user-2.jpeg'))
            div.order-user-title Иванов Владимир Иванович
            a(href="/office-message-ads.html").btn.btn-blue Онлайн чат

mixin message()
    a(href="/office-message-ads.html").message
        div.message-ads
            div.message-image: img(src=require('./images/vendor/ads-1.jpg'))
        div.message-user
            div.message-user-image: img(src=require('./images/vendor/user.jpg'))
            div.message-user-wrap
                div.message-user-title Владимир
                div.message-user-title Название объявления
            div.message-user-content Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        div.message-tools
            div.message-info
                span.message-icreate
                span.message-itext 15.06.2018
                span.message-itime
                span.message-itext 17:36
            div.message-btn
                a(href="#").message-link Заблокировать
                a(href="#").message-link Удалить


mixin news()
    div.news-row
        a(href="/news-detail.html").news-image
            img(src=require('./images/news.jpg')).news-image-tag
        div.news-info
            a(href="/news-detail.html").news-info-title Новости по сфере аграрный рынок
            div.news-info-desc Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            div.news-info-stat
                div.news-info-stat-item Размещено: 15.06.2018
                div.news-info-stat-item Автор: Иванов Иван
