footer.footer
    div.fr-content.fr-category--header
        a(href="#").fr-category-title.link-active Все объявления 2 212 304
        div.flexbox
            ul.fr-category
                li.fr-item
                    a(href="#").fr-link Аграрный рынок 23 845
                li.fr-item
                    a(href="#").fr-link Недвижимость 3 445
                li.fr-item
                    a(href="#").fr-link Общепит 2 855
                li.fr-item
                    a(href="#").fr-link Транспорт 1 278
                li.fr-item
                    a(href="#").fr-link Спорт 845
                li.fr-item
                    a(href="#").fr-link Услуги для бизнеса 23 845
            ul.fr-category
                li.fr-item
                    a(href="#").fr-link Аграрный рынок 23 845
                li.fr-item
                    a(href="#").fr-link Недвижимость 3 445
                li.fr-item
                    a(href="#").fr-link Общепит 2 855
                li.fr-item
                    a(href="#").fr-link Транспорт 1 278
                li.fr-item
                    a(href="#").fr-link Спорт 845
                li.fr-item
                    a(href="#").fr-link Услуги для бизнеса 23 845
            ul.fr-category
                li.fr-item
                    a(href="#").fr-link Аграрный рынок 23 845
                li.fr-item
                    a(href="#").fr-link Недвижимость 3 445
                li.fr-item
                    a(href="#").fr-link Общепит 2 855
                li.fr-item
                    a(href="#").fr-link Транспорт 1 278
                li.fr-item
                    a(href="#").fr-link Спорт 845
                li.fr-item
                    a(href="#").fr-link Услуги для бизнеса 23 845
            ul.fr-category
                li.fr-item
                    a(href="#").fr-link Аграрный рынок 23 845
                li.fr-item
                    a(href="#").fr-link Недвижимость 3 445
                li.fr-item
                    a(href="#").fr-link Общепит 2 855
                li.fr-item
                    a(href="#").fr-link Транспорт 1 278
    div.fr-line
    div.fr-content
        div.flexbox
            ul.fr-items
                li.fr-item
                    a(href="#").fr-link-logo
                li.fr-item.fr-copy &copy; 2018 Ты мне Я тебе
            ul.fr-items.fr-nav
                li.fr-item
                    a(href="#").fr-link Контакты
                li.fr-item
                    a(href="#").fr-link О компании
                li.fr-item
                    a(href="#").fr-link Обратная связь
            ul.fr-items.fr-nav
                li.fr-item
                    a(href="#").fr-link Все объявления
                li.fr-item
                    a(href="/news.html").fr-link Новости
                li.fr-item
                    a(href="#").fr-link Карта сайта
            ul.fr-items.fr-store
                li.fr-item.fr-store-title
                    a(href="#").fr-link Скачать приложение
                li.fr-item.fr-app
                    a(href="#").home-s-app
                li.fr-item.fr-play
                    a(href="#").home-s-play
