nav.globalnav
    div.gn-content
        div.flexbox
            div.gn-left
                a(href="/").gn-link.gn-link-logo
            div.gn-right
                ul.gn-list
                    //li.gn-item
                        a(href="#").gn-link.gn-link-logo
                    li.gn-item.gn-item-ads
                        a(href="/ads-add.html").gn-link.gn-link-ads Подать объявление
                            span.gn-icon
                    li.gn-item.gn-item-location
                        a(href="#").gn-link.gn-link-location Москва
                            span.gn-icon
                    li.gn-item.gn-item-userbar
                        span.gn-link.gn-link-userbar
                            span.gn-icon
                            //a(href="/auto.html" data-dialog="reg").gn-link Вход
                            //| /
                            //a(href="/reg.html" data-dialog="reg").gn-link Регистрация
                            +userbar()
                    li.gn-item.gn-item-message
                        a(href="#").gn-link.gn-link-message
                            span.gn-number 2
                            span.gn-icon
                    li.gn-item.gn-item-favorite
                        a(href="#").gn-link.gn-link-favorite
                            span.gn-number 2
                            span.gn-icon
                    li.gn-item.gn-item-menu
                        div.item-menu.dropdown
                            div.dropdown-btn.gn-link-menu
                                span.gn-icon
                            div.dropdown-menu
                                div.dropdown-item
                                    a(href="#").dropdown-link
                                        span.dropdown-item-icon
                                        span.dropdown-item-title Мои объявления