include ./domhtml
include ./form
include ./search-form

doctype html
html
    head
        meta(charset="utf-8")
        //meta(name="viewport" content="width=1450")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(href="/css/styles.css" rel="stylesheet")
    body.page.fixedtop
        include ./header.pug
        block body
        div.to-top ↑ Наверх
        include ./footer.pug
        script(type="text/javascript" src="/js/scripts.js")