mixin search()
    div.section-find
        div.content
            div.find-form
                form(id="filter").filter-find
                    div.find.flexbox
                        div.find-item
                            div.select
                                div.select-content
                                    i.select-icon
                                    div.select-placeholder Категория
                                    div.select-result
                                div.select-lists
                                    i.select-lst-icon
                                    div.select-find
                                        input(type="text").select-find-input
                                    div.select-lst-container
                                        ul.select-lst-items
                                            li(data-for=`category_0`).select-item: span Первая выборка
                                            li(data-for=`category_1`).select-item: span Вариант один
                                            li(data-for=`category_2`).select-item: span Второй вариант
                                            li(data-for=`category_3`).select-item: span Это третий пункт
                                            li(data-for=`category_4`).select-item: span Четверный селект
                                            li(data-for=`category_5`).select-item: span Селект пятый
                                            li(data-for=`category_6`).select-item: span Шестой пункт селекта
                                div.select-check
                                    input(id=`category_0` type='checkbox' value='0')
                                    input(id=`category_1` type='checkbox' value='1')
                                    input(id=`category_2` type='checkbox' value='2')
                                    input(id=`category_3` type='checkbox' value='3')
                                    input(id=`category_4` type='checkbox' value='4')
                                    input(id=`category_5` type='checkbox' value='5')
                                    input(id=`category_6` type='checkbox' value='6')
                        div.find-item
                            +select(10, 'Город')
                        div.find-item
                            +selectMulti(20, 'Район')
                        div.find-item
                            +selectSlider(30, 'Радиус')
                    div(id="filter-field").find.flexbox
                    div.find.find-btn
                        a(href="/search.html").btn.btn-rfull Найти
                        a(href="/map.html").btn.btn-rempty Показать на карте