.ads-list{
  margin-left: -25px;
  margin-right:-25px;
}
.ads{
  display: inline-block;
  margin: 24px;
  background: $bg;
  cursor: pointer;
  transition: all .3s;
  position: relative;
}

.ads-nav-container{
  position: relative;
  width: 100%;
  display: block;
  padding-left: 55px;
  height: 45px;
  margin-bottom: 40px;
}
.ads-nav-container--back{
  display: inline-block;
  cursor: pointer;
  position: absolute;
  background: url(../images/vector/left-arrow.svg) no-repeat;
  background-size: contain;
  margin: auto;
  width: 25px;
  height:22px;
  left: 0;
  top:0;
  bottom: 0;
}

.ads-nav-container--title{
  display: inline-block;
  font-size: Rem(22px);
  line-height: Rem(45px);
  text-transform: uppercase;
  position: relative;
}
.ads-nav-container--icon{
  display: inline-block;
  border-radius: 100%;
  border:1px solid $txt-color-style;
  position: absolute;
  top: 0;
  left: 0;
  width: 45px;
  height: 45px;
  overflow: hidden;
}
.ads-nav-container--icon img{
  position: absolute;
  margin: auto;
  top:0;
  left:0;
  bottom:0;
  right: 0;
  max-width: 85%;
  max-height:85%;
}

.ads.ads-map{
  width:100%;
  margin: 0 0 15px 0;
  padding: 10px;
  transition: all .3s;
}
.ads.ads-map:hover{
  box-shadow: 0 0 15px 0 rgba(32, 131, 227, 0.45);
}
.ads-wrap{
  width: 100%;
  max-width: 283px;
  min-width: 265px;
  position: relative;
  background: white;
}
.ads-images{
  width: 100%;
  height: 210px;
  overflow: hidden;
}
.ads-map .ads-images{
  position: absolute;
  width: 120px;
  height: 100px;
  overflow: hidden;
  top:0;
  left:0;
}
.ads-img{
  min-width:100%;
  min-height: 100%;
  max-width: 125%;
  max-height: 125%;
}
.ads-img-item{
  width: 100%;
  min-width: 100%;
  height: 210px;
  float: left;
}
.ads-nav{
  position: absolute;
  width: 100%;
  height: 6px;
  left: 0;
  bottom: 0;
  line-height: 0;
  padding:0;
}
.ads-nav-item{
  display:inline-block;
  position: relative;
  padding:0;
  width: 33.33333333%;
  height: 6px;
  line-height: 0;
  float: left;
}
.ads-nav-item:after{
  content: '';
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  background: white;
  transition: all .3s;
  opacity: .4;
}
.ads-nav-item:hover:after,
.ads-nav-item.active:after{
  opacity: 1;
  background: $txt-color-style;
}
.ads-info{
  overflow: hidden;
  position: relative;
  padding: 25px 20px;
  border: 1px solid $txt-color-gray;
  width:100%;
  height: 180px;
}
.ads-title:after,
.ads-info:after{
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: block;
  width: 18px;
  z-index: 100;
  background: linear-gradient(to right,rgba(255,255,255,0) 0,rgba(255,255,255,1) 100%);
}
.ads-map .ads-wrap-info{
  max-width: 100%;
  min-height: 100px;
}
.ads-map .ads-info{
  position: relative;
  top:0;
  bottom:0;
  padding:0 0 0 130px;
  right: 0;
  left: 0;
  margin:0;
  border: 0;
  width:100%;
  height: auto;
  min-width: 100%;
}
.ads-map .ads-desc{
  height: 30px;
  overflow: hidden;
}
.ads-title{
  display: block;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: Rem(15px);
  line-height: Rem(16px);
  max-width:100%;
  height: 25px;
  padding-bottom:10px;
  white-space: nowrap;
  color: $txt-color;
  transition: all .3s;
}
.ads-title:hover{
  color: $txt-color-style;
}
.ads-desc{
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-size: Rem(12px);
  line-height: Rem(14px);
  color: $txt-color;
  height: 36px;
  max-height: 80px;
  overflow: hidden;
  margin-bottom:15px;
}
.ads-price{
  position: relative;
  width: 100%;
}
.ads-price .ads-price-num,
.ads-price .ads-price-type{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.4rem;
  color: $txt-color-style;
  display: inline-block;
  padding-right: 5px;
}
.ads-price .ads-price-type{
  font-family: 'Ruble';
}
.ads-rating{
  bottom:0;
  right:0;
  position: absolute;
  font-family: 'Roboto', sans-serif;
  font-size: .75rem;
  line-height: 1.1rem;
  color: $txt-color-style;
  display: block;
}
.ads-info-stat{
  position: absolute;
  bottom: 15px;
  left: 20px;
}
.ads-date,
.ads-distance{
  display: inline-block;
  color: $txt-color;
  font-size: .7rem;
  height: .8rem;
  position: relative;
  margin-right:5px;
}
.ads-date{
  padding-left: 13px;
}
.ads-date:before{
  content: '';
  display: block;
  width: 10px;
  height: .8rem;
  background: url(../images/vector/calendar.svg) center no-repeat;
  background-size: 100%;
  position: absolute;
  top:0;
  left:0;
}
.ads-distance{

}
.ads-stars{
  position: absolute;
  bottom: 15px;
  right: 20px;
}
.ads:hover{
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.15);
}
.ads-map:hover{
  box-shadow: none;
}
.ads .favorite{
  position: absolute;
  width: 15px;
  height: 15px;
  bottom: 15px;
  right: 15px;
}
.ads .favorite-icon{
  width:15px;
  height: 30px;
}


.catalog-line{
  margin:0 15px !important;
  .ads{
    position: relative;
    width: 100%;
    height: 180px;
    margin: 15px 0 !important;
  }
  .ads:hover{
    box-shadow: none;
  }
  .ads-img-item{
    height: 180px;
  }
  .ads-wrap{
    height: 100%;
    max-width: none;
    min-width: 0;
  }
  .ads-images{
    height: 100%;
  }
  .ads-wrap-images{
    position: absolute;
    width: 240px;
    z-index: 2;
  }
  .ads-wrap-info{
    width: 100%;
    min-width: 100%;
  }
  .ads-info{
    width: 100%;
    height: 100%;
    padding:0 0 0 260px;
    border: 0;
    z-index: 1;
  }
  .ads-info:after{
    display: none;
  }
  .ads-title{
    width: 100%;
    height: auto;
    display: inline-block;
    font-size: Rem(20px);
    line-height: Rem(21px);
    padding-bottom: 45px;
    position: relative;
  }
  .ads-desc{
    font-size: Rem(16px);
    line-height: Rem(16px);
    height: auto;
  }

  .ads-info-stat{
    top: 24px;
    left: 260px;
    bottom: auto;
  }
  .ads-date,
  .ads-distance{
    font-size: Rem(13px);
    line-height: Rem(13px);
    display: inline-block;
  }
  .ads-price{
    position: absolute;
    left: 260px;
    bottom: 0;
    font-size: Rem(30px);
    line-height: Rem(30px);
  }
  .ads-price-num,
  .ads-price-type{
    font-size: Rem(30px);
    line-height: Rem(30px);
  }
  .ads .favorite{
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: 5px;
    right: 5px;
  }
  .ads .favorite-icon{
    width: 20px;
    height: 40px;
  }
}

.favorite{
  overflow: hidden;
  width: 20px;
  height: 20px;
  position: relative;
}
.favorite-icon{
  position: absolute;
  background: url(../images/vector/stars.svg) no-repeat;
  background-size: 100%;
  width: 20px;
  height: 40px;
  bottom: 0;
  left: 0;
}
.favorite:hover .favorite-icon,
.favorite-active .favorite-icon{
  top: 0;
}

.ads-select{
  border: 2px solid $txt-color-style;
}

.catalog-line{
  .ads-select {
    border: 2px solid #cacaca;
  }
  .ads-select .ads-info{
    padding: 15px 0 15px 260px;
  }
  .ads-select .ads-title{
    color: $txt-color-style;
    padding-bottom: 30px;
  }
  .ads-select .ads-info-stat{
    top: 40px;
  }
}


@media (min-width: 992px) {

}

@media (min-width: 768px) {

}




@media screen and (min-width: 901px) and (max-width: 1024px) {
  .ads-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .ads{
    margin: 0 40px 40px 40px;
  }
}



@media screen and (min-width: 749px) and (max-width: 900px) {
  .ads-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .ads{
    margin: 15px 25px;
  }
}


@media screen and (min-width: 481px) and (max-width: 748px) {
  .ads-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 480px) {
  .ads{
    display: block;
    margin:0 auto 35px auto;
    width: 300px;
  }
  .ads-wrap{
    max-width: 300px;
    min-width: 300px;
  }
}