.badge__icon{
  display: block;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 38px;
}
.badge__icon-security{
  background-image: url(../images/vector/security.svg);
}
