.btn{
  cursor: pointer;
  font-size: Rem(16px);
  line-height:  Rem(45px);
  text-align: center;
  transition: all .3s;
  text-decoration: none;
  white-space: nowrap;
  outline: none;
}
.btn-rfull{
  padding:0 30px;
  border-radius: 30px;
  background: $bg-style;
  color: $txt-color-light;
}
.btn-rempty{
  padding:0 30px;
  border-radius: 30px;
  background: $txt-color-light;
  color: $bg-style;
  border:1px solid $bg-style;
}
.btn-blue{
  color: white;
  background: $bg-style;
}
.btn-radius{
  border-radius: 30px;
  display: inline-block;
  padding:0 20px;
}

.btn-tabs{
  width: 100%;
  max-width: 440px;
}
.btn-tabs-item{
  font-size: Rem(16px);
  height: 50px;
  line-height: 50px;
  text-decoration: none;
  display: inline-block;
  width: 50%;
  text-align: center;
  float: left;
  transition: all .6s;
  background: #f7faff;
  color: $txt-color-dark;
}
.btn-tabs-item:hover,
.btn-tabs-item.select{
  background: $txt-color-style;
  color: white;
}

.more{
  top: 0;
  left: 50%;
  margin-left: -100px;
  position: absolute;
  color: white;
  font-size: Rem(16px);
  background: $txt-color-style;
  width: 200px;
  height: 45px;
  border-radius: 45px;
  line-height: 45px;
  text-align: center;
  text-decoration: none;
}
.to-top{
  display: none;
  cursor: pointer;
  color: $txt-color-style;
  position: fixed;
  font-size: Rem(12px);
  left: 10px;
  bottom: 10px;
}



.btn-view{
  overflow: visible;
  border: 0;
  background: none;
  margin: 0 10px 0 0;
  padding: 0;
  outline: none;
  position: relative;
  float: left;
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: all .3s;
}
.btn-view span{
  position: relative;
  margin: auto;
  display: block;
  height: 8px;
}
.btn-view span,
.btn-view span:before,
.btn-view span:after{
  background: #ececec;
  transition: all .6s;
}

.btn-view.active span,
.btn-view.active span:after,
.btn-view.active span:before,
.btn-view:hover span,
.btn-view:hover span:before,
.btn-view:hover span:after{
  background: $txt-color-style;
}

.btn-view-table span{
  width: 8px;
}
.btn-view-table span:before,
.btn-view-table span:after{
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  position: absolute;
  top: 0;
}
.btn-view-table span:before{
  left: -10px;
}
.btn-view-table span:after{
  right: -10px;
}
.btn-view-list{
  width: 35px;
}
.btn-view-list span{
  width: 100%;
  background: none !important;
}
.btn-view-list span:before,
.btn-view-list span:after{
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
}
.btn-view-list span:before{
  left: 0;
  width: 8px;
}
.btn-view-list span:after{
  left: 10px;
  width: 25px;
}

.packages-btn{
  margin: 30px 0 60px 0;
  text-align: center;

  .btn{
    display: inline-block;
    background: $txt-color-style;
    border: none;
    color: white;
    font-size: Rem(16px);
    padding: 0 45px;
    line-height: 45px;
    border-radius: 45px;
  }
}


@media screen and (min-width: 480px) and (max-width: 600px) {

}
