$optionsHeight: 50px;

.catalog-title,
.office-title{
  font-size: Rem(20px);
  line-height: Rem(20px);
  text-align: left;
  color: $txt-color-dark;
  margin-bottom: 20px;
}
.catalog-title:after,
.office-title:after{
  left:0;
  bottom: -4px;
  width: 70px;
  height: 4px;
  margin: 0;
}
.catalog-count{
  font-size: Rem(16px);
  line-height: Rem(16px);
  text-align: left;
}

.catalog{
  margin: 0 auto;
  padding: 0 5px;
  width:100%;
  max-width: $maxW;
}

.catalog .btn-tabs,
.catalog .select{
  float: left;
}
.catalog .btn-tabs{
  height: $optionsHeight;
  margin-right: 15px;
}
.catalog .btn-tabs-item,
.catalog .select{
  height: $optionsHeight;
  line-height: $optionsHeight;
}
.catalog .select-lists{
  top: $optionsHeight;
}
.catalog .select-content{
  height: $optionsHeight;
}
.catalog .select-result{
  font-size: Rem(16px);
  height: $optionsHeight;
  line-height: $optionsHeight;
}
.catalog .btn-view{
  margin: 10px 0 10px 15px;
}

.catalog-main{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin:30px 0;
}
.catalog-list{
  position: relative;
  width: 100%;
  max-width: 940px;
  margin-top:-15px;
  margin-left:-15px;
  margin-right:-15px;
}
.catalog-content{
  position: relative;
  transition: all .3s;
  overflow: hidden;
  z-index: 1;
  margin-right: -15px;
  display: flex;
  flex-wrap: wrap;
}
.catalog-content.loading:after{
  content: '';
  top: 0;
  left: 0;
  opacity: .7;
  background: white;
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  display: block;
  transition: all .3s;
}
.catalog-list .ads{
  margin:15px;
}
.catalog-promo{
  overflow: hidden;
  width: 350px;
}
.catalog-nav{
  margin: 30px 0;
  padding:0;
  position: relative;
  width: 100%;
  height: 45px;
}
.catalog-nav .nav-pages{
  padding: 8px 0;
}