.ctg-arrow{
  margin-top: -25px;
}
.ctg-list{
  position: relative;
  height: 110px;
  overflow: hidden;
}
.ctg-item{
  display: inline-block;
  overflow: hidden;
  text-align: center;
  width: 150px;
  height: 110px;
  outline: none;
}
.ctg-icon{
  width: 100%;
  max-width:80px;
  height: 65px;
  outline: none;
}
.ctg-item span{
  display: block;
  margin-top:10px;
  font-weight: bold;
  font-size: Rem(16px);
  line-height: Rem(16px);
  height: 40px;
  outline: none;
}

.ctg-link{
  color: $txt-color-ctg;
  text-decoration: none;
  display: inline-block;
  outline: none;
}

.category-list-title{
  font-size: Rem(16px);
  line-height: Rem(16px);
}
.category-list{
  display: inline-block;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px 0;
  margin-left: -15px;
  margin-right: -15px;
}
.category-item{
  margin: 0 15px 30px 15px;
  width: 300px;
  border:1px solid $txt-color-gray;
  padding: 15px;
  cursor: pointer;
  transition: all .3s;
  position: relative;
  min-height: 70px;
  float: left;
}
.category-item:hover{
  box-shadow: 0 0 15px 0 rgba(32, 131, 227, 0.45);
}
.category-link{
  display: block;
  text-decoration: none;
}
.category-icon{
  position: relative;
  width: 100px;
  height: 70px;
  margin:0 auto;
}
.category-title{
  font-size: Rem(20px);
  line-height: Rem(20px);
  text-align: center;
  display: block;
  padding: 12px 0;
  text-decoration: none;
  color: $txt-color-dark;
}
.category-sub-list{
  display: block;
  width: 100%;
  margin-right: -6px;
  max-height: 95px;
  overflow: hidden;
  transition: max-height .7s linear;
}
.category-sub-list.show{
  max-height: 800px;
}
.category-sub-btn{
  display: block;
  text-decoration: none;
  width: 100%;
  padding-top: 5px;
  text-align: center;
  font-size: Rem(13px);
  line-height: Rem(13px);
  cursor: pointer;
  color: $txt-color-style;
}
.category-sub-btn:hover{
  text-decoration: underline;
}
.category-sub-link{
  float: left;
  display: inline-block;
  color: #8f8f8f;
  text-decoration: none;
  margin-right: 6px;
  transition: all .3s;
}
.category-sub-link:hover{
  color: $txt-color-style;
}
