.office:after,
.ads:after,
.catalog:after,
.btn-tabs:after,
.user-card:after,
.catalog-options:after,
.product-card:after,
.user-cshare-contener:after,
.product-card-stat:after,
.product-tabs:after,
.office-bar-share:after,
.office-bar-list:after,
.office-ctabs:after{
  content: " ";
  width: 100%;
  height:0;
  display: table;
  clear: both;
}