.comments-section{

  margin-top: 28px;

  &__head-title{
    color: #444;
    font-weight: 500;
    font-size: 22px;
    line-height: 24px;
  }
}

.content-list{

  margin: 0;
  padding: 0;
  list-style: none;

  &__item{
    position: relative;
    padding: 10px 0 14px;
  }

  &__item_comment{
    padding: 0;
  }

  &_comments{
    overflow: hidden;
    margin: 20px 0;
  }

  &_nested-comments{
    position: relative;
    margin: 15px 0;
    padding: 0 0 0 20px;
  }
  &_nested-comments:before{
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    background: #cccccc;
    top: 0;
    left: 0;
    bottom: 0;
  }
}

.comment{

  position: relative;

  &__head{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 8px;
    transition: background-color ease .3s;
  }

  &__date-time{
    margin-left: 8px;
    color: #5f5f5f;
    font-size: 13px;
  }

  &__message{
    padding-right: 10px;
    color: #111;
    font-size: 15px;
    line-height: 1.46;
    overflow: hidden;
  }
  &__footer{
    margin-top: 10px;
  }
  &__footer-link{
    color: #548eaa;
    font-size: 13px;
  }

  &__reply-form{
    padding-top:15px;
  }
  &__reply-form:empty,
  &__reply-form.hidden{
    display: none;
  }
}

.comment-form{
  margin-top: 40px;
  &__title{
    font-weight: 500;
    font-size: 22px;
    color: #444;
    margin-bottom: 19px;
  }
  &_wrapper{
    position: relative;
    background-color: #f7f7f7;
    padding: 16px;
  }
}


.from__editor__textarea_wrap{
  height: auto;
}
.from__editor__textarea {
  position: relative;
  z-index: 0;
  overflow: auto;
  margin: 0;
  padding: 10px 10px 0;
  min-height: 80px;
  width: 100%;
  border: 1px solid #e0e0e0;
  background: #fff;
  color: #000;
  vertical-align: top;
  font-size: 14px;
  line-height: 1.6rem;
  resize: vertical;
}
.form__buttons{
  box-sizing: inherit;
}
.form__buttons_comment{
  display: flex;
  margin-top: 16px;
}

.form__true,
.form__error{
  font-size: 16px;
  line-height: 18px;
  display: none;
  padding: 10px 0 20px 0;
}
.form__true{
  color: #690;
}
.form__error{
  color: #905;
}
.form__true.action,
.form__error.action{
  display: block;
}