.title,
.big-title,
.min-title{
  display: block;
  position: relative;
  font-size: Rem(36px);
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: $txt-color-style;
  padding-bottom: 8px;
  margin: $padding 0;
  font-family: 'OpenSans-Bold', sans-serif;
}
.title:after{
  content: '';
  width: 100px;
  height: 4px;
  position: absolute;
  margin:0 0 0 -50px;
  background: $txt-color-style;
  left: 50%;
  bottom:0;
  display: block;
}
.big-title{
  font-size: Rem(60px);
  line-height: Rem(60px);
  margin:0;
}
.min-title{
  margin:0;
  font-size: Rem(30px);
  line-height: Rem(30px);
}

.box-shadow{
  padding: 25px;
  width: 100%;
  position: relative;
  margin: auto;
  border: 1px solid #e3e3e3;
  background: white;
  box-shadow: 0 0 10px 0 rgba(32, 131, 227, 0.45);
  z-index: 5100;
}
.box-shadow--max{
  max-width: 400px;
}

@media screen and (min-width: 320px) {
  .title,
  .big-title,
  .min-title{
    font-size: Rem(26px);
    line-height: Rem(28px);
    margin:0;
  }
  .title{
    margin:0 0 30px 0;
  }
}

@media screen and (min-width: 600px) {
  .title{
    margin:0 0 60px 0;
  }
}