.crumbs{
  margin: 40px 0;
  display: block;
}
.crumbs-item,
.crumbs-link,
.crumbs-inline{
  font-family: "Roboto-Regular", sans-serif;
  display: inline-block;
  font-size: Rem(14px);
  line-height: Rem(14px);
  color: $txt-color-style;
}
.crumbs-item{
  margin-right: 5px;
}
.crumbs-link{
  position: relative;
  display: inline-block;
  text-decoration: none;
}
.crumbs-link:after{
  content:'';
  width:0;
  height: 1px;
  position: absolute;
  bottom: -2px;
  left:0;
  background: $txt-color-style;
  transition: all .3s;
}
.crumbs-link:hover:after{
  width:100%;
}
.crumbs-inline{}



.nav-pages{
  margin-left:-5px;
  display: flex;
  align-content: center;
}
.nav-page-prev:after,
.nav-page-next:after{
  content: '';
  top:50%;
  margin-top: -7px;
  left:0;
  position: absolute;
  display: block;
  background: url(../images/arrow.png) no-repeat;
  width: 20px;
  height: 14px;
}
.nav-page-next:after{
  left: -10px;
}
.nav-page-prev,
.nav-page-next{
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 10px;
  height: 100%;
}
.nav-page{
  position: relative;
  display: inline-block;
  margin: 0 5px;
  padding: 5px;
  color: $txt-color-style;
  text-decoration: none;
}
.nav-page-link{
  position: relative;
  font-size: Rem(16px);
  line-height: Rem(16px);
  display: inline-block;
  color: $txt-color-style;
  text-decoration: none;
}
.nav-page-link:hover:after,
.nav-page-select:after{
  content: '';
  width: 100%;
  background: $txt-color-style;
  height: 1px;
  position: absolute;
  bottom:-2px;
  left: 0;
}