.error-message{
  background-color: #fa3e3e;
  border-color: #fa3e3e;
  border-radius: 3px;
  overflow: hidden;
  padding: 0 0 0 40px;
}
.error-icon{
  width: 20px;
  height: 20px;
  position: relative;
}
.error-icon:before{
  content: '';
  position: absolute;
  background-image: url('../images/sprite.png');
  background-size: auto;
  background-repeat: no-repeat;
  display: inline-block;
}
.error-content{
  background: #fff;
  margin: 0;
  padding: 9px 10px;
  font-size: 14px;
  line-height: 18px;
}
.error-text{
  font-size: 12px;
  line-height: 16px;
}