.ads-fields{
  position: relative;
}
.ads-field{
  position: relative;
  margin-bottom: 15px;
}
.ads-field-title{
  font-size: Rem(20px);
  line-height: Rem(20px);
  margin: 30px 0 60px 0;
  position: relative;
}
.ads-field-title:before{
  content: '';
  width: 60px;
  height: 3px;
  background: $txt-color-style;
  position: absolute;
  left: 0;
  bottom: -8px;
  display: block;
}
.ads-field-label{

  display: inline-block;
  font-size: Rem(17px);
  line-height: Rem(17px);
  color: $txt-color-dark;
  margin-bottom: 5px;
}
.ads-field-result{
  position: relative;
  font-size: Rem(17px);
  line-height: Rem(20px);
  margin-bottom: 25px;
}

@media (min-width: 768px) {
  .ads-field{
    padding-left: 240px;
  }
  .ads-field-label{
    float: left;
    margin-left: -240px;
    margin-bottom: 0;
  }
  .ads-field-result{
    margin-bottom: 0;
  }
}