.find-form{
  width: 100%;
  max-width: $maxW;
  margin: $padding auto;
}
.find-form .flexbox{
  justify-content: baseline;
}
.find{
  width: 100%;
  margin-left: -5px;
  margin-right:-5px;
}
.find:after,
.find-property:after{
  content: ' ';
  width: 100%;
  display: table;
  height: 0;
  clear: both;
}
.find-item{
  display: inline-block;
  float: left;
  min-width: 25%;
  padding:0 5px;
  margin-bottom: 30px;
}
.find .btn{
  width: 240px;
  float: right;
  margin: 0 5px 0;
}


.find-item-min{

  .input,
  .select,
  .select-content,
  .select-result,
  .input-max{
    margin: 0;
    height: 45px;
  }
  .input-tag,
  .select-result,
  .select-placeholder,
  .input-placeholder{
    font-size: 16px;
    line-height: 45px;
  }
  .input-tag{
    display: block;
  }
  .select-lists{
    top: 45px;
  }
  .input .input-placeholder{
    top: 0;
    left: 12px;
    right: 35px;
    bottom: 0;
  }
  .input.active .input-placeholder,
  .select-active .select-placeholder{
    font-size: 14px;
    left: 0;
    top: -35px;
  }
}



@media screen and (max-width: 900px) {
  .find-item{
    width: 50%;
    margin-top: 0 !important;
    margin-bottom: 28px;
  }
  .find-btn{
    display: flex;
    justify-content: flex-end;
  }
  .find-btn:after{
    content: none;
  }
  .find-btn .btn{
    margin-top: 0;
  }
  .ads-list .ads{
    margin: 0 5px 15px 5px;
  }
}



@media screen and (max-width: 480px) {
  .find{
    margin:0;
  }
  .find-form .flexbox{
    margin:0;
  }
  .select-active .select-placeholder{
    top: -40px;
  }
  .find-item{
    margin-top: 0 !important;
    width: 100%;
    margin-bottom: 28px;
  }
  .find-btn{
    display: block;
  }
  .find .btn{
    min-width: 120px;
    font-size: Rem(15px);
    line-height: Rem(15px);
    width: auto;
    display: inline-block;
    float: none;
    padding:15px 25px;
    margin: 10px 0;
  }
  .find .btn-rfull{
    position: absolute;
    right: 5px;
  }
  .ads-list .ads{
    margin: 30px auto;
  }
}

