@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: local('☺'),
       url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'),
       url('../fonts/glyphicons-halflings-regular.woff') format('woff'),
       url('../fonts/glyphicons-halflings-regular.ttf') format('truetype');
}


@font-face {
  font-family: 'OpenSans-Bold';
  src: url('../fonts/opensans/OpenSans-Bold.eot');
  src: local('☺'),
       url('../fonts/opensans/OpenSans-Bold.woff2') format('woff2'),
       url('../fonts/opensans/OpenSans-Bold.woff') format('woff'),
       url('../fonts/opensans/OpenSans-Bold.ttf') format('truetype'),
       url('../fonts/opensans/OpenSans-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-Regular';
  src: url('../fonts/opensans/OpenSans-Regular.eot');
  src: local('☺'),
       url('../fonts/opensans/OpenSans-Regular.woff2') format('woff2'),
       url('../fonts/opensans/OpenSans-Regular.woff') format('woff'),
       url('../fonts/opensans/OpenSans-Regular.ttf') format('truetype'),
       url('../fonts/opensans/OpenSans-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-Light';
  src: url('../fonts/opensans/OpenSans-Light.eot');
  src: local('☺'),
       url('../fonts/opensans/OpenSans-Light.woff2') format('woff2'),
       url('../fonts/opensans/OpenSans-Light.woff') format('woff'),
       url('../fonts/opensans/OpenSans-Light.ttf') format('truetype'),
       url('../fonts/opensans/OpenSans-Light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Roboto-Bold';
  src: url('../fonts/roboto/Roboto-Bold.eot');
  src: local('☺'),
       url('../fonts/roboto/Roboto-Bold.woff2') format('woff2'),
       url('../fonts/roboto/Roboto-Bold.woff') format('woff'),
       url('../fonts/roboto/Roboto-Bold.ttf') format('truetype'),
       url('../fonts/roboto/Roboto-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/roboto/Roboto-Bold.eot');
  src: local('☺'),
       url('../fonts/roboto/Roboto-Regular.woff2') format('woff2'),
       url('../fonts/roboto/Roboto-Regular.woff') format('woff'),
       url('../fonts/roboto/Roboto-Regular.ttf') format('truetype'),
       url('../fonts/roboto/Roboto-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Light';
  src: url('../fonts/roboto/Roboto-Bold.eot');
  src: local('☺'),
       url('../fonts/roboto/Roboto-Light.woff2') format('woff2'),
       url('../fonts/roboto/Roboto-Light.woff') format('woff'),
       url('../fonts/roboto/Roboto-Light.ttf') format('truetype'),
       url('../fonts/roboto/Roboto-Light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'Ruble';
  src: url('../fonts/rubl/Rubl.eot');
  src: local('☺'),
       url('../fonts/rubl/Rubl.woff2') format('woff2'),
       url('../fonts/rubl/Rubl.woff') format('woff'),
       url('../fonts/rubl/Rubl.ttf') format('truetype'),
       url('../fonts/rubl/Rubl.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
