.footer{
  overflow: hidden;
  background: $bg-style;
  width: 100%;
  min-width: 100%;
  position: relative;
}
.fr-content{
  position: relative;
  padding: $padding 5px;
}
.fr-line{
  position: relative;
  width: 100%;
  height: 1px;
  clear: both;
  background: $bg;
}
.fr-category,
.fr-items{
  width: 25%;
}
.fr-category-title{
  color: $txt-color-light;
  display: inline-block;
  font-size: Rem(16px);
  line-height: Rem(16px);
  margin-bottom: $padding;
}

.fr-item{
  margin-bottom: 5px
}
.fr-item:last-child{
  margin-bottom: 0;
}
.fr-link,
.fr-copy{
  color: $txt-color-light;
  font-size: Rem(16px);
  line-height: Rem(16px);
  text-decoration: none;
}
.fr-app,
.fr-play{
  width: 130px;
  height: 30px;
  background-size: 100%;
}
.footer .home-s-app,
.footer .home-s-play{
  width: 150px;
  height: 40px;
  margin: 5px 0;
}
.footer .home-s-app:before,
.footer .home-s-play:before{
  background-size: 100%;
  width: 300px;
  height: 68px;
}
.footer .home-s-play:before{
  left: -154px;
}


@media screen and (max-width: 320px) {
  .fr-category--header{
    display: none;
  }
  .fr-items{
    width: 100%;
  }
  .fr-items.fr-nav{
    width: 150px;
  }
  .fr-store{
    width: 140px;
    position: absolute;
    top: 70px;
    right: 10px;
  }
  .fr-link{
    font-size: Rem(14px);
    line-height: Rem(14px);
  }
  .fr-app,
  .fr-play{
    height: 25px;
    text-align: right;
  }
  .fr-app  .home-s-app,
  .fr-play .home-s-play{
    float: none;
    margin: 0 auto;
    display: inline-block;
  }
  .fr-copy{
    position: absolute;
    bottom: 5px;
    font-size: 10px;
    line-height: 10px;
  }
  .fr-content {
    padding: 10px 15px 30px;
  }
  .fr-item:last-child{
    margin-bottom: 5px;
  }
  .fr-app  .home-s-app,
  .fr-play .home-s-play{
    float: none;
    width: 99px;
    margin: 0 auto;
    display: inline-block;
  }
  .footer .home-s-app:before,
  .footer .home-s-play:before{
    width: 200px;
    height: 25px;
  }
  .footer .home-s-play:before{
    left: -103px;
  }
}

@media screen and (min-width:321px) and (max-width: 480px) {
  .fr-category--header{
    display: none;
  }
  .footer .flexbox{
    flex-direction: column;
  }
  .fr-copy{
    position: absolute;
    bottom: 5px;
    font-size: 10px;
    line-height: 10px;
  }
  .fr-category,
  .fr-items{
    width: 100%;
  }
  .fr-content {
    padding: 10px 15px 30px;
  }
  .fr-item:last-child{
    margin-bottom: 5px;
  }

  .fr-items.fr-nav{
    width: 200px;
  }
  .fr-store{
    width: 160px;
    position: absolute;
    top: 70px;
    right: 10px;
  }
  .fr-app,
  .fr-play{
    height: 25px;
    text-align: right;
  }
  .fr-app  .home-s-app,
  .fr-play .home-s-play{
    float: none;
    width: 99px;
    margin: 0 auto;
    display: inline-block;
  }
  .footer .home-s-app:before,
  .footer .home-s-play:before{
    width: 200px;
    height: 25px;
  }
  .footer .home-s-play:before{
    left: -103px;
  }

}

@media screen and (min-width:481px) and (max-width: 900px) {
  .fr-category{
    display: none;
  }
  .fr-category-title{
    margin: 0;
  }
  .fr-content{
    padding: 30px 5px;
  }
  .fr-items{
     width: 100%;
   }
  .fr-nav,
  .fr-store{
    width: 33.3333%;
  }
  .fr-app,
  .fr-play{
    height: 30px;
  }
  .footer .home-s-app,
  .footer .home-s-play{
    height: 38px;
  }
  .fr-copy{
    position: absolute;
    bottom: 5px;
    font-size: 10px;
    line-height: 10px;
  }
  .fr-category--header{
    display: none;
  }
}


@media screen and (min-width:901px) and (max-width: 1024px) {
  .plus-mobile-bg{
    width: 50%;
    float: left;
  }

}