

.form{
  position: relative;
}
.form-group{
  width: 100%;
  position: relative;
  margin-bottom: 45px;
}
.form-field-title{
  font-size: Rem(22px);
  line-height: Rem(22px);
  padding-bottom: 20px;
}
.form-field{
  position: relative;
  margin: 25px 0;
  padding: 0 0 0 235px;
}
.form-field--label{
  font-size: Rem(20px);
  line-height: Rem(22px);
  min-height: 55px;
  color: $txt-color-dark;
  margin-left: -235px;
  padding-top: 15px;
  width: 235px;
  float: left;
}
.form-field--important{
  display: inline-block;
}
.form-field--important:before{
  content: '*';
  display: inline-block;
  color: red;
}
.form-field--param{
  position: relative;
  display: block;
}
.form-field--param-up{
  margin-top: 15px;
}
.form-field--param-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: -15px;
  margin-left: -5px;
  margin-right: -5px;
}
.form-field--param-container .field-file{
  margin: 10px 5px 5px 5px;
}


.form-field-textarea{
  display: block;
  width: 100%;
  min-height: 220px;
  border:1px solid $txt-color-style;
  transition: all .3s;
}
.form-field-textarea.field-error{
  border:1px solid red;
}
.form-field-textarea-tag{
  resize: none;
  display: block;
  outline: none;
  width: 100%;
  height: 220px;
  font-size: Rem(16px);
  line-height: Rem(16px);
  padding: 15px;
  border: none;
  background: #f7faff;
}


.form-color{
  position: relative;
  margin-top: -15px;
  margin-left: -15px;
  margin-right: -15px;
}
.form-color-item{
  position: relative;
  width: 42px;
  height: 42px;
  display: inline-block;
  margin: 15px 15px 15px 0;
  padding: 2px;
  cursor: pointer;
  transition: all .3s;
  border: 1px solid #d8d8d8;
}
.form-color-item.active{
  border: 1px solid $txt-color-style;
}
.form-color-item:hover{
  top: -1px;
  box-shadow: 0 0 15px 0 rgba(32, 131, 227, 0.45);
}
.form-color-item:hover .form-tool{
  display: block;
}
.from-color-item--wrapper{
  display: block;
  width: 100%;
  height: 100%;
}
.form-color-item--tag{
  display: none;
}
.from-color-item--10{
  background: #ffffff;
}
.from-color-item--20{
  background: #e9e9e9;
}
.from-color-item--30{
  background: #a6a6a6;
}
.from-color-item--40{
  background: #000;
}
.from-color-item--50{
  background: #974b00;
}
.from-color-item--60{
  background: #ffeb78;
}
.from-color-item--70{
  background: #f1ddba;
}
.from-color-item--80{
  background: #fe0002;
}
.from-color-item--90{
  background: #ff7906;
}
.from-color-item--91{
  background: #ffeb78;
}
.from-color-item--92{
  background: #28b26f;
}
.from-color-item--93{
  background: #78c5f3;
}
.from-color-item--94{
  background: #3144b6;
}
.from-color-item--95{
  background: #7f00ff;
}
.from-color-item--95{
  background: #c400aa;
}
.from-color-item--95{
  background: #ffcada;
}


.form-tool{
  display: none;
  position: absolute;
  background: #fff;
  z-index: 10;
  padding: 5px 8px;
  margin: 0 0 15px 50%;
  font-size: Rem(13px);
  line-height: Rem(14px);
  transform: translate(-50%, 0);
  box-shadow: 0 0 15px 0 rgba(32, 131, 227, 0.45);
}
.form-tool--top{
  bottom: 100%;
  left: 0;
}
.form-tool--arrow{
  display: block;
  position: absolute;
  top: 100%;
  left: 50%;
  width: 20px;
  height: 12px;
  margin-left: -10px;
  overflow: hidden;
}
.form-tool--arrow:before{
  content: '';
  display: block;
  width: 0;
  margin: 0 auto;
  border: 5px solid transparent;
  border-top-color: #fff;
}
.form-tool--arrow:after{
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  top: -100%;
  left: 50%;
  position: absolute;
  margin-left: -5px;
  transform: translate(0,50%) rotate(45deg);
  box-shadow: 0 0 15px 0 rgba(32, 131, 227, 0.45);
  background: #fff;
}




.form-field--switcher{
  display: inline-block;
}
.form-field--switcher-item{
  border-top: 1px solid #d8d8d8;
  border-left: 1px solid #d8d8d8;
  border-right: 1px solid transparent;
  border-bottom: 1px solid #d8d8d8;
  display: inline-block;
  cursor: pointer;
  padding: 15px 22px;
  transition: all .3s;
}
.form-field--switcher-item:last-child{
  border-right: 1px solid #d8d8d8;
}
.form-field--switcher-item:hover{
  background: #f7faff;
  border: 1px solid $txt-color-gray;
  border-right: 1px solid transparent;
}
.form-field--switcher-item:hover:last-child{
  border-right: 1px solid #d8d8d8;
}
.form-field--switcher-item.active{
  background: #f7faff;
  border: 1px solid $txt-color-style;
}

.form-field--switcher-tag{
  display: none;
}
.form-field--switcher-label{
  font-size: Rem(18px);
  line-height: Rem(20px);
}




.form-category-container{
  position: relative;
  clear: both;
  display: table;
  border: 1px solid #d8d8d8;
}
.form-category{
  display: table-cell;
  position: relative;
  width: 300px;
  max-height: 340px;
  overflow-x: hidden;
  overflow-y: auto;
  border-right: 1px solid #d8d8d8;
  float: left;
}
.form-category--clear{
  display: table;
  width: 100%;
  height: 0;
  clear: both;
}
.form-category:last-child{
  border-right: none;
}
.form-category--title{
  display: block;
  font-size: Rem(16px);
  line-height: Rem(16px);
  padding:10px;
}
.form-category-item{
  display: block;
  cursor: pointer;
  transition: all .3s;
}
.form-category-item.active{
  background: $txt-color-style;
  color: white;
}
.form-category-item:hover{
  background: #f7faff;
}
.form-category-item--input{
  display: none;
}
.form-category-item--label{
  position: relative;
  padding: 7px 10px;
  width: 100%;
  display: block;
  font-size: Rem(14px);
  line-height: Rem(14px);
}

.form-field--style-block{
  position: relative;
  display: inline-block;
  margin: 5px 15px 15px 0;
  cursor: pointer;
  width: 320px;
}
.form-field--sblock-tag{
  display: none;
}
.form-field--sblock-label{
  display: inline-block;
  padding:12px 25px;
  font-size: Rem(16px);
  line-height: Rem(18px);
  border: 1px solid #e3e3e3;
  background:  white;
  transition: all .3s;
  width: 100%;
  text-align: center;
}
.form-field--sblock-label:hover{
  box-shadow: 0 0 15px 0 rgba(32, 131, 227, 0.45);
}
.form-field--style-block.active .form-field--sblock-label,
.form-field--sblock-tag:checked ~ .form-field--sblock-label{
  border: 1px solid $txt-color-style;
}


.form-field-input{
  display: inline-block;
  width: 100%;
  height: 55px;
  border: 1px solid $txt-color-style;
  transition: all .3s;
}
.form-field-input.field-error{
  border: 1px solid red;
}
.form-field-input--min-line{
  max-width: 320px;
}
.form-field-input-tag{
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 15px;
  line-height: 55px;
  font-size: Rem(16px);
  background: #f7faff;
}
.form-field-input-price{
  max-width: 180px;
}
.form-field-input-min{
  max-width: 320px;
}
.form-field-input-map{
  margin-bottom: 25px;
}


.form-field--price{
  padding: 0 10px;
  font-family: "Ruble";
  display: inline-block;
  font-size: Rem(22px);
  line-height: Rem(22px);
}


.field-list{
  position: relative;
  margin-bottom: 60px;
}
.field-input{
  position: relative;
  height: 45px;
  border-bottom: 1px solid $txt-color-style;
  margin-bottom: 10px;
  background: white;
}
.field-file{
  width: 200px;
  height: 162px;
  border:1px solid $txt-color-style;
  background: #f7faff;
  position: relative;
  display: inline-block;
  margin: 0 12px 12px 0;
  cursor: pointer;
  overflow: hidden;
  transition: all .3s;
}
.field-file:hover{
  background: #fbfdff;
}
.field-file input{
  display: none;
}
.field-file--preview{
  position: relative;
  z-index: 3;
  top:0;
  left:0;
}
.field-file--action{
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: Rem(16px);
  font-size: Rem(16px);
  line-height: Rem(16px);
  color: $txt-color-style;
  text-align: center;
}
.field-label{
  position: absolute;
  display: flex;
  align-items: center;
  top:0;
  left:0;
  bottom:0;
  z-index: 1;
}
.field-label label{
  display: inline-block;
  line-height: 100%;
  font-size: Rem(16px);
  color: $txt-color-gray;
}
.field-string{
  position: relative;
  z-index: 2;
  height: 100%;
  padding-right: 90px;
  top:0;
  left:0;
  bottom:0;
}
.field-string input{
  border: 0;
  outline: none;
  font-size: Rem(16px);
  color: $txt-color-dark;
  width: 100%;
  height: 100%;
  line-height: 100%;
  background: transparent;
}
.field-tools{
  position: absolute;
  display: flex;
  width: 95px;
  align-items: center;
  justify-content: flex-end;
  z-index: 3;
  top: 0;
  right: 0;
  bottom:0;
}
.field-tools__edit{
  color: $txt-color-dark;
  font-size: Rem(12px);
  line-height: Rem(12px);
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: all .3s;
}
.field-tools__edit:after{
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  left:0;
  bottom: -1px;
  background: $txt-color-dark;
  transition: all .3s;
}
.field-tools__edit:hover{
  color: $txt-color-style;
}
.field-tools__edit:hover:after{
  background: $txt-color-style;
}


.field-input__password{
  width: 100%;
  max-width: 340px;
}
.field-input__password .field-string{
  padding: 0;
}


.field-input__checked label{
  color: $txt-color-dark;
}
.field-input__checked input[type="checkbox"]{
  display: none;
}
.field-tools__checked{
  top: 0;
  left: 0;
  position: relative;
  margin: 0;
  float: left;
  background-color: $txt-color-gray;
  vertical-align: top;
  width: 40px;
  height: 22px;
  border-radius: 17px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.25);
  transition: all .3s ease-in;
  display: inline-block;
  cursor: pointer;
}
.field-tools__checked:after{
  background-color: $txt-color-style;
  margin: 2px;
  width: 17px;
  height: 17px;
  border-radius: 17px;
  box-shadow: 0 1px 2px rgba(0,0,0,.25);
  transition: all .3s;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
}
.field-input__checked.active .field-tools__checked{
  background-color: $txt-color-style;
}
.field-input__checked.active .field-tools__checked:after{
  left: auto;
  right: 0;
  background-color: white;
}


.field-checkbox{
  position: relative;
  display: block;
  width: 42px;
  height: 42px;
  border: 1px solid $txt-color-style;
  cursor: pointer;
  outline: none;
}
.field-checkbox-control{
  display: block;
  width: 100%;
  height: 100%;
}
.field-checkbox-input{
  display: none;
}
.field-checkbox-input:checked ~ .field-checkbox-control,
.field-checkbox.active .field-checkbox-control{
  background: url(../images/vector/input-checkbox-blue.svg) center no-repeat;
  background-size: 65%;
}


.form-button{
  display: block;
  border: 1px solid $txt-color-style;
  padding: 0 25px;
  margin: 55px auto;
  background: white;
  font-size: Rem(18px);
  line-height: 45px;
  height: 45px;
  text-align: center;
  border-radius: 45px;
  outline: none;
}

.form-disallow{
  position: relative;
  transition: all .3s;
  z-index: 1;
}
.form-disallow:before{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  background: white;
  opacity: .3;
  display: block;
}


.section-disable{
  position: relative;
}
.section-disable:before{
  content: '';
  display: block;
  position: absolute;
  background: white;
  z-index: 100;
  opacity: .8;
  top:0;
  left:0;
  right: 0;
  bottom:0;
  transition: all .3s;
}

#section-property .form-field-string,
#section-property .form-field-number{
  max-width: 480px;
}
.form-error-message{
  line-height: 22px;
  font-size: 15px;
  color: red;
  padding-bottom: 5px;
}
.form-true-message{
  line-height: 22px;
  font-size: 15px;
  color: green;
  padding-bottom: 5px;
}
.form-send{
  position: relative;
}
.form-send:before{
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: white;
  opacity: .8;
  z-index: 5000;
  top: 0;
  left: 0;
  position: absolute;
}


.webform{
  max-width:720px;

  .form-group{
    margin-bottom: 10px;
  }
  .form-field{
    margin:0 0 10px 0;
    padding: 0 0 0 165px;
  }
  .form-field--min{
    max-width: 380px;
    padding: 0 0 0 112px;

    .form-field--label{
      width: 107px;
      margin-left: -112px;
    }
  }
  .form-desc{
    font-size: Rem(14px);
    line-height: Rem(14px);
    display: block;
    position: relative;
    width: 80%;
    margin: 0 auto;
    padding: 0 0 10px 0;
    text-align: center;
    color: #858585;
  }
  .form-desc--min{
    max-width: 380px;
    margin:0;
  }
  .form-field--label{
    padding-top: 10px;
    width: 160px;
    min-height: 23px;
    margin-left: -165px;
    font-size: Rem(16px);
    line-height: Rem(18px);
  }
  .form-input{
    height: 35px;
    border:1px solid $txt-color-style;
  }
  .form-btns{
    text-align: center;
    padding: 0;
  }
  .form-btns--min{
    max-width: 380px;
  }
  .form-btn{
    margin: 0 10px;
  }
}



.files-input{
  position: relative;
}
.files-clear{
  clear: both;
}
.fileinput-button{
  display: block;
  cursor: pointer;
  width: 200px;
  height: 160px;
  border: 1px solid #2083e3;
  background: #f7faff;
  float: left;
}
.fileinput-button span{
  display: block;
  position: relative;
  width: 100%;
  top: 50%;
  text-align: center;
  height: 10px;
  margin: -10px auto 0 auto;
  font-size: 14px;
  color: #2083e3;
}
.fileinput-button [type=file]{
  display: none;
}

.files-list{
  position: relative;
  display: inline-block;
  height: 160px;
  float: left;
}
.files-item{
  position: relative;
  float:left;
  overflow: hidden;
  width: 200px;
  max-width: 200px;
  min-height: 100%;
  margin-right: 10px;
  cursor: pointer;
}
.files-item-rotate,
.files-item-dell{
  width: 20px;
  height: 20px;
  cursor: pointer;
  text-indent: -9000px;
  position: absolute;
  top: 2px;
  background: url(../images/vector/tools-image.svg) no-repeat;
  background-color: white;
  border: 1px solid #f7faff;
  display: none;
  z-index: 2;
}
.files-item:hover .files-item-rotate,
.files-item:hover .files-item-dell{
  display: block;
}
.files-item-dell{
  right: 2px;
  background-position: -16px 1px;
}
.files-item-rotate{
  left: 2px;
}
.files-item-image{
  min-height: 160px;
  min-width: 100%;
  max-width: 100%;
  max-height:100%;
}