html{
  min-width: 100%;
}
html,
body{
  margin:0;
  padding:0;
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 13px;
  line-height: 1.5;
}
body{
  overflow-x: hidden;
  width: 100%;
  max-width: 100%;
  min-width: 320px;
}
body.page{
  overflow-y: scroll;
  overflow-x: hidden;
}
ul,ol{
  list-style: none;
  margin:0;
  padding:0;
}
*,
*:after,
*:before{
  box-sizing: border-box;
}


.flexbox{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.main{
  overflow: hidden;
}
.fixedtop .main{
  padding-top:70px;
}
.fixedtop #bx-panel{
  top:70px;
}
.globalnav *{
  font-size: 1rem;
  margin: 0;
  padding: 0;
  transition: all .3s;
}
.content,
.gn-content,
.fr-content{
  width: 100%;
  margin:0 auto;
  max-width: $maxW;
  padding:0 5px;
  z-index: 2;
}
.globalnav{
  position: fixed;
  width: 100%;
  background-color: $bg-style;
  color: $txt-color-light;
  top: 0;
  left: 0;
  z-index: 9999;
  display: block;
  margin:0;
  height: $fixed-top-h;
  max-height: $fixed-top-h;
  transition: all .3s;
}
.globalnav.header-scroll{
  height: 40px;
  .gn-content,
  .flexbox,
  .gn-link-logo,
  .gn-link,
  .gn-item,
  .gn-list{
    height: 40px;
  }
  .gn-link-logo{
    width: 150px;
    height: 40px;
  }
  .gn-link,
  .gn-item{
    font-size: Rem(14px);
    line-height: 40px;
  }
  .gn-link-ads:after,
  .gn-link-location:after,
  .gn-link-ads:before,
  .gn-link-location:before{
    bottom: 9px;
  }
  .gn-item .gn-icon{
    bottom: 7px;
    transition: none;
  }
}
.gn-list{
  position: relative;
  cursor: default;
  margin:0;
  width: auto;
  height: $fixed-top-h;
  text-align: justify;
}
.gn-item{
  display: inline-block;
  position: relative;
  height: $fixed-top-h;
  line-height: $fixed-top-h;
  z-index: 1;
  vertical-align: top;
  margin-right: 20px;
}
.gn-item:last-child{
  margin-right: 0;
}
.gn-item-ads,
.gn-item-location,
.gn-item-userbar{
  margin-left: 30px;
  transition: none;
}
.gn-link{
  outline: none;
  position: relative;
  display: inline-block;
  font-size: Rem(18px);
  height: $fixed-top-h;
  line-height: $fixed-top-h;
  color: $txt-color-light;
  text-decoration: none;
  margin: 0 3px;
}
.gn-link-ads:before,
.gn-link-location:before{
  content: '';
  background-color: $bg-green;
  width: 0;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: $fixed-top-h/2 - 10;
  display: inline-block;
  transition: all .3s;
  z-index: 2;
}
.gn-link-ads:after,
.gn-link-location:after{
  content: ' ';
  background-color: $txt-color-light;
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: $fixed-top-h/2 - 10;
  display: inline-block;
  z-index: 1;
}
.gn-link-ads:hover:before,
.gn-link-location:hover:before{
  width:100%;
}
.gn-link-userbar{
  text-decoration: none;
}
.gn-empty{
  min-width: 220px;
}


.gn-link-ads .gn-icon:before,
.gn-link-menu .gn-icon:before,
.gn-link-location .gn-icon:before,
.gn-link-favorite .gn-icon:before,
.gn-link-userbar .gn-icon:before,
.gn-link-message .gn-icon:before {
  content: '';
  display: inline-block;
  position: absolute;
  width: 248px;
  height: 113px;
  top: 0;
  left: 0;
  background: url(../images/tebemne-sprite.png) no-repeat;
}
.gn-item .gn-number{
  position: absolute;
  font-family: 'Open Sans';
  border-radius: 100%;
  width: 15px;
  height:15px;
  background: $bg-red;
  font-size: .65rem;
  line-height: 15px;
  text-align: center;
  left:15px;
  top: $fixed-top-h/2 - 20;
  z-index: 3;
}
.gn-item .gn-icon{
  left: -25px;
  bottom: $fixed-top-h/2 - 13;
  position: absolute;
  overflow: hidden;
  width: 20px;
  height: 20px;
}
.gn-link-location .gn-icon{
  left: -20px;
  width: 15px;
}
.gn-link-menu .gn-icon,
.gn-link-message .gn-icon,
.gn-link-favorite .gn-icon{
  left:0;
}
.gn-item-menu,
.gn-item-message,
.gn-item-favorite{
  width: 25px;
  max-width: 25px;
}

.gn-link-ads .gn-icon:before{
  left:-90px;
}
.gn-link-location .gn-icon:before{
  left:-125px;
}
.gn-link-message .gn-icon:before{
  left:-68px;
}
.gn-link-favorite .gn-icon:before{
  left:-20px;
}
.gn-link-menu .gn-icon:before{
  left:-45px;
}


@media screen and (min-width: 601px) and (max-width: 900px) {
  .gn-item{
    display: none;
  }
  .gn-item-ads,
  .gn-item-favorite,
  .gn-item-message,
  .gn-item-menu{
    position: absolute;
    display: block;
    right: 0;
  }
  .gn-item-ads{
    width: 190px;
    right: 90px;
  }
  .gn-item-message{
    right: 65px;
  }
  .gn-item-favorite{
    right: 25px;
  }
}

@media screen and (max-width: 600px) {
  .flexbox{

  }
  .gn-left{
    width: 40%;
  }
  .gn-right{
    width: 60%;
  }
  .gn-item{
    display: none;
  }
  .gn-item-favorite,
  .gn-item-message,
  .gn-item-menu{
    position: absolute;
    display: block;
    right: 0;
  }
  .gn-item-message{
    right: 65px;
  }
  .gn-item-favorite{
    right: 25px;
  }
}

@media screen and (max-width: 320px) {
  .globalnav{
    min-width: 320px;
  }
  .gn-left{
    position: relative;
    width: 100%;
    max-width:70%;
  }
  .gn-right{
    position: relative;
    width: 100%;
    max-width:30%;
  }
  .gn-item{
    display: none;
  }
  .gn-item-favorite,
  .gn-item-menu{
    position: absolute;
    right:0;
    display: block;
  }
  .gn-item-favorite{
    right: 25px;
  }
}


