$input-height: 30px;

.input,
.input-search,
.textarea{
  position: relative;
  border: 1px solid $txt-color-style;
  height: $input-height;
  min-width: 200px;
  transition: all .3s;
}
.input.field-error,
.input-search.field-error,
.textarea.field-error{
  border: 1px solid red;
}
.input-tag,
.input-search-tag,
.textarea-tag{
  font-size: Rem(20px);
  line-height: Rem(20px);
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  border: none;
  outline: none;
  position: relative;
  background: transparent;
  z-index: 2;
  resize: none;
}
.input-placeholder,
.textarea-placeholder{
  color: $txt-color-dark;
  font-size: Rem(14px);
  line-height: $input-height;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 10px;
  transition: all .3s;
}
.active .input-placeholder,
.active .textarea-placeholder{
  font-family: Roboto-Bold;
  font-size: Rem(12px);
  line-height: Rem(12px);
  top: -$input-height + 10px;
  left: 0;
  color: $txt-color-style;
}

.input-up,
.textarea-up{
  margin: 40px 0 0;
  background: #f7faff;
}
.input-up .input-placeholder,
.textarea-up .textarea-placeholder{
  top: -30px;
  left: 0;
  font-size: Rem(14px);
}
.input-max{
  font-size: Rem(16px);
  line-height: 55px;
  height: 55px;
  margin-bottom: 60px;
}
.textarea-max{
  font-size: Rem(16px);
  height: 140px;
  min-height: 140px;
  margin-bottom: 60px;
}
.input-max .input-placeholder,
.textarea-max .textarea-placeholder{
  top: -35px;
}
.textarea-max .textarea-placeholder,
.textarea-max .textarea-tag,
.input-max .input-placeholder,
.input-max .input-tag{
  font-size: Rem(16px);
}

.input-search{
  padding-right:30px;
}
.input-search-icon{
  position: absolute;
  width: 13px;
  height: 13px;
  overflow: hidden;
  top: 50%;
  margin-top: -7px;
  right: 10px;
  cursor: pointer;
}
.input-search-icon:after{
  top: -2px;
  left: -142px;
  content: '';
  position: absolute;
  background: url(../images/tebemne-sprite.png) no-repeat;
  width: 248px;
  height: 113px;
}


.input-checked{
  display: inline-block;
  position: relative;
  padding: 0 0 0 30px;
  cursor: pointer;
}
.input-checked--tag{
  display: none;
}
.input-checked--check{
  position: relative;
  display: block;
  width: 25px;
  height: 25px;
  border: 1px solid #2083e3;
  cursor: pointer;
  outline: none;
  margin-left: -30px;
  float: left;
}
.input-checked--tag:checked ~ .input-checked--check{
  background: url(../images/vector/input-checkbox-blue.svg) center no-repeat;
  background-size: 65%;
}
.input-checked--name{
  display: inline-block;
  font-size: Rem(18px);
  line-height: 25px;
  white-space: nowrap;
}

.input-checked-max{
  padding: 0 0 0 52px;
}
.input-checked-max .input-checked--check{
  width: 42px;
  height: 42px;
  margin-left: -52px;
}
.input-checked-max .input-checked--name{
  font-size: Rem(22px);
  line-height: 42px;
}