.link{
  display: inline-block;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  color: $txt-color-dark;
}
.link:after{
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 1px;
  content: '';
  display: block;
  background: $txt-color-dark;
}
.link-active{
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: $txt-color-light;
}
.link-active:before,
.link-active:after{
  content: ' ';
  height: 1px;
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: -2px;
}
.link-active:before{
  background: $txt-color-light;
  width:100%;
  z-index: 1;
}
.link-active:after{
  background: $txt-color-active;
  width: 0;
  transition: all .3s;
  z-index: 2;
}
.link-active:hover:after{
  width:100%;
}