.gn-link-logo,
.fr-link-logo{
  display: inline-block;
  font-family: 'Open Sans';
  background: url(../images/vector/logo.svg) center no-repeat;
  background-size: 100%;
  width: 200px;
  max-width: 100%;
  height: $fixed-top-h;
}
.fr-link-logo{
  width:150px;
  height: 50px;
}

@media screen and (max-width: 480px) {

}