.map{
  position: relative;
  width: 100%;
  min-height: 700px;
  z-index: 1;
  overflow: hidden;
  bottom: 0;
  top:0;
  left:0;
  right: 0;
  margin-bottom: 65px;
}
.map-list{
  position: absolute;
  left:0;
  top:0;
  bottom: 0;
  height: 100%;
  width: 380px;
  background: white;
  z-index: 10;
  overflow: hidden;
}
.map-list .btn-tabs{
  position: relative;
  margin:0 auto;
  width: 280px;
  z-index: 2;
  display: block;
}
.map-list .btn-tabs-item{
  width: 140px;
  height: 40px;
  line-height: 40px;
  font-size: Rem(14px);
  border:1px solid $txt-color-style;
  background: white;
  cursor: pointer;
}
.map-list .btn-tabs-item.select,
.map-list .btn-tabs-item:hover{
  background: $txt-color-style;
  color: white;
}
.map-title{
  text-align: center;
  font-size: Rem(16px);
  line-height: Rem(16px);
  color: $txt-color-style;
  padding: 25px 30px 0;
}
.map-catalog{
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  top:90px;
  left:0;
  bottom:0;
  padding:15px;
}
.map-container{
  position: absolute;
  top:0;
  left: 380px;
  bottom:0;
  right:0;
}

.ymap-widget{
  width: 320px;

  .point-name{
    padding-bottom: 0;
  }

  .product-cstat-label{
    height: 11px;
    font-size: 11px;
    line-height: 11px;
    padding: 0;
  }
}
.point-price{
  float: right;
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  color: black;
  .price{
    font-size: 16px;
    line-height: 18px;
    font-family: 'Ruble';
    font-weight: bold;
    color: black;
  }
}
.point-site{
  color: $txt-color-style;
  text-align: right;

}
.ymap-widget-prop{
  padding-top: 6px;
  &-label,
  &-result{
    font-size: 13px;
    line-height: 13px;
  }
  &-label{
    float: left;
    padding-right: 5px;
  }
  &-result{

  }
}


.map-item{
  display: flex;
  position: relative;
  width: 100%;
  min-height: 95px;
  transition: all .3s;
  border: 1px solid transparent;
  cursor: pointer;
  padding: 4px;
  margin-bottom: 5px;
  overflow: hidden;

  &__row{
    width:100%;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 5px;
  }
  &__label{
    font-size: 12px;
    line-height: 12px;
    font-weight: 700;
  }
  &__result{
    font-size: 12px;
    line-height: 12px;
    font-weight: 500;
    padding-left: 5px;
  }
  &__title{
    display: block;
    font-size: 14px;
    line-height: 14px;
    font-weight: 700;
    color: $txt-color-style;
    margin-bottom: 10px;
    text-decoration: none;
  }
  &__price{
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    margin-top: 10px;
    .price{
      padding-left:5px;
      font-size: 16px;
      line-height: 18px;
      font-family: 'Ruble';
      font-weight: 700;
      color: black;
    }
  }
  &__images{
    position: relative;
    width: 123px;
    min-width: 123px;
    padding-right: 4px;
    vertical-align: top;
    flex-basis: 123px;
  }
  &__image{
    display: block;
    width: 120px;
    height: 90px;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
  }
  &__info{
    width: 100%;
    padding-left: 4px;
    vertical-align: top;
    flex-grow: 1;
    flex-shrink: 1;
  }


  &:hover{
    border: 1px solid #C6C6C6;
  }
}





@media screen and (max-width: 900px) {
  .map-list{
    display: none;
  }
  .map-container{
    left: 0;
  }
}