.messenger{
  background: #f7faff;
}
.messenger,
.messenger-controls,
.messenger-product,
.messenger-container,
.messenger-reply{
  position: relative;
  display: block;
}

.messenger-controls{
  height: 40px;
  overflow: hidden;
  text-align: left;
  border-bottom: 1px solid $txt-color-style;
}
.messenger-control{
  display: inline-block;
  position: relative;
  color: $txt-color-dark;
  font-size: Rem(15px);
  line-height: 40px;
  text-decoration: none;
  margin:0 50px 0 20px;
  transition: all .3s;
  cursor: pointer;
}
.messenger-control--icon{
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-right: 10px;
}
.messenger-control--break{
  background-image: url(../images/vector/break.svg);
  width: 16px;
  height: 10px;
}
.messenger-control--blacklist{
  background-image: url(../images/vector/cross.svg);
  width: 10px;
  height: 10px;
}
.messenger-control--dell{
  width: 0;
  margin:0;
}

.messenger-product{
  padding: 20px;
  min-height: 135px;
}
.messenger-product--view{
  width: 160px;
  height: 95px;
  position: absolute;
  overflow: hidden;
  top: 20px;
  left: 20px;
  z-index: 1;
}
.messenger-product--view img{
  min-width: 100%;
  min-height: 100%;
  max-width: 120%;
  max-height: 120%;
}
.messenger-product--context{
  position: relative;
  padding-left: 180px;
}
.messenger-product--title{
  font-size: Rem(16px);
  line-height: Rem(16px);
  font-family: "Roboto-Bold";
  padding-bottom: 15px;
  text-decoration: none;
  color: $txt-color-dark;
  display: block;
  transition: all .3s;
  cursor: pointer;
}
.messenger-product--title:hover{
  color: $txt-color-style;
}
.messenger-product--price,
.messenger-product--price span{
  font-size: Rem(24px);
  line-height: Rem(24px);
  font-family: "Roboto-Bold";
}
.messenger-product--price span{
  font-family: "Ruble";
}
.messenger-product--info{
  margin-top: 15px;
  text-align: left;
}
.messenger-product--location,
.messenger-product--phone{
  display: block;
  position: relative;
  margin-bottom: 8px;
  margin-right: 20px;
  font-size: Rem(15px);
  line-height: Rem(15px);
}
.messenger-product--location:before{
  content: " ";
  display: inline-block;
  margin-right: 10px;
}
.messenger-product--phone:before{
  content: " ";
  display: inline-block;
  margin-right: 10px;
}

.messenger-container{
  background: white;
  padding: 20px 0;
  overflow: hidden;
}
.messenger-container--wrapper{
  overflow: auto;
  height: 420px;
}
.messenger-datetime,
.messenger-message--content,
.messenger-message--datetime,
.messenger-message--text{
  font-size: Rem(15px);
  line-height: Rem(15px);
}
.messenger-datetime{
  margin-bottom: 20px;
  text-align: center;
  color: $txt-color-gray;
  font-family: "Roboto-Bold";
}
.messenger-message{
  display: block;
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}
.messenger-message--content{
  display: inline-block;
  max-width: 75%;
  position: relative;
  vertical-align: top;
}
.messenger-message--datetime{
  top: 0;
  left: 100%;
  bottom: 0;
  margin: auto;
  position: absolute;
  white-space: nowrap;
  visibility: hidden;
  font-size: Rem(10px);
  line-height: Rem(10px);
  height: Rem(10px);
  padding:0 10px;
  color: $txt-color-gray;
}
.messenger-message--text{
  background: #f0f0f0;
  border-radius: 6px;
  text-align: left;
  padding: 15px 20px;
  display: block;
  font-size: Rem(15px);
  line-height: Rem(15px);
  word-wrap: break-word;
  white-space: pre-wrap;
}
.messenger-message--main{
  text-align: right;
  .messenger-message--content{}
  .messenger-message--datetime{
    left: auto;
    right: 100%;
  }
  .messenger-message--text{
    background: $txt-color-style;
    color: white;
  }
}

.messenger-message:hover .messenger-message--datetime{
  visibility: initial;
}

.messenger-reply,
.messenger-reply--container{
  background: white;
  display: block;
  width: 100%;
  position: relative;
}
.messenger-reply--container{
  background: $txt-color-style;
  height: 65px;
  margin-bottom: 20px;
  border-radius: 3px;
}
.messenger-reply--image{
  position: absolute;
  width: 65px;
  height: 65px;
  cursor: pointer;
  background-image: url(../images/vector/form-image-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
}
.messenger-reply--image-input{
  display: none;
}
.messenger-reply--message{
  position: absolute;
  top:2px;
  left: 65px;
  bottom:2px;
  right: 2px;
  background: white;
  display: block;
  z-index: 1;
  border-radius: 3px;
  overflow: hidden;
}
.messenger-reply--message textarea{

  padding: 10px;
  resize: none;
  position: relative;
  font-size: Rem(15px);
  line-height: Rem(15px);
  outline: none;
  width: 100%;
  height: 100%;
  border: 0;
  z-index: 2;
}
.messenger-reply--send{
  width: 160px;
  border:1px solid $txt-color-style;
  padding: 0 30px;
  display: block;
  outline: none;
  background: $txt-color-style;
  border-radius: 40px;
  height: 40px;
  line-height: 40px;
  color: white;
  font-size: Rem(16px);
  margin: 0 0 0 auto;
}