.message{
  margin-top: 45px;
  display: block;
  text-decoration: none;
  color: initial;
}
.message-ads{
  position: absolute;
  height: 122px;
  width: 180px;
  padding-right: 10px;
}
.message-image{
  overflow: hidden;
  width: 100%;
  height: 122px;
}
.message-image img{
  min-width: 100%;
  min-height:100%;
  max-width: 120%;
  max-height:120%;
}
.message-user{
  position: relative;
  padding-left: 180px;
}
.message-user-image{
  width: 75px;
  height:75px;
  overflow: hidden;
  border-radius: 100%;
  position: absolute;
  top:0;
  left:180px;
}
.message-user-image img{
  min-width: 100%;
  min-height:100%;
  max-width: 120%;
  max-height:120%;
}
.message-user-wrap{
  width: 100%;
  height: 75px;
  padding-left: 85px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  top: 0;
  left: 0;
}
.message-user-title{
  font-size: Rem(15px);
  line-height: Rem(16px);
  font-family: "Roboto-Bold";
  padding: 4px 0;
}
.message-user-content{
  display: block;
  font-size: Rem(14px);
  line-height: Rem(17px);
  padding-top: 15px;
}
.message-tools{
  display: block;
  width: 100%;
  height: Rem(12px);
  margin-top: 10px;
}
.message-info{
  float: left;
}
.message-icreate,
.message-itime{
  position: relative;
  display: inline-block;
  width: 15px;
  height: 11px;
  overflow: hidden;
}
.message-icreate:after,
.message-itime:after{
  content: '';
  background: url(../images/tebemne-sprite.png) no-repeat;
  position: absolute;
  display: block;
  width: 248px;
  height: 113px;
  top: 0;
  left: 0;
}
.message-icreate:after{
  top: -27px;
  left: -143px;
}
.message-itime:after{
  top: -16px;
  left: -143px;;
}
.message-itext{
  font-size: Rem(12px);
  line-height: Rem(12px);
  color: $txt-color-dark;
  margin-right: 10px;
}
.message-btn{
  float: right;
}
.message-link{
  font-size: Rem(12px);
  line-height: Rem(12px);
  position: relative;
  display: inline-block;
  color: $txt-color-style;
  margin-left: 15px;
  text-decoration: none;
}
.message-link:after{
  content: '';
  position: absolute;
  display: inline-block;
  background: $txt-color-style;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 0;
}