.news{
  overflow: hidden;
}
.news-banner{
  overflow: hidden;
  width: 100%;
  height: 90px;
  margin-bottom: 15px;
}
.news-banner-image{
  min-width: 100%;
  min-height: 90px;
}
.news-list{
  position: relative;
  margin-bottom: 30px;
}
.news-scroll{
  top: 0;
  left: 0;
  position: absolute;
  width: 20px;
  height: 100%;
}
.news-scroll-core{
  width: 5px;
  height: 100%;
  background: #ececec;
  margin: 0 auto;
  position: relative;
}
.news-scroll-btn{
  position: absolute;
  cursor: pointer;
  background: $txt-color-style;
  width: 12px;
  height: 45px;
  border-radius: 12px;
  left: -4px;
}
.news-main{
  width: 100%;
  padding-left: 40px;
}
.news-item{
  position: relative;
  width:100%;
  overflow: hidden;
  margin-bottom: 40px;
}
.news-title{
  overflow: hidden;
  font-size: Rem(16px);
  line-height: Rem(16px);
  text-decoration: none;
  color: $txt-color-dark;
  font-family: "Roboto-Bold", sans-serif;
  display: block;
  white-space: nowrap;
  position: relative;
}
.news-title:after{
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: block;
  width: 30px;
  z-index: 100;
  background: linear-gradient(to right,rgba(255,255,255,0) 0,rgba(255,255,255,1) 100%);
}
.news-date{
  display: block;
  font-size: Rem(12px);
  line-height: Rem(12px);
  color: $txt-color-dark;
  font-family: "Roboto-Regular", sans-serif;
  padding:4px 0;
  margin-bottom: 10px;
}
.news-desc{
  display: block;
  font-size: Rem(14px);
  line-height: Rem(16px);
  color: $txt-color-dark;
  font-family: "Roboto-Regular", sans-serif;
  overflow: hidden;
  max-height: 64px;
}


.news-row{
  display: block;
  position: relative;
  margin-bottom: 50px;
}
.news-image{
  width: 220px;
  height: 150px;
  margin: 0 auto 10px auto;
  overflow: hidden;
  text-decoration: none;
  display: block;
  cursor: pointer;
}
.news-image-tag{
  min-width:100%;
  max-width: 120%;
  min-height: 100%;
  max-height: 120%;
}
.news-info{
  position: relative;
  min-height: 150px;
  padding-bottom: 30px;

  &-title{
    font-size: 20px;
    line-height: 22px;
    position: relative;
    padding-bottom: 5px;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    transition: all .3s;
    color: $txt-color-dark;

    &:hover{
      color: $txt-color-style;
    }

    &:before{
      content: '';
      width: 0;
      height: 1px;
      display: block;
      position: absolute;
      background: $txt-color-style;
      left: 0;
      bottom: 0;
      transition: all .3s;
    }
    &:hover:before{
      width: 100%;
    }
  }
  &-desc{
    padding: 15px 0;
    font-size: 14px;
    line-height: 18px;
  }
  &-stat{
    position: absolute;
    bottom: 0;
  }
  &-stat-item{
    float: left;
    font-size: 13px;
    line-height: 13px;
    margin-right: 20px;
  }
}

@media (min-width: 768px) {
  .news-row{
    padding-left: 250px;
  }
  .news-image{
    margin: 0 0 0 -250px;
    float: left;
  }
}




.subscribe{
  margin: 30px 0 0 0;
  padding: 80px 5px;
  background: #f6fbff;
}
.subscribe-form{
  width: 100%;
  max-width: 480px;
  margin: auto;
}
.subscribe-title{
  font-family: Roboto-Bold;
  font-size: 18px;
  line-height: 18px;
  color: $txt-color-style;
  padding: 5px 0;
  margin-bottom: 20px;
}
.subscribe-items{
  position: relative;
  padding-right: 155px;

  & .btn{
    position: absolute;
    font-size: 15px;
    line-height: 15px;
    top: 0;
    right: 0;
    width: 150px;
    height: 45px;
    border: none;
    border-radius: 45px;
    background: $txt-color-style;
    color: white;
  }
  & .input{
    height: 45px;
  }
  & .input-placeholder{
    line-height: 45px;
  }
  & .active .input-placeholder{
    top:-35px;
  }
}



