$office-bar-bg: #f7faff;

.office{
  position: relative;
}


.office__title{
  margin:0 0 40px 0;
  display: block;
  position: relative;
  font-size: Rem(20px);
  line-height: Rem(20px);
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
  color: $txt-color-dark;
  padding-bottom: 8px;
  font-family: Roboto-Bold, sans-serif;
}
.office__title:after{
  content: '';
  width: 70px;
  height: 3px;
  position: absolute;
  background: #2083e3;
  left: 0;
  bottom: 0;
  display: block;
}

.office__btn{
  cursor: pointer;
  border-radius: 30px;
  display: inline-block;
  padding: 0 20px;
  background: white;
  border: 1px solid $txt-color-style;
  color: #2083e3;
  height: 40px;
  line-height: 40px;
  font-size: Rem(16px);
  text-align: center;
  min-width: 160px;
  text-decoration: none;
}

.office-bar{
  background: $office-bar-bg;
  padding: 20px;
  position: relative;
  width: 30%;
  max-width: 370px;
  float: left;
}
.office-container{
  width: 70%;
  float: left;
  padding:0 0 0 30px;
}

.office-bar-social{
  display: block;
  padding: 5px 0;

  &--title {
    font-size: 16px;
    line-height: 16px;
    color: #3c3b3b;
  }
  &--desc {
    font-size: 14px;
    line-height: 14px;
    color: #8C8C8C;
  }
}

// OFFICE BAR
.office-bar-avatar{
  padding:40px 0 30px 0;
  text-align: center;
}
.office-bar-image{
  display: block;
  width: 180px;
  height: 180px;
  border-radius: 100%;
  overflow: hidden;
  margin:0 auto;
}
.office-bar-image img{
  min-width: 100%;
  min-height: 100%;
  max-width: 135%;
  max-height: 130%;
}
.office-bar-edit{
  padding-top: 15px;
  font-size: Rem(12px);
  line-height: Rem(12px);
  color: $txt-color-dark;
  position: relative;
  display: inline-block;
  margin: 0 auto;
  cursor: pointer;
}
.office-bar-edit:after{
  content: '';
  width: 100%;
  height: 1px;
  background: $txt-color-dark;
  position: absolute;
  bottom: -1px;
  left: 0;
}
.office-bar-info{
  padding: 30px 0 0 0;
}
.office-bar-title{
  color: $txt-color-style;
  font-size: Rem(20px);
  line-height: Rem(20px);
  display: block;
  text-align: left;
  padding: 5px 0;
  font-family: "Roboto-Bold";
}
.office-bar-share{
  display: block;
  width: 100%;
  padding-bottom: 20px;
}
.office-bar-list{
  position: relative;
}
.office-bar-item{
  display: block;
  padding:15px 10px 15px 35px;
  border-top:1px solid $txt-color-style;
  text-decoration: none;
  position: relative;
  text-transform: uppercase;
  color: $txt-color-style;
  font-size: Rem(20px);
  line-height: Rem(20px);
  transition: all .3s;
}
.office-bar-sub{
  font-size: Rem(16px);
  line-height: Rem(20px);
  display: block;
  padding:15px 10px 15px 35px;
  text-decoration: none;
  color: $txt-color-dark;
  border-top:1px solid $txt-color-style;
}
.office-bar-sub.active{
  color: #ed0032;
}
.office-bar-item:before{
  transition: all .3s;
  content: '';
  display: block;
  position: absolute;
  background: $txt-color-style;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  overflow: hidden;
  top: 50%;
  margin-top: -6px;
  left: 10px;
}
.office-bar-item:hover,
.office-bar-item.active{
  color: #ed0032;
}
.office-bar-item:hover:before,
.office-bar-item.active:before{
  background: #ed0032;
}

// OFFICE CONTENT
.office-ctabs{
  display: block;
  height: 45px;
  padding-bottom: 15px;
  border-bottom: 1px solid $txt-color-style;
}
.office-ctabs-item{
  padding:0;
  font-size: Rem(16px);
  line-height: 30px;
  display: block;
  color: $txt-color-dark;
  text-decoration: none;
  margin-right: 50px;
  transition: all .3s;
  cursor: pointer;
  float: left;
}
.office-ctabs-item.active,
.office-ctabs-item:hover{
  color: $txt-color-style;
}
.office-ctabs-item:last-child{
  margin-right: 0;
}
.office-catalog{
  margin: 15px 0;
}
.office-title{
  margin:0 0 40px 0;
}
.office-ctabs .select{
  min-width: 130px;
}
.office-ctabs .select-lists{
  min-width: 200px;
}
.office-ctabs .select-content:after{
  width: 25px;
}
.office-ctabs .select,
.office-ctabs .select-content,
.office-ctabs .select-result,
.office-ctabs .select-placeholder,
.office-ctabs .select-item span{
  font-size: Rem(14px);
  height: 30px;
  line-height: 30px;
}
.office-ctabs .select-result{
  right: 25px;
}
.office-ctabs .select-active .select-placeholder{
  top: -30px;
  font-size: Rem(12px);
}
.office-ctabs .select-lists{
  top: 30px;
}
.office-ctitle,
.office-stitle{
  font-size: Rem(20px);
  line-height: Rem(20px);
  padding:45px 0 30px 0;
}
.office-stitle{
  padding-top: 0;
}
.office-cdesc{
  font-size: Rem(12px);
  line-height: Rem(12px);
  display: block;
  padding-bottom: 45px;
}

.office-location,
.office-list-item{
  border-left: 1px solid $txt-color-style;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 35px;
  line-height: 35px;
  font-size: Rem(16px);
  color: $txt-color-dark;
  transition: all .3s;
  padding: 0 15px;
  margin-bottom: 25px;
}
.office-location:hover,
.office-list-item:hover{
  background: #f7faff;
}
.office-list-item{
  height: auto;
  max-height: 280px;
  overflow: hidden;
}
.office-list-item-image{
  overflow: hidden;
  margin-bottom: 15px;
  max-height: 220px;
}
.office-list-item-image img{
  min-width: 100%;
  max-width: 130%;
  min-height: 100%;
}
.office-map{
  margin-bottom: 55px;
}
.office-location-add{
  margin-top: 75px;
}
.office-input-phone{
  max-width: 310px;
}

.office-times-title{
  display: block;
  color: $txt-color-dark;
  font-size: Rem(16px);
  line-height: 30px;
  padding-bottom: 10px;
}
.office-inputs,
.office-times{
  display: inline-block;
  height: 65px;
  margin-bottom: 50px;
}
.office-input,
.office-time{
  margin-right: 12px;
  float: left;
  display: inline-block;
  max-width: 220px;
}
.office-line{
  margin-top: 40px;
}
.office-time-name{
  display: block;
  color: $txt-color-style;
  font-weight: bold;
  text-align: center;
  font-size: Rem(15px);
  line-height: Rem(16px);
  padding-top: 5px;
}