.offer{
  width: 100%;
  max-width: 430px;
}
.offertop{
  padding-top:120px;
}
.offer-top,
.offer-title,
.offer-desc{
  color: $txt-color-ctg;
}
.offer-title{
  font-size: Rem(40px);
  line-height: Rem(40px);
}
.offer-dot{
  background: $txt-color-ctg;
  display: inline-block;
  border-radius: 100%;
  margin: 5px 13px;
  width: 10px;
  height:10px;
}
.offerselect{
  margin-top: 15px;
}
.offerselect .offer-title{
  font-size: Rem(80px);
  line-height: Rem(80px);
  text-transform: uppercase;
  font-weight: bold;
}
.offer-desc{
  margin: $paddings;
  font-size: Rem(18px);
  line-height: Rem(24px);
}
.offer-btn{
  cursor: pointer;
  display: inline-block;
  background: $bg-red;
  padding: 12px 28px;
  border-radius: 60px;
  color: $txt-color-light;
  font-size: 1.1rem;
  line-height: 1.1rem;
}




@media screen and (max-width: 900px) {
  .offertop{
    padding-top: 45px;
  }
  .section-slider{
    height: 430px;
  }
  .section-slider:before{
    background-size: cover;
    width: 100%;
    height: 430px;
  }

  .offer-title{
    font-size: Rem(24px);
    line-height: Rem(24px);
  }
  .offerselect .offer-title{
    font-size: Rem(40px);
    line-height: Rem(40px);
  }
  .offer-dot{
    width: 6px;
    height: 6px;
    margin: 5px;
  }
  .offer-desc{
    width: 430px;
    margin: 36px 0;
    font-size: Rem(18px);
    line-height: Rem(22px);
  }
  .offer-btn{
    font-size: Rem(18px);
    line-height: Rem(18px);
  }
}

@media screen and (min-width:321px) and (max-width: 480px) {
  .offertop{
    padding-top: 30px;
  }

  .section-slider{
    height: 420px;
  }
  .section-slider:before{
    background-size: cover;
    width: 960px;
    height: 380px;
  }
  .offer-desc{
    width: 200px;
    line-height: Rem(20px);
  }

  .offer-title{
    font-size: Rem(20px);
    line-height: Rem(20px);
  }
  .offerselect .offer-title{
    font-size: Rem(36px);
    line-height: Rem(36px);
  }
  .offer-dot{
    width: 5px;
    height: 5px;
    margin: 5px;
  }
  .offer-desc{
    width: 300px;
    margin: 18px 0;
    font-size: Rem(16px);
    line-height: Rem(18px);
  }
}

@media screen and (max-width: 320px) {
  .offertop{
    padding-top: 30px;
  }
  .section-slider{
    height: 410px;
  }
  .section-slider:before{
    background-size: cover;
    width: 770px;
    height: 410px;
  }
  .offer-desc{
    width: 230px;
    margin: 18px 0;
    font-size: Rem(16px);
    line-height: Rem(18px);
  }

  .offer-title{
    font-size: Rem(20px);
    line-height: Rem(20px);
  }
  .offerselect .offer-title{
    font-size: Rem(36px);
    line-height: Rem(36px);
  }
  .offer-dot{
    width: 5px;
    height: 5px;
    margin: 5px;
  }
}

