$order-bg: #f7faff;

.order{
  position: relative;
  padding: 10px 0 20px 0;
  border-bottom: 1px solid $txt-color-style;
  margin-bottom: 20px;
}
.order:last-child{
  border-bottom: 0;
}
.order .product-card-stat{
  margin-bottom: 0;
}
.order-stars{
  position: absolute;
  top: 0;
  right: 0;
  height: 20px;
  line-height: 20px;
  color: $txt-color-style;
}
.order-stars-icon{
  overflow: hidden;
  width: 17px;
  height: 20px;
  position: absolute;
  top: 2px;
  left:-20px;
}
.order-stars-icon:after{
  content: '';
  background: url(../images/tebemne-sprite.png) no-repeat;
  width: 248px;
  height: 113px;
  display: block;
  position: absolute;
  left: -22px;
  top: -23px;
}

// CONTAINER
.order-container{
  position: relative;
  padding-right: 220px;
  left:0;
  top:0;
  bottom:0;
  overflow: hidden;
}
.order-status{
  font-size: Rem(12px);
  line-height: Rem(12px);
  margin-bottom: 25px;
  width: 100%;
}
.order-image{
  width: 200px;
  height: 130px;
  overflow: hidden;
  position: absolute;
  left:0;
}
.order-img{
  max-width: 130%;
  max-height: 130%;
}
.order-info{
  min-height: 160px;
  position: relative;
  left:0;
  right:0;
  padding-left: 215px;
}
.order-title{
  font-size: Rem(20px);
  line-height: Rem(20px);
  padding-bottom: 8px;
}
.order-price,
.order-price span{
  font-size: Rem(20px);
  line-height: Rem(20px);
}
.order-price span{
  font-family: "Ruble";
}
.order-review{
  padding: 15px 0;
}
.order-desc{
  font-size: Rem(14px);
  line-height: Rem(16px);
  padding: 10px 0 25px 0;
}
.order-review-line{
  position: relative;
  width: 100%;
  padding: 5px 0;
  z-index: 1;
}
.order-message{
  outline: none;
  position: relative;
  width: 100%;
  height: 80px;
  resize: none;
  background: $order-bg;
  padding: 15px;
  border: none;
  font-size: Rem(12px);
  line-height: Rem(14px);
  z-index: 2;
}
.order-review-link{
  display: inline-block;
  color: $txt-color-dark;
  position: relative;
  font-size: Rem(12px);
  line-height: Rem(14px);
  margin: 12px 15px 12px 0;
  float: right;
}
.order-review-link:after{
  content: '';
  width: 100%;
  height: 1px;
  background: $txt-color-dark;
  position: absolute;
  bottom: -1px;
  left: 0;
}
.order-container .btn{
  border:1px solid $txt-color-style;
  color: $txt-color-style;
  height: 40px;
  line-height: 40px;
  font-size: Rem(14px);
  width: 160px;
  right: 0;
  float: right;
}


// USER
.order-user{
  position: absolute;
  top:10px;
  right: 0;
  bottom:20px;
  width: 210px;
  overflow: hidden;
  border-left: 1px solid $txt-color-style;
  padding-left: 10px;
}
.order-user-avatar{
  width: 100%;
}
.order-user-image{
  width: 75px;
  height:75px;
  border-radius: 100%;
  overflow:hidden;
  margin: 0 auto;
}
.order-user-image img{
  min-width: 100%;
  min-height:100%;
  max-width: 130%;
  max-height:130%;
}
.order-user-title{
  padding: 15px 0;
  font-size: Rem(16px);
  line-height: Rem(20px);
  color: $txt-color-dark;
  text-align: center;
  font-family: "Roboto-Bold";
}
.order-user .btn{
  width: 100%;
  display: block;
  margin: 0 auto;
  color: white;
  background: $txt-color-style;
  height: 45px;
  line-height: 45px;
  font-size: Rem(16px);
}
.order-tools-list{
  padding: 10px 0;
}
.order-ads-tools{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top:0;
  bottom:0;
  right: 0;
}
.order-tools{
  position: relative;
  width: 100%;
  display: block;
  padding: 2px 0 2px 30px;
  text-decoration: none;
  color: $txt-color-style;
  font-family: "Roboto-Bold";
  font-size: Rem(12px);
  line-height: 17px;
  white-space: nowrap;
  margin: 3px 0 3px 18px;
  overflow: hidden;
}
.order-tools span{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 16px;
  overflow: hidden;
  margin-right: 5px;
}
.order-tools span:after{
  content: '';
  top: 0;
  left: 0;
  background: url(../images/tebemne-sprite.png) no-repeat;
  width: 248px;
  height: 113px;
  position: absolute;
  display: block;
}
span.order-tools-true{
  left: 2px;
  height: 19px;
}
span.order-tools-true:after{
  top: -21px;
  left: -88px;
}
span.order-tools-copy{
  left: 2px;
}
span.order-tools-copy:after{
  top: -23px;
  left: -65px;
}
span.order-tools-false{
  width: 25px;
  height: 20px;
}
span.order-tools-false:after{
  top: -20px;
  left: -113px;
}
.order-user-link{
  position: relative;
  color: $txt-color-dark;
  font-size: Rem(12px);
  line-height: Rem(12px);
  margin: 4px 0;
  text-decoration: none;
  display: inline-block;
}
.order-user-link:after{
  content: '';
  width: 100%;
  height: 1px;
  background: $txt-color-dark;
  position: absolute;
  left: 0;
  bottom: 0;
  display: inline-block;
}


.order-package{
  max-width: 1000px;
  width: 100%;
  border-bottom: 1px solid #2083e3;
  padding:0 0 20px 0;
}
.order-items{
  position: relative;
}
.order-package-title{
  font-size: Rem(18px);
  line-height: Rem(18px);
  margin-bottom: 20px;
}
.order-item{
  margin-bottom: 20px;
  position: relative;

  &-title{
    font-size: Rem(16px);
    line-height: Rem(16px);
    font-weight: bold;
    padding-bottom: 8px;
  }
  &-desc{
    font-size: Rem(15px);
    line-height: Rem(15px);
  }
}
.order-result{
  text-align: right;

  &-price,
  &-price span{
    display: inline-block;
    font-size: Rem(20px);
    line-height: Rem(20px);
    font-weight: bold;
  }
  &-price span{
    font-family: 'Ruble';
  }
}