.packages{
  position: relative;
  display: flex;
  padding-left:1px;
  flex-wrap: wrap;
}
.packages-item{
  width: 100%;
  max-width: 300px;
  margin-left:-1px;
  padding-bottom: 55px;
  border: 1px solid $txt-color-gray;
  position: relative;
  transition: all .3s;
  background: #f7faff;
  cursor: pointer;

  &.active,
  &:hover{
    background: white;
    border:1px solid $txt-color-style;
    box-shadow: 0 0 10px 0 rgba(32, 131, 227, 0.45);
    z-index: 1;
  }
}

.packages-item-input{
  display: none;
}

.package-image{

}
.package-clear{
  display: block;
  width:100%;
  height: 0;
  clear: both;
}
.package-image-item{
  display: block;
  width: 210px;
  height: 210px;
  margin: 0 15px 15px 0;
  float: left;
  overflow: hidden;
  border: 1px solid #e5e5e5;
}
.package-image-item-tag{
  min-width: 100%;
  min-height: 100%;
  width: 100%;
}

.packages-glare{
  position: absolute;
  z-index: 1;
  top: 0;
  left:0;
  bottom:0;
  right: 0;
  overflow: hidden;

  &:before,
  &:after{
    content: '';
    width: 30px;
    height: 150%;
    background: $txt-color-style;
    display: block;
    position: absolute;
    transform: rotate(45deg);
    opacity: 0.1;
    box-shadow: 0 0 73px 0 $txt-color-style;
    top: -540px;
    left: 100px;
    transition: all .4s;
  }
  &:after{
    width: 10px;
    top: -470px;
  }

  &:hover:before{
    top: 380px;
  }
  &:hover:after{
    top: 450px;
  }
}
.packages-head{
  padding: 15px;
  border-bottom: 1px solid $txt-color-gray;
  min-height: 100px;
}
.packages-title{
  font-size: Rem(18px);
  line-height: Rem(18px);
  margin-bottom: 15px;
}
.packages-desc{
  font-size: Rem(15px);
  line-height: Rem(15px);
}
.packages-body{
  padding: 15px;
}
.packages-list{
  list-style: none;
}
.packages-list-item{
  position: relative;
  padding:0 0 15px 10px;
}
.packages-list-title{
  display: block;
  font-size: Rem(16px);
  line-height: Rem(16px);
  margin-bottom: 10px;
}
.packages-list-text{
  display: block;
  font-size: Rem(14px);
  line-height: Rem(15px);
}
.packages-price,
.packages-bonus{
  position: absolute;
  right: 15px;
  bottom: 15px;
  font-size: Rem(24px);
  line-height: Rem(24px);

  & span{
    font-family: 'Ruble';
    font-size: Rem(24px);
    line-height: Rem(24px);
  }
}
.packages-bonus{
  left: 15px;
  font-size: Rem(14px);
  line-height: Rem(14px);
}