.plus-home{
  width: 100%;
  max-width: $maxW;
  display: block;
  padding: $padding 0;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}
.plus-home-head{
  padding: $padding 0;
}
.plus-h-bg{
  position: relative;
  width:100%;
  height: 0;
  z-index: 1;
}
.plus-h-bg-radius{
  position: absolute;
  width: 100%;
  max-width: 600px;
  top: 74px;
  left: 50%;
  margin-left: 250px;
  height: 530px;
  border-radius: 240px;
  border-top: 2px solid $txt-color-style;
  border-right: 2px solid $txt-color-style;
  border-bottom: 2px solid $txt-color-style;
  border-left: 0;
  z-index: 5;
}
.plus-h-bg:after,
.plus-h-bg:before{
  content: '';
  display: block;
  position: absolute;
  height: 100%;
  z-index: 3;
}
.plus-h-bg:after{
  min-width: 100%;
  top: 74px;
  left: 50%;
  margin-left: 600px;
  height: 530px;
  background: #f6fbff;
}
.plus-h-bg:before{
  width: 100%;
  max-width: 600px;
  top: 74px;
  left: 50%;
  height: 530px;
  background: #f6fbff;
  border-top: 2px solid $txt-color-style;
  border-bottom: 2px solid $txt-color-style;
  z-index: 6;
}
.plus-h-bg-line{
  position: absolute;
  z-index: 1;
  top: 74px;
  width: 100%;
  min-width:100%;
  height: 530px;
  border-top: 2px solid $txt-color-style;
  border-bottom: 2px solid $txt-color-style;
}
.plus-mobile-bg{
  display: inline-block;
  width: 24%;
}
.plus-h-item{
  width: 270px;
  height: 320px;
  margin: 0 auto;
  padding:4px 0;
  display: block;
  position: relative;
  overflow: hidden;
}
.plus-h-item:after{
  content:'';
  display: block;
  top: 65px;
  left: 50%;
  margin-left: -122px;
  width: 244px;
  height: 244px;
  box-sizing: border-box;
  position: absolute;
  border-radius: 100%;
  border:1px solid $txt-color-style;
  z-index: 11;
}
.plus-h-icon,
.plus-h-text{
  display: block;
  background: $txt-color-light;
  border-radius: 100%;
  text-align: center;
  margin: 0 auto;
  box-shadow: 0 0 10px 0 rgba(32, 131, 227, 0.45);
}
.plus-h-icon{
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  margin-left: -50px;
}
.plus-h-icon:after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100px;
  height: 40px;
  background: $txt-color-light;
  z-index: 10;
}

.plus_badge_container{
  display: flex;
  align-items: center;
}
.plus_badge_container .badge__icon{
  margin-top: -35px;
}


.plus-hi-brand,
.plus-hi-docs,
.plus-hi-sale,
.plus-hi-delev,
.plus-hi-map,
.plus-hi-chat,
.plus-hi-barter,
.plus-hi-deal{
  top: 15px;
  left: 50%;
  position: absolute;
  display: block;
  overflow: hidden;
}
.plus-hi-brand:after,
.plus-hi-docs:after,
.plus-hi-sale:after,
.plus-hi-delev:after,
.plus-hi-map:after,
.plus-hi-chat:after,
.plus-hi-barter:after,
.plus-hi-deal:after{
  content: '';
  display: block;
  position: absolute;
  background: url(../images/tebemne-sprite.png) no-repeat;
  width: 248px;
  height: 113px;
}

.plus-hi-brand{
  width: 45px;
  height: 40px;
  margin-left:-22px;
}
.plus-hi-brand:after{
  top: -3px;
  left:-160px;
}
.plus-hi-docs{
  width: 38px;
  height: 37px;
  margin-left:-20px;
}
.plus-hi-docs:after{
  top: -3px;
  left:-208px;
}
.plus-hi-sale{
  width: 33px;
  height: 40px;
  margin-left: -17px;
}
.plus-hi-sale:after{
  top:-77px;
  left: -215px;
}
.plus-hi-delev{
  width: 57px;
  height: 35px;
  margin-left: -25px;
}
.plus-hi-delev:after{
  top:-44px;
  left: -145px;
}
.plus-hi-map{
  width: 41px;
  height: 35px;
  margin-left: -20px;
}
.plus-hi-map:after{
  top:-43px;
  left: -99px;
}
.plus-hi-chat{
  width: 49px;
  height: 35px;
  margin-left:-25px;
}
.plus-hi-chat:after{
  top: -45px;
  left: -48px;
}
.plus-hi-barter{
  width: 49px;
  height: 35px;
  margin-left:-25px;
}
.plus-hi-barter:after{
  top: -42px;
  left: -202px;
}
.plus-hi-deal{
  width: 20px;
  height: 20px;
}


.plus-h-text{
  width: 256px;
  height: 256px;
  display: flex;
  margin: 55px auto 0 auto;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
.plus-h-text span{
  display: block;
  width: 100%;
}
.plus-h-title{
  width: 100%;
  height: 200px;
  line-height: 200px;
  text-align: center;
  font-size: Rem(30px);
  text-transform: uppercase;
  color: $txt-color-style;
  font-weight: bold;
}
.plus-ht-title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50px;
  padding: 5px 0;
}
.plus-ht-title,
.plus-ht-title span{
  width: 100%;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: $txt-color;
  font-size: Rem(20px);
  line-height: Rem(20px);
}
.plus-ht-desc{
  padding: 5px 0;
}
.plus-ht-desc,
.plus-ht-desc span{
  position: relative;
  font-size: Rem(16px);
  line-height: Rem(20px);
  z-index: 15;
}


.line-style{
  top:0;
  width: 100%;
  height: 73px;
  position: absolute;
}
.sct-spec,
.plus-home-section,
.home-count-section,
.home-reviews-section{
  position: relative;
  margin: 0;
  padding-top:73px;
}
.sct-spec{
  .line-style{
    background: url(../images/line-f7faff-ffffff.jpg) center no-repeat;
  }
}
.plus-home-section{
  background: #F6FBFF;
  .line-style{
    background: url(../images/line-f7faff-ffffff.jpg) center no-repeat;
  }
}
.home-count-section
{
  background: $bg-home-count;
  z-index: 1;
  .line-style{
    background: url(../images/line-f1f5fa-f7faff.jpg) center no-repeat;
  }
}
.home-reviews-section
{
  .line-style{
    background: url(../images/line-ffffff-f1f5fa.jpg) center no-repeat;
  }
}



.home-count{
  position: relative;
  color: $txt-color-style;
  text-align: center;
  font-size: Rem(200px);
  line-height: Rem(200px);
  font-family: "OpenSans-Bold", sans-serif;
  z-index: -1;
}
.home-count-title{
  text-align: center;
  font-size: Rem(30px);
  line-height: Rem(30px);
  color: $txt-color-style;
  text-transform: uppercase;
  font-family: "OpenSans-Bold", sans-serif;
  font-weight: bold;
  margin:40px 0 90px 0;

}
.home-count-btn{
  width: 100%;
  max-width: 360px;
  height: 50px;
  margin: 0 auto;
}
.home-count-btn .btn{
  display: inline-block;
  text-align: center;
  padding:10px 20px;
  font-size: Rem(16px);
  line-height: Rem(16px);
  background: red;
  border-radius: 50px;
  color: white;
  float: left;
}
.home-count-btn .link{
  position: relative;
  margin:10px 20px;
  font-size: Rem(16px);
  line-height: Rem(16px);
  float: right;
}
.home-count-icon{
  position: relative;
  height: 220px;
}
.home-count-icon:before{
  content: '';
  display: block;
  background: url('../images/macbook.png') center no-repeat;
  width: 100%;
  height: 298px;
  position: absolute;
  z-index: 1;
  top: -70px;
}


.home-store{
  position: relative;
  padding: 115px 0;
  background: #f3f3f3;
  margin:125px 0 0;
  overflow: hidden;
}
.home-icon{
  position: relative;
  width: 50%;
  min-height: 300px;
  float: left;
}
.home-icon:before{
  top:0;
  right: 100px;
  position: absolute;
  content: '';
  display: block;
  background: url('../images/iphone.png') no-repeat;
  width: 661px;
  height: 916px;
  z-index: 1;
}
.home-i-title{
  font-size: Rem(36px);
  line-height: Rem(48px);
  text-transform: uppercase;
  color: $txt-color-style;
  font-family: "OpenSans-Bold", sans-serif;
}
.home-i-desc,
.home-i-desc p{
  margin: 0;
  padding: 0;
  font-size: Rem(18px);
  line-height: Rem(30px);
  font-family: "OpenSans-Bold", sans-serif;
}
.home-i-desc{
  padding-top: 60px;
}
.home-info{
  position: relative;
  width: 50%;
  max-width: 650px;
  float: left;
}
.home-store-link{
  display: block;
  margin-top: 60px;
}
.home-s-app,
.home-s-play{
  display: block;
  overflow: hidden;
  float: left;
  width:260px;
  height: 68px;
  position: relative;
  margin-right: 10px;
}
.home-s-app:before,
.home-s-play:before{
  top:0;
  position: absolute;
  content: ' ';
  display: block;
  background: url('../images/store.png') no-repeat;
  width: 531px;
  height: 68px;
}
.home-s-play:before{
  left: -272px;
}
.home-store-link:before{
  content: '';
  display: block;
  clear: both;
}



@media screen and (min-width: 481px) and (max-width: 1024px) {
  .plus-h-bg{
    display: none;
  }
  .plus-home{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }
  .plus-mobile-bg{
    width: 50%;
    position: relative;
    margin: 0 auto 30px auto;
  }
  .plus-mobile-bg .plus-tablet-bg{
    position: absolute;
    top: 30px;
    width: 100%;
    height: 100%;
    border-top: 2px solid $txt-color-style;
  }
  .plus-ht-title,
  .plus-ht-title span{
    font-size: Rem(16px);
  }

  .review-item{
    width: 450px;
  }
  .home-count{
    font-size: Rem(100px);
    line-height: Rem(165px);
  }

  .home-icon{
    width: 35%;
  }
  .home-icon:before{
    right: 40px;
    width: 400px;
    height: 400px;
    background-size: cover;
  }

  .home-info{
    width: 65%;

  }
  .home-i-title{
    font-size: Rem(26px);
    line-height: Rem(30px);
  }
  .home-i-desc,
  .home-i-desc p{
    padding-top: 10px;
    font-size: Rem(14px);
    line-height: Rem(18px);
  }

  .home-store{
    overflow: hidden;
    padding: 60px 0 0 0;
  }
  .home-store-link{
    margin-top: 30px;
    height: 35px;
  }
  .home-s-app,
  .home-s-play{
    display: inline-block;
    position: relative;
    width: 150px;
    height: 40px;
  }
  .home-s-app:before,
  .home-s-play:before{
    background-size: 100%;
    width: 300px;
    height: 68px;
  }
  .home-s-play:before{
    left: -154px;
  }
}


@media screen and (max-width: 480px) {
  .plus-h-bg{
    display: none;
  }
  .plus-mobile-bg{
    display: block;
    width: 100%;
    height: 340px;
    position: relative;
  }
  .plus-mobile-bg-line-top,
  .plus-mobile-bg-line-bottom{
    width: 50%;
    height: 2px;
    background: $txt-color-style;
    position: absolute;
  }
  .plus-mobile-bg-line-top{
    top: 35px;
  }
  .plus-mobile-bg-line-top.left{
    left: 0;
  }
  .plus-mobile-bg-line-top.right{
    right: 0;
  }
  .plus-mobile-bg-line-bottom{
    bottom: -15px;
  }
  .plus-mobile-bg-line-bottom.left{
    left: 0;
  }
  .plus-mobile-bg-line-bottom.right{
    right: 0;
  }

  .plus-mobile-bg-radius-right,
  .plus-mobile-bg-radius-left{
    width: 160px;
    height: 345px;
    position: absolute;
    overflow: hidden;
    left: 50%;
  }
  .plus-mobile-bg-radius-right.min,
  .plus-mobile-bg-radius-left.min{
    height: 320px;
  }
  .plus-mobile-bg-radius-right.min:before,
  .plus-mobile-bg-radius-left.min:before{
    height: 320px;
  }
  .plus-mobile-bg-radius-right{
    top: 35px;
  }
  .plus-mobile-bg-radius-left{
    top: 35px;
    margin-left: -160px;
  }
  .plus-mobile-bg-radius-right:before,
  .plus-mobile-bg-radius-left:before{
    content: '';
    position: absolute;
    width: 300px;
    height: 345px;
    border: 2px solid #2083e3;
    border-radius: 100%;
    display: block;
    top: 0;
    right: 1px;
    bottom: 0;
  }
  .plus-mobile-bg-radius-right:before{
    right: 1px;
  }
  .plus-mobile-bg-radius-left:before{
    left: 1px;
  }


  .line-style{
    height: 20px;
  }
  .sct-spec, .plus-home-section, .home-count-section, .home-reviews-section{
    padding-top: 30px;
  }


  .plus-h-item{
    display: block;
    width: 300px;
    margin: 0 auto 30px auto;
  }

  .home-count{
    font-size: Rem(60px);
    line-height: Rem(60px);
  }
  .home-count-icon:before{
    top:0;
    height: 200px;
    background-size: contain;
    background-position: center;
  }
  .home-count-title,
  .home-count-section .title{
    margin: 0 0 20px 0;
    font-size: Rem(20px);
  }
  .home-count-btn{
    height: auto;
    padding: 20px 0;
  }
  .home-count-btn .btn,
  .home-count-btn .link{
    float: none;
    width: 230px;
    display: block;
    margin: 0 auto 20px auto;
  }
  .home-count-btn .link{
    width: 130px;
    text-align: center;
    margin-bottom: 20px;
  }

  .home-store{
    margin: 60px 0 0 0;
    padding: 30px 10px;
  }
  .home-icon,
  .home-info{
    width: 100%;
  }
  .home-info{
    z-index: 2;
  }
  .home-i-title{
    font-size: Rem(20px);
    line-height: Rem(22px);
  }
  .home-i-desc{
    width: 90%;
    padding-top: 15px;
  }
  .home-i-desc,
  .home-i-desc p{
    font-family: "Roboto-Regular";
    font-size: Rem(14px);
    line-height: Rem(18px);
  }
  .home-icon{
    position: absolute;
    width: 300px;
    bottom:0;
    right:0;
    z-index: 1;
  }
  .home-icon:before{
    right: -115px;
    top: auto;
    bottom: -70px;
    width: 200px;
    height: 200px;
    background-size: contain;
    transform: rotate(263rad);
  }
  .home-store-link{
    margin-top: 30px;
  }

  .plus-ht-title,
  .plus-ht-title span{
    font-size: Rem(16px);
    line-height: Rem(18px);
  }

  .home-s-app,
  .home-s-play{
    width: 100px;
    height: 25px;
  }
  .home-s-app:before,
  .home-s-play:before{
    background-size: 100%;
    width: 200px;
    height: 68px;
  }
  .home-s-play:before {
    left: -102px;
  }
}