.pay{
  margin: 60px 0;
}
.pay-title{
  margin-bottom: 25px;
  font-size: Rem(20px);
  line-height: Rem(20px);
}
.pay-items{
  position: relative;
  max-width: 1000px;
  margin-left: -5px;
  margin-right: -5px;
  display: flex;
  flex-wrap: wrap;
}
.pay-item{
  min-height: 50px;
  display: inline-block;
  text-decoration: none;
  padding: 10px 10px 10px 70px;
  cursor: pointer;
  width: 320px;
  margin: 5px;
  border:1px solid #DEDEDE;
  overflow: hidden;
  background: white;

  input{
    display: none;
  }

  &-title{
    font-size: Rem(18px);
    line-height: Rem(18px);
    color: #000;
    transition: all .3s;
  }
  &-desc{
    font-size: Rem(13px);
    line-height: Rem(15px);
    color: #848d95;
  }

  &:hover{
    box-shadow: 0 0 10px 0 rgba(32, 131, 227, 0.45);
  }
  &:hover .pay-item-title{
    color: $txt-color-style;

  }
}
.pay-icon{
  width: 50px;
  height: 50px;
  margin-left: -60px;
  display: block;
  float: left;

  img{
    width: 100%;
    height: 100%;
  }
}
.pay-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-height: 50px;
  text-align: left;
}