.product-card{
  overflow: hidden;
  position: relative;
  min-width: 100%;
}
.product-card-main,
.product-card-tools{
  position: relative;
  width: 100%;
  padding:0;
  margin-bottom: 15px;
}
.product-card-main{
  position: relative;
  display: flex;
  flex-direction: column;
}
.product-card-main .ds-slider{
  order: 1;
  margin-bottom: 15px;
}
.product-card-title{
  order: 2;
  position: relative;
  text-align: left;
  font-family: 'Roboto-Bold';
  font-size: Rem(18px);
  line-height: Rem(20px);
  margin-bottom: 15px;
}
.product-card-stat{
  position: absolute;
  bottom: 0;
  right: 0;
  height: 22px;
  margin: 15px 0;
  display: inline-block;
  left: auto;
}
.product-cstat-label{
  display: inline-block;
  margin-right: 5px;
  height: 22px;
  line-height: 22px;
}
.product-cstat-label:first-child{
  display: none;
}
.product-cstat-label span{
  position: relative;
  top: 0;
  left: 0;
  width: 16px;
  height: 10px;
  overflow: hidden;
  display: inline-block;
  margin-right: 5px;
}
.product-cstat-label span:after{
  content: '';
  background: url(../images/tebemne-sprite.png) left no-repeat;
  display: block;
  position: absolute;
  width: 248px;
  height: 113px;
  top: 0;
  left: 0;
}
.product-card-price{
  margin: 10px 0;
  order: 3;
}
.product-cprice,
.product-cprice-icon{
  font-family: "Roboto-Bold";
  font-size: Rem(22px);
  line-height: Rem(22px);
  color: $txt-color-style;
}
.product-cprice-icon{
  font-family: "Ruble";
}

.product-card-info{
  margin-bottom: 25px;
}
.product-card-subscribe,
.product-card-complain{
  display: inline-block;
  font-size: Rem(14px);
  line-height: Rem(16px);
  color: $txt-color-style;
  margin:0 0 15px 0;
  position: relative;
}
.product-card-subscribe:before,
.product-card-complain:before{
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  background: $txt-color-style;
  left: 0;
  bottom: 0;
}
.product-card-favorite,
.product-card-print{
  cursor: pointer;
  display: inline-block;
  position: relative;
  margin:0;
}
.product-card-print span:after{
  content: '';
  background: url(../images/tebemne-sprite.png) no-repeat;
  width: 248px;
  height: 113px;
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
}
.product-card-favorite span{
  position: absolute;
  display: block;
  background: url(../images/vector/stars.svg) 0 -20px no-repeat;
  background-size: 100%;
  width: 20px;
  height: 20px;
  bottom: 0;
  left: 0;
  top: 0;
}
.favorite-active span,
.product-card-favorite:hover span{
  background-position: 0 0;
}
.product-card-print span:after{
  left: -1px;
  top: -23px;
}
.product-card-favorite,
.product-card-print{
  color: $txt-color-dark;
  text-decoration: none;
  font-size: Rem(16px);
  line-height:20px;
  display: inline-block;
  padding-left: 25px;
  position: relative;
}
.product-card-favorite{
  margin-right: 60px;
}
.product-card-print span{
  display: inline-block;
  position: absolute;
  overflow: hidden;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
}
.product-cart-text{
  font-size: Rem(14px);
  line-height: Rem(22px);
  margin-bottom: 15px;
}

span.product-cstat-update:after{
  top: -20px;
  left: -43px;
}
span.product-cstat-view:after{
  top: -32px;
  left: -43px;
}

.product-card .user-card-btn{
  display: flex;
  justify-content: space-evenly;
}
.product-card .user-card-btn .btn{
  font-size: Rem(14px);
  line-height: Rem(35px);
  min-width: 80px;
  cursor: pointer;
}
.product-card-print{
  position: absolute;
  top: 0;
  right:0;
}
.product-property,
.product-cinfo-property{
  width: 100%;
  padding:5px 5px 5px 100px;
  margin-bottom: 15px;
 }
.product-cinfo-property:nth-child(even){
  background: #f2f9ff;
}
.product-property-filed,
.product-property-value{
  display: inline-block;
  font-size: Rem(15px);
  line-height: Rem(20px);
}
.product-property-filed{
  float: left;
  margin-left: -100px;
  font-weight: bold;
  padding-right: 5px;
}
a.product-property-value{
  color: $txt-color-style;
  text-decoration: none;
  cursor: pointer;
}

.product-map{
  margin-bottom: 15px;
}
.product-map-title,
.promo-like-title{
  display: block;
  text-align: center;
  position: relative;
  font-size: Rem(14px);
  line-height: Rem(16px);
  margin-bottom: 15px;
}
.product-tabs-table{
  position: relative;
}
.product-tabs{
  position: relative;
  width: 100%;
  max-width: 480px;
  height: 55px;
  margin-bottom: 15px;
}
.product-tabs-item{
  cursor: pointer;
  float: left;
  width: 50%;
  height: 55px;
  padding: 0 15px;
  text-align: center;
  font-size: Rem(16px);
  line-height: 0;
  display: inline-block;
  border:1px solid $txt-color-style;
  transition: all .3s;
}
.product-tabs-item.active,
.product-tabs-item:hover{
  background: $txt-color-style;
  color: $txt-color-light;
}
.product-tabs-item:first-child{
  padding: 10px 15px;
  line-height: Rem(16px);
}
.product-tabs-item:last-child{
  line-height: Rem(55px);
}
.product-promo{
  margin:15px 0;
}
#slider-carousel{
  margin-bottom: 25px;
}


@media (min-width: 768px) {
  .product-card-main{
    display: block;
    margin-bottom: 60px;
  }
  .product-card-title{
    font-size: Rem(24px);
    line-height: Rem(26px);
  }
  .product-cprice,
  .product-cprice-icon{
    color: $txt-color-dark;
    font-size: Rem(26px);
    line-height: Rem(26px);
  }

  .product-card-main .ds-slider,
  .product-card-tools,
  .product-promo,
  .product-map{
    margin-bottom: 30px;
  }

  .product-card-stat{
    left: 0;
    right: auto;
    bottom: -45px;
  }
  .product-cstat-label:first-child{
    display: inline-block;
  }

  .product-card-favorite,
  .product-card-print{
    position: absolute;
    right: 0;
  }
  .product-card-favorite{
    right: 40px;
  }
  .product-card .user-card-btn{
    width: 100%;
    padding-top: 15px;
    justify-content: center;
  }
  .product-card .user-card-btn .btn{
    margin: 0 8px;
  }
  .product-card-complain{
    position: absolute;
    left:0;
    bottom: -22px;
  }
  .product-card-info{
    margin-bottom: 35px;
  }
  .product-tabs-item:first-child{
    height: 55px;
    padding: 0 10px;
    line-height: 55px;
  }
  .product-map-title,
  .promo-like-title{
    text-align: left;
    font-size: Rem(20px);
    line-height: Rem(22px);
    padding: 3px 0;
    width: 100%;
    position: relative;
  }
  .product-map-title:before,
  .promo-like-title:before{
    content: '';
    width: 100%;
    height: 1px;
    background: $txt-color-style;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .product-promo{
    margin-top: 30px;
  }
}

@media (min-width: 992px) {
  .product-card-main{
    width:100%;
    max-width: 70%;
  }
  .product-card-tools{
    padding-left: 10px;
    margin: 5px 0;
    position: absolute;
    width: 100%;
    max-width: 30%;
    top: 0;
    right:0;
  }
  .product-card-favorite{
    position: relative;
    margin: 0 0 0 30px;
  }
  .product-card .user-card-btn .btn{
    margin: 10px 8px 0 8px;
  }
  .product-card-complain{
    left: 10px;
  }
  .promo-like-list{
    display: flex;
    justify-content: space-evenly;
    margin-left: -24px;
    margin-right: -24px;
  }
}

@media (min-width: 1170px) {
  .product-card-main{
    max-width: 65%;
  }
  .product-card-tools{
    max-width: 35%;
  }
  .product-card .user-card-btn{
    margin-left: -8px;
    justify-content: flex-start;
  }
  .user-cshare-title{
    text-align: left;
  }

}
