.review-scroll{
  max-width: 1000px;
  margin:100px auto 0 auto;
}
.review-item{
  margin:80px auto 10px auto;
  width: 100%;
  height: 500px;
  max-width: 735px;
  box-shadow: 0 0 15px 0 rgba(32, 131, 227, 0.45);
  position: relative;
  padding: 80px 40px 40px 40px;
  z-index: 3;
}
.review-item:before{
  top: -80px;
  margin-left: -80px;
  left: 50%;
  position: absolute;
  content: '';
  display: block;
  width: 160px;
  height: 160px;
  border-radius: 100%;
  box-shadow: 0 0 15px 0 rgba(32, 131, 227, 0.45);
  z-index: 1;
}
.review-item:after{
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: white;
  z-index: 2;
}
.review-top{
  position: absolute;
  z-index: 10;
  overflow: hidden;
  width: 160px;
  height: 160px;
  border-radius: 100%;
  top: -80px;
  left: 50%;
  margin-left: -80px;
}
.review-image{
  position: relative;
  z-index: 9;
  min-width: 120%;
  min-height: 120%;
  max-width: 140%;
  max-height: 140%;
}
.review-title{
  margin:45px 0 0;
  text-align: center;
  font-size: Rem(22px);
  line-height: Rem(24px);
  z-index: 5;
  position: relative;
}
.review-content{
  width: 100%;
  overflow: hidden;
  max-width: 550px;
  max-height: 212px;
  margin: 25px auto 20px auto;
  text-align: center;
  font-size: Rem(16px);
  line-height: Rem(20px);
  z-index: 5;
  position: relative;
}

@media screen and (min-width: 320px) {
  .review-scroll{
    margin: 40px auto 0 auto;
  }
  .review-item{
    width: 245px;
    margin: 70px auto 6px auto;
    padding: 25px 12px 12px 12px;
    height: 360px;
  }
  .review-item:before {
    top: -60px;
    margin-left: -60px;
    width: 120px;
    height: 120px;
  }
  .review-content{
    font-size: Rem(14px);
  }
  .review-top{
    top: -60px;
    margin-left: -60px;
    width: 120px;
    height: 120px;
    min-width: 120px;
    min-height: 120px;
  }
}

@media screen and (min-width: 480px) {
  .review-item{
    width: 400px;
  }
}