.scroll{
  position: relative;
}
.scroll-list:after,
.scroll:after{
  content: ' ';
  width: 100%;
  height: 0;
  display: table;
  clear: both;
}
.scroll-arrow{
  top: 50%;
  position: absolute;
  overflow: hidden;
  width: 21px;
  height: 31px;
  margin-top: -10px;
  cursor: pointer;
  opacity: .9;
  z-index: 2;
}
.scroll-arrow:hover{
  opacity: 1;
}
.scroll-arrow:after{
  content: ' ';
  display: block;
  position: absolute;
  background: url(../images/tebemne-sprite.png) no-repeat;
  width: 248px;
  height: 113px;
  top: 0;
  left: 0;
}
.scroll-arrow-left{
  left: 0;
}
.scroll-arrow-right{
  right: 0;
}
.scroll-arrow-left:after{
  top: -47px;
  left: -3px;
}
.scroll-arrow-right:after{
  top: -47px;
  left: -24px;
}
.scroll-list{
  margin:0 25px;
  position: relative;
  z-index: 1;
}
.scroll-item{
  display: inline-block;
  float: left;
  margin: 0 3px;
  opacity: .9;
  outline: none;
}
.scroll-item:hover{
  opacity: 1;
}
.scroll-link{
  color: $txt-color-ctg;
  text-decoration: none;
}




