.section,
.section-find{
  position: relative;
  margin-top: $padding;
  margin-bottom: $padding;
}
.section:after,
.section-find:after{
  content: ' ';
  display: block;
  clear: both;
}
.section-slider{
  height: 700px;
  position: relative;
}
.section-slider:before{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  top:0;
  left:0;
  bottom: 0;
  background: url(../images/banner.jpg) center bottom no-repeat;
  background-size: cover;
  z-index: -1;
}
.section-find,
.section-category{
  width: 100%;
  max-width: $maxW;
  margin: auto;
  position: relative;
}

.sct-spec{
  background: #f6fbff;
  padding: $padding 0;
}


@media screen and (max-width: 480px) {
  .section-slider{
    height: 400px;
    overflow: hidden;
  }
  .section-slider:before{
    width: 700px;
    margin-left: -270px;
    background-size: cover;
  }

}