$slc-w: 480px;
$slc-h: 55px;

$slc-border: $bg-style;
$slc-text: $txt-color;
$slc-text-hover: $bg-style;
$slc-bg: #f7faff;
$slc-bg-hover: #fff;
$slc-size: Rem(18px);


.select{
  width: 100%;
  max-width: $slc-w;
  position: relative;
  display: block;
  cursor: pointer;
  box-sizing: border-box;
}
.select-check,
.select input{
  display: none;
}
.select-content{
  box-sizing: border-box;
  padding:0 35px 0 12px;
  height: $slc-h;
  width: 100%;
  border: 1px solid $slc-border;
  position: relative;
  transition: all .3s;
  z-index: 2;
}
.select.field-error .select-content{
  border: 1px solid red;
}

.noborder .select-content{
  border: 0;
}
.select-icon{
  display: block;
  position: absolute;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top:6px solid #000;
  top: 50%;
  margin-top:-3px;
  right: 12px;
  box-sizing: border-box;
  z-index: 6;
}
.dropdown .select-icon,
.select-active .select-icon{
  border:0;
  font-size: .7rem;
  line-height: 6px;
  font-family: 'Roboto';
  font-style: normal;
  width: 9px;
  height: 9px;
}
.dropdown .select-icon:after,
.select-active .select-icon:after{
  content: ' ';
  display: block;
  background-image: url(../images/vector/cross.svg);
  background-size: 100%;
  position: absolute;
  top:0;
  left:0;
  right: 0;
  bottom: 0;
}
.dropdown .select-content:before:hover{
  color: $slc-border;
}

.select-content:before,
.select-content:after{
  content: ' ';
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  display: block;
  position: absolute;
  background: $slc-bg;
  z-index: 2;
  transition: all .3s;
}
.select-content:after{
  z-index: 5;
  width: 40px;
  right: 0;
  left: auto;
}
.select:hover .select-content:before,
.select:hover .select-content:after{
  background: $slc-bg-hover;
}
.select-placeholder,
.select-result{
  position: absolute;
  line-height: $slc-h;
  font-size: $slc-size;
  transition: all .3s;
  z-index: 3;
  white-space: nowrap;
  overflow: hidden;
  top: 0;
  left: 12px;
  right: 35px;
  bottom: 0;
}
.select-placeholder{
  color: $slc-text;
  z-index: 3;
}
.select-result{
  z-index: 4;
}

.select-active .select-placeholder{
  left: 0;
  top: -$slc-h + 10px;
  font-family: "Roboto-Bold";
  font-size: Rem(16px);
  line-height: $slc-size/1.05;
  color: $slc-border;
}



.select-lists{
  display: none;
  position: absolute;
  width: 100%;
  min-width: 310px;
  top: $slc-h;
  box-sizing: border-box;
  box-shadow: 0 1px 4px 0 rgba(32, 131, 227, 0.45);
  padding: 12px 0;
  z-index: 10;
  border-radius: 6px;
  max-height: 220px;
  background: white;
}
.select-lst-container{
  overflow: hidden;
  padding: 10px 0;
  max-height: 240px;
}

.select-find{
  display: none;
  width: 100%;
  height: 50px;
  padding: 8px 15px;
}
.select-find-active{
  display: block;
}
.select-find input{
  width: 100%;
  height: 100%;
  padding: 5px;
  border:1px solid $txt-color-style;
  display: block;
}
.select-lst-icon{
  display: none;
  top: -8px;
  left: 8px;
  position: absolute;
  border-bottom: 8px solid $slc-bg;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}
.select-lst-items{
  margin: 0;
  padding:0;
  border-radius: 6px;
  max-height: 175px;
  overflow-x: hidden;
  list-style: none;
  background: white;
}
.select-item{
  cursor: pointer;
  position: relative;
  padding: 8px 15px;
  display: block;
  transition: all .3s;
  z-index: 1;
}
.select-item:hover,
.select-active-item{
  background: $slc-bg-hover;
  color: $slc-text-hover;
}
.select-item:first-child{
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.select-item:last-child{
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.select-item span{
  display: inline-block;
  font-size: $slc-size;
}

.select.dropdown .select-lists{
  display: block;
  z-index: 1000;
}


.slc-input{
  display: block;
  position: relative;
  padding: 0 15px;
  height: 35px;
}
.slc-input:after{
  content: '';
  width: 100%;
  height: 0;
  display: table;
  clear: both;
}
.slc-input-wrap{
  width: 50%;
  height: 100%;
  float: left;
}
.slc-input-wrap:last-child{
  float: right;
  margin-left: -1px;
  width: calc(50% + 1px) !important;
}
.slc-input-wrap:first-child{
  margin-left: 0;
  width: 50%;
  float:left;
}

.slc-input-wrap input{
  border: 1px solid #d8d8d8;
  width: 100%;
  height: 100%;
  outline: none;
  display: block;
  padding: 0 10px;
}
.slc-slider{
  margin-top: 10px;
  height: 35px;
  display: flex;
  align-items: center;
}
.slc-slider-container{
  position: relative;
  margin: 0 15px;
  width: 100%;
  height: 10px;
  border-radius: 0;
  border: 1px solid #d8d8d8;
}
.slc-slider-container .noUi-base{
  top: -1px;
  left: 2px;
  right: 12px;
  bottom: -1px;
  width: auto;
  height: auto;
  position: absolute;
}
.slc-slider-container .noUi-handle{
  border-radius: 100%;
  top: -8px;
  width: 25px;
  height: 25px;
  outline: none;
  cursor: pointer;
  box-shadow: 0 1px 4px 0 rgba(32, 131, 227, 0.45);
  background: white;
}
.slc-slider-container .noUi-connects{

}
.slc-slider-container .noUi-connect{
  background: $txt-color-style;
}
.slc-slider-container .noUi-handle:before,
.slc-slider-container .noUi-handle:after{
  display: none;
}

.office-company .select{
  width: 100%;
  min-width: 100%;
}

.select-multi .select-item:before{
  content: '';
  position: relative;
  background-color: #fff;
  background-position: center center;
  background-repeat: no-repeat;
  vertical-align: middle;
  top: 50%;
  width: 16px;
  height: 16px;
  margin: -8px 6px 0 0;
  border: 1px solid #d8d8d8;
  border-radius: 2px;
  display: inline-block;
}
.select-multi  .select-item.select-active-item:before{
  background-image: url(../images/vector/input-checkbox.svg);
  background-color: $txt-color-style;
  border-color: $txt-color-style;
}


@media screen and (min-width: 480px) and (max-width: 600px) {
  .select-icon{
    right: 8px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #000;
  }
  .select-content{
    height: 40px;
    line-height: 40px;
  }
  .select-result,
  .select-placeholder{
    right: 20px;
    font-size: Rem(14px);
    line-height: 40px;
  }
  .select-content:after{
    width: 25px;
  }
  .select-active .select-placeholder{
    top: -18px;
    font-size: Rem(12px);
    line-height: Rem(12px);
  }

  .select-lists{
    top: 40px;
    min-width: 220px;
  }
  .select-item span{
    font-size: Rem(14px);
    line-height: Rem(14px);
  }
}


@media screen and (max-width: 600px) {

}