.social{
  position: relative;
  display: block;
  margin: auto;

  &_entry{
    margin:5px 0;
  }

  &_header{
    font-size: Rem(16px);
    line-height: Rem(16px);
    display: block;
    position: relative;
    width: 80%;
    margin: 0 auto 20px auto;
    padding: 10px 0;
    text-align: center;
    color: #858585;

    &:before{
      content: '';
      bottom: 0;
      left: 0;
      position: absolute;
      display: block;
      width: 100%;
      height: 1px;
      background: #e3e3e3;
    }
  }

  &_items{
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  &_item{
    text-align: center;
    display: inline-block;
    margin: 0 4px;
    width: 45px;
    height: 45px;
  }

  &_link{
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: 100%;
    text-decoration: none;
    cursor: pointer;

    &__vk{
      background-image: url(../images/vector/vk.svg);
    }
    &__odnoklasniki{
      background-image: url(../images/vector/odnoklassniki.svg);
    }
    &__facebook{
      background-image: url(../images/vector/facebook.svg);
    }
    &__google{
      background-image: url(../images/vector/google-plus.svg);
    }
  }
  &_link_no-color{
    opacity: .5;
  }
  &_link_no-color:hover{
    opacity: 1;
  }

  &_footer,
  &_footer a{
    padding: 0 3px;
    margin-top: 15px;
    font-size: Rem(14px);
    line-height: Rem(18px);
    text-align: center;
    color: #858585;
  }
}
.CSocServVKontakte{
  background-image: url(../images/vector/vk.svg);
}
.CSocServOdnoklassniki{
  background-image: url(../images/vector/odnoklassniki.svg);
}
.CSocServFacebook{
  background-image: url(../images/vector/facebook.svg);
}
.CSocServGooglePlusOAuth{
  background-image: url(../images/vector/google-plus.svg);
}
.CSocServTwitter{
  background-image: url(../images/vector/twitter.svg);
}
.CSocServInstagram{
  background-image: url(../images/vector/instagram.svg);
}