.gn-userbar{
  display: none;
  position: absolute;
  top:$fixed-top-h;
  right:-6px;
  width: 220px;
}
.gn-userbar-item{
  width:100%;
  display: block;
  background: white;
  color: $txt-color-style;
}
.gn-userbar:before,
.gn-userbar:after{
  content: ' ';
  display: block;
  position: absolute;
  width:100%;
  height: 10px;
  background: white;
  left: 0;
}
.gn-userbar:before{
  top: -10px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.gn-userbar:after{
  bottom:-10px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.gn-userbar .gn-userbar-link{
  display: block;
  width: 100%;
  line-height: 1rem;
  font-size: 1rem;
  color: $txt-color-style;
  padding:8px 5px;
  text-decoration: underline;
}