.user-info {
  position: relative;
  text-decoration:none;

  &_inline {
    display: flex;
    align-items: center;
  }
  &__image{
    width: 24px;
    height: 24px;
  }
  &__nickname{
    margin-left: 8px;
    font-size: 13px;
    color: #414b50;
    font-weight: 700;
  }
}



.dropdown-btn{
  cursor: pointer;
  transition: none;
}
.dropdown-title{
  font-size: Rem(18px);
  position: relative;
  cursor: pointer;
  transition: none;
}
.dropdown-title:before{
  content: '';
  background-color: #2cae4f;
  width: 0;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: 0;
  display: inline-block;
  -webkit-transition: all .3s;
  transition: all .3s;
  z-index: 2;
}
.dropdown-title:hover:before{
  width:100%;
}
.dropdown-title:after{
  content: ' ';
  background-color: #ffffff;
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: 0;
  display: inline-block;
  z-index: 1;
}
.dropdown-arrow{
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  right: -15px;
  margin-top: -3px;
  border-top: 5px solid white;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}
.dropdown-menu{
  width: 200px;
  margin-left: -50px;
  background: white;
  max-height: 0;
  list-style: none;
  overflow: hidden;
  position: absolute;
  left:0;
}
.dropdown:hover .dropdown-menu{
  max-height: 1000px;
  padding:15px 0;
}
.dropdown-item{
  display: block;
  width: 100%;
  line-height: 20px;
  padding: 0;
}
.dropdown-link{
  display: block;
  font-size: Rem(14px);
  line-height: 20px;
  text-decoration: none;
  padding: 0 15px;
}
.dropdown-clear{
  display: none;
  width: 100%;
  height: 0;
  clear: both;
}
.dropdown-item-icon{}
.dropdown-item-title{
  display: block;
  color: $txt-color-dark;
  font-size: Rem(14px);
  line-height: Rem(14px);
  padding: 10px 0;
}
.dropdown-item-title:hover{
  color: $txt-color-style;
}
.userbar{
  height: 70px;
}

.item-menu{
  .gn-icon{
    left: 0;
  }
  &.dropdown{
    height: 100%;
  }
  & .dropdown-btn{
    height: 100%;
  }
  & .dropdown-menu{
    margin-left: -175px;
  }
}

.header-scroll{
  .dropdown-title{
    font-size: Rem(14px);
  }
  .dropdown-title:before,
  .dropdown-title:after{
    bottom: -2px;
  }
  .dropdown-link{
    line-height: 15px;
  }
  .userbar{
    height: 40px;
    transition: none;
    & .dropdown-btn{
      height: 40px;
    }
  }
}

.user-card{
  position: relative;
  margin:30px 0;
}
.user-card-share{
  margin-bottom: 15px;
  padding: 15px 0;
}
.user-card-count{
  text-decoration: none;
  margin-top: 10px;
  font-size: Rem(14px);
  line-height: Rem(14px);
  color: $txt-color-style;
  display: inline-block;
  position: relative;
  cursor: pointer;
}
.user-card-count:before{
  content: '';
  width: 100%;
  height: 1px;
  background: $txt-color-style;
  position: absolute;
  display: block;
  bottom: -2px;
  left: 0;
}
.user-card-btn{
  display: block;
  margin: 15px 0 0 0;
}
.user-card-info{
  display: flex;
  width: 100%;
  float: left;
}
.user-cinfo-image{
  overflow: hidden;
  width: 75px;
  height:75px;
  min-width: 75px;
  min-height: 75px;
  border-radius: 100%;
}
.user-cinfo-image img{
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
}
.user-card-rating,
.user-cinfo-wrap{
  min-width: 160px;
  display: flex;
  flex-direction: column;
  margin-left: 12px;
  align-items: end;
  justify-content: center;
}
.user-card-rating{
  display: none;
  min-width: 0;
}
.user-cinfo-title,
.user-cinfo-phone{
  font-size: Rem(16px);
  line-height: Rem(16px);
  margin: 4px 0;
  display: inline-block;
  position: relative;
}
.user-cinfo-title{
  font-weight: bold;
}
.user-cinfo-phone{
  cursor: pointer;
  font-size: Rem(15px);
  line-height: Rem(15px);
  max-width: 160px;
  position: relative;
  color: $txt-color-style;
  display: inline-block;
}
.user-cinfo-phone:after{
  content: '';
  width: 100%;
  height: 1px;
  background: $txt-color-style;
  bottom: -2px;
  left: 0;
  position: absolute;
  display: inline-block;
}
.user-cshare-title{
  display: block;
  font-weight: bold;
  color: $txt-color-dark;
  font-size: Rem(14px);
  line-height: Rem(16px);
  margin:0 0 15px 0;
  text-align: center;
}
.user-cshare-contener{
  width: 185px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}
.user-cshare-contener:after{
  content: none;
}
.user-cshare-item{
  position: relative;
  width: 37px;
  height: 35px;
  overflow: hidden;
  float: left;
  padding: 0 5px;
  cursor: pointer;
}
.user-cshare-item:after{
  content: '';
  display: block;
  position: absolute;
  background: url(../images/share.png) left no-repeat;
  top: 0;
  left: 0;
  width: 150px;
  height: 35px;
}
.user-cshare-icon-vk:after{
  left: 0;
}
.user-cshare-icon-fb:after{
  left: -37px;
}
.user-cshare-icon-google:after{
  left: -75px;
}
.user-cshare-icon-twitter:after{
  left: -115px;
}


@media (min-width: 768px) {
  .user-card-info{
    max-width: 450px;
  }
  .user-cinfo-wrap{
    max-width: 350px;
  }
  .user-card-rating{
    display: flex;
  }
  .user-card-count{
    position: absolute;
    top: 30px;
    right: 0;
  }
}

@media (min-width: 992px) {
  .user-card{
    width: 100%;
    min-width: 100%;
    margin: 60px 0 15px 0;
  }
  .user-card-count{
    position: relative;
    display: inline-block;
    margin: 0 0 35px 0;
  }
  .user-card-info{
    max-width: 100%;
  }
  .user-cshare-title{
    text-align: left;
  }
  .user-cshare-contener{
    margin: 0 -8px 0 -8px;
  }
}


