// ---------------------------------------
// COLOR

$txt-color: #3c3c3c;
$txt-color-ctg: #2083e3;
$txt-color-light: #ffffff;
$txt-color-dark: #333333;
$txt-color-gray: #e3e3e3;
$txt-color-bg: #ffffff;
$txt-color-active: #ed0032;
$txt-color-style: #2083e3;

$bg: #ffffff;
$bg-style: #2083e3;
$bg-red: #ed0032;
$bg-green: #129548;

$bg-package: #f8f8f8;
$bg-filter: #f1f2f2;
$bg-select: #e6e7e8;
$bg-select-dark: #dcdcdd;
$bg-dark: #f8f8f8;
$bg-gray: #414042;
$bg-gray-light: #504f51;
$bg-green: #2cae4f;
$bg-green-dark: #129548;

$bg-home-count: #f1f5fa;


// ---------------------------------------
// SIZE

$maxW: 1300px;
$paddings: 40px 0; // отступы между разделами
$padding: 40px;


$fixed-top-h: 70px; // высота шапки



@function Rem($size) {
  $remSize: $size / 13px;
  @return #{$remSize}rem;
}