body.ui-window{
  overflow: hidden !important;
}
.ui-dialog,
.ui-widget-overlay{
  display: none !important;
}

#dialog{
  padding: 25px;
  width: 100% !important;
  max-width: 470px !important;
  display: flex;
  position: relative;
  margin: auto;
  border: 1px solid #e3e3e3;
  background: white;
  box-shadow: 0 0 10px 0 rgba(32, 131, 227, 0.45);
  z-index: 5100;
}
#dialog-body{
  overflow: hidden;
  min-width: 100%;
}
#dialog-close{
  position: absolute;
  cursor: pointer;
  top: 10px;
  right: 10px;
  width: 14px;
  height: 14px;
  outline: none;
  background: url(close.svg) no-repeat;
  background-size: 100%;
  display: block;
  border:none;
}
#dialog-container{
  position: fixed;
  top: 0 !important;
  right: 0;
  bottom: 0 !important;
  left: 0;
  z-index: 5000;
  display: none;
  flex-direction: column;
  box-sizing: border-box;
  overflow: auto;
  background: white;
}
.ui-window #dialog-container{
  display: flex;
}
#dialog-container::after,
#dialog-container::before {
  content: '';
  display: block;
  height: 100px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}