.ds-slider {
  position: relative;
  width: 100%;
  max-width: 780px;
  height: 340px;
}
.ds-slider-list .ds-current{
  padding:0 0 0 170px;
}
.ds-slider-list.ds-slider-right .ds-current{
  padding: 0 170px 0 0;
}


.ds-slider img{
  width: 100%;
  height: 100%;
}
.ds-current{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.ds-current-items{
  width: 100%;
  height: 340px;
  overflow: hidden;
  position: relative;
  top: 0;
  left:0;
  z-index: 1;
}
.ds-current-item{
  position: absolute;
  height: 340px;
  width: 100%;
  max-width: 780px;
  z-index: 2;
  top: 0;
  left:0;
}
.ds-list{
  display: none;
  width: 140px;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top:0;
  left: 0;
}
.ds-slider-list .ds-list{
  display: block;
}
.ds-slider-right .ds-list{
  right:0;
  left: auto;
}
.ds-slider-list .ds-list{
  width: 140px;
}
.ds-list-items{
  position: absolute;
  top:0;
  left:0;
}
.ds-list-item{
  overflow: hidden;
  cursor: pointer;
  width: 140px;
  height: 95px;
  margin-bottom: 30px;
}
.ds-arrow-up,
.ds-arrow-down{
  position: absolute;
  width: 41px;
  height: 20px;
  cursor: pointer;
  left: 52px;
  overflow: hidden;
}
.ds-slider-right .ds-arrow-up,
.ds-slider-right .ds-arrow-down{
  right: 52px;
  left: auto;
}

.ds-arrow-up{
  top: -25px;
}
.ds-arrow-down{
  bottom: -25px;
}

.ds-arrow-up:after,
.ds-arrow-down:after{
  content: '';
  background: url(../../images/arrow-full.png) no-repeat;
  width: 41px;
  height: 77px;
  position: absolute;
  display: block;
  top:0;
  left:0;
}
.ds-arrow-up:after{
  top: -35px;
}
.ds-arrow-down:after{
  top: -56px;
}