#ymap-widget-tooltip {
  opacity: 0;
  text-align: center;
  color: #000;
  background: white;
  position: absolute;
  z-index: 100;
  padding: 15px;
  pointer-events: none;
  border-radius: 5px;
  display: none;
}

#ymap-widget-tooltip.top {
  margin-top: 20px;
}

#ymap-widget-tooltip.show {
  opacity: 1;
  display: list-item;
  margin-top: 10px;
  pointer-events: all;
  box-shadow: 0 0 10px 0 rgba(32, 131, 227, 0.45);
}

#ymap-widget-tooltip.show.top {
  margin-top: 10px;
}

#ymap-widget-tooltip:after {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid white;
  content: '';
  position: absolute;
  left: 50%;
  bottom: -10px;
  margin-left: -10px;
}

#ymap-widget-tooltip.top:after {
  border-top-color: transparent;
  border-bottom: 10px solid white;
  top: -20px;
  bottom: auto;
}

#ymap-widget-tooltip.left:after {
  left: 10px;
  margin: 0;
}

#ymap-widget-tooltip.right:after {
  right: 10px;
  left: auto;
  margin: 0;
}

.ymap-widget-tooltip-content {
  width: 300px;
  text-align: left;
  line-height: 1.5rem;
  background: white;
  min-height: 80px;
  position: relative;
}
.ymap-widget-tooltip-image {
  width: 80px;
  height: 80px;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
}
.ymap-widget-tooltip-image img{
  min-width: 100%;
  min-height: 100%;
  max-width: 100px;
  max-height: 100px;
}
.ymap-widget-tooltip-info{
  position: relative;
  width: 100%;
  padding-left: 95px;
}

.ymap-widget-tooltip-content .point-name{
  font-size: 14px;
  line-height: 16px;
}
.ymap-widget-tooltip-content .price {
  font-size: 16px;
  line-height: 18px;
  font-family: 'Ruble';
}
