.window{
  margin: 0 auto;
  padding: 0;
  width: 100%;
  min-width: 265px;
  max-width: 480px;

  &_header{
    font-size: Rem(20px);
    line-height: Rem(20px);
    position: relative;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 5px;
    margin-bottom: 15px;

    &:before{
      content: '';
      width: 40px;
      height: 2px;
      background: #2083e3;
      position: absolute;
      display: block;
      left: 50%;
      margin-left:-20px;
      bottom: 0;
    }
  }

  .btn{
    display: block;
    margin: 15px auto 0 auto;
    min-width: 140px;
  }

  .input{
    height: 45px;

    &-placeholder{
      line-height: 45px;
      color:  #2083e3;
    }

    &.active .input-placeholder{
      top: -22px;
      line-height: 22px;
    }
  }
}