.edit-table{

}
.edit-table td{
    vertical-align: top;
    line-height: 25px;
}
.custom-textarea{
    width: 100%;
    max-width: 400px;
    min-height: 50px;
}
.custom-bottom{
    border-bottom: 1px solid #e2e2e2;
}
.custom-td-title{
    font-size: 14px;
    font-weight: bold;
}

.admin-images{
    display:flex;
    flex-wrap: wrap;
    min-width: 180px;
}
.admin-image{
    overflow: hidden;
    width: 75px;
    height: 75px;
    background: white;
    margin: 0 5px 5px 5px;
    border: 1px solid #d6d6d6;
}
.admin-image img {
    max-width: 100%;
    max-height: 75px;
    min-height: 100%;
}

.admin-items{
    min-width: 180px;
}