extends templates/index.pug

block body
    div.main
        div.section
            div.content
                div.crumbs
                    div.crumbs-item
                        a(href="#").crumbs-link Главная
                    div.crumbs-item: span /
                    div.crumbs-item
                        span.crumbs-inline Подать объявление
                div.title.office-title Подать объявление
                div.ads-add
                    div.category-list-title Выберите категорию:
                    div.category-list
                        div.category-item
                            a(href="/ads-add-prop.html").category-link
                                div(style="background: url(/images/аграрныйрынок.svg) center no-repeat;background-size: contain;").category-icon
                                div.category-title Аграрный рынок
                            div.category-sub-list
                                a(href="#").category-sub-link Сельхозкултуры
                                a(href="#").category-sub-link Продукты переработки
                                a(href="#").category-sub-link Корма
                                a(href="#").category-sub-link Техника и оборудование
                                a(href="#").category-sub-link Агросредства
                                a(href="#").category-sub-link Сельхоз Услуги
                        div.category-item
                            a(href="/ads-add-prop.html").category-link
                                div(style="background: url(/images/недвижимость.svg) center no-repeat;background-size: contain;").category-icon
                                div.category-title Недвижимость
                            div.category-sub-list
                                a(href="#").category-sub-link Квартиры
                                a(href="#").category-sub-link Комнаты
                                a(href="#").category-sub-link Дома, дачи, котеджи
                                a(href="#").category-sub-link Земельные участки
                                a(href="#").category-sub-link Гаражи и машиноместа
                                a(href="#").category-sub-link Коммерческая недвижимость
                                a(href="#").category-sub-link Недвижимость за рубежом
                        div.category-item
                            a(href="/ads-add-prop.html").category-link
                                div(style="background: url(/images/общепит.svg) center no-repeat;background-size: contain;").category-icon
                                div.category-title Общепит
                            div.category-sub-list
                                a(href="#").category-sub-link Кафе
                                a(href="#").category-sub-link Рестораны
                                a(href="#").category-sub-link Бары
                                a(href="#").category-sub-link Доставка
                                a(href="#").category-sub-link Кофейни
                                a(href="#").category-sub-link Быстрое питание
                                a(href="#").category-sub-link Суши-бары
                                a(href="#").category-sub-link Столовые
                                a(href="#").category-sub-link Пиццерия
                                a(href="#").category-sub-link Фастфудные киоски
                                a(href="#").category-sub-link Безалкогольные напитки
                                a(href="#").category-sub-link Готовые блюда
                                a(href="#").category-sub-link Рюмочные
                                a(href="#").category-sub-link Чайные клубы
                                a(href="#").category-sub-link Кейтеринг
                                a(href="#").category-sub-link Кафе
                                a(href="#").category-sub-link Рестораны
                                a(href="#").category-sub-link Бары
                                a(href="#").category-sub-link Доставка
                                a(href="#").category-sub-link Кофейни
                                a(href="#").category-sub-link Быстрое питание
                                a(href="#").category-sub-link Суши-бары
                                a(href="#").category-sub-link Столовые
                                a(href="#").category-sub-link Пиццерия
                                a(href="#").category-sub-link Фастфудные киоски
                                a(href="#").category-sub-link Безалкогольные напитки
                                a(href="#").category-sub-link Готовые блюда
                                a(href="#").category-sub-link Рюмочные
                                a(href="#").category-sub-link Чайные клубы
                                a(href="#").category-sub-link Кейтеринг
                            a.category-sub-btn показать еще
                        div.category-item
                            a(href="/ads-add-prop.html").category-link
                                div(style="background: url(/images/транспорт.svg) center no-repeat;background-size: contain;").category-icon
                                div.category-title Автомобили
                            div.category-sub-list
                                a(href="#").category-sub-link Автомобили
                                a(href="#").category-sub-link Мотоциклы и мототехника
                                a(href="#").category-sub-link Грузовики и спецтехника
                                a(href="#").category-sub-link Водный транспорт
                                a(href="#").category-sub-link Запчасти и аксессуары
                                a(href="#").category-sub-link Коммерческий транспорт
                        div.category-item
                            div(style="background: url(/images/электрика.svg) center no-repeat;background-size: contain;").category-icon
                            div.category-title Электрика
                        div.category-item
                            div(style="background: url(/images/автосервис.svg) center no-repeat;background-size: contain;").category-icon
                            div.category-title Автосервис
                        div.category-item
                            div(style="background: url(/images/медицина.svg) center no-repeat;background-size: contain;").category-icon
                            div.category-title Медицина
                        div.category-item
                            div(style="background: url(/images/автотовары.svg) center no-repeat;background-size: contain;").category-icon
                            div.category-title Автотовары
                        div.category-item
                            div(style="background: url(/images/туризм.svg) center no-repeat;background-size: contain;").category-icon
                            div.category-title Туризм
                        div.category-item
                            div(style="background: url(/images/спецмагазин.svg) center no-repeat;background-size: contain;").category-icon
                            div.category-title Спецмагазины
                        div.category-item
                            div(style="background: url(/images/продукты.svg) center no-repeat;background-size: contain;").category-icon
                            div.category-title Продукты
                        div.category-item
                            div(style="background: url(/images/спорт.svg) center no-repeat;background-size: contain;").category-icon
                            div.category-title Спорт
                        div.category-item
                            div(style="background: url(/images/образование.svg) center no-repeat;background-size: contain;").category-icon
                            div.category-title Образование
                        div.category-item
                            div(style="background: url(/images/красота.svg) center no-repeat;background-size: contain;").category-icon
                            div.category-title Красота
                        div.category-item
                            div(style="background: url(/images/развлечение.svg) center no-repeat;background-size: contain;").category-icon
                            div.category-title Развлечение
                        div.category-item
                            div(style="background: url(/images/одеждадлямужчин.svg) center no-repeat;background-size: contain;").category-icon
                            div.category-title Одежда для мужчин
                        div.category-item
                            div(style="background: url(/images/одеждадляженщин.svg) center no-repeat;background-size: contain;").category-icon
                            div.category-title Одежда для женщин
                        div.category-item
                            div(style="background: url(/images/ремонтстройка.svg) center no-repeat;background-size: contain;").category-icon
                            div.category-title Ремонт. Стройка
                        div.category-item
                            div(style="background: url(/images/промышленныетовары.svg) center no-repeat;background-size: contain;").category-icon
                            div.category-title Промышленные товары
                        div.category-item
                            div(style="background: url(/images/услуги.svg) center no-repeat;background-size: contain;").category-icon
                            div.category-title Услуги
                        div.category-item
                            div(style="background: url(/images/другое.svg) center no-repeat;background-size: contain;").category-icon
                            div.category-title Другое
