extends templates/index.pug

block body
    div.main
        div.section
            div.content
                div.crumbs
                    div.crumbs-item
                        a(href="#").crumbs-link Главная
                    div.crumbs-item: span /
                    div.crumbs-item
                        span.crumbs-inline Подать объявление
                div.title.office-title Подать объявление
                div.ads-nav-container
                    a(href="/ads-add.html" title="изменить").ads-nav-container--icon: img(src=require("./images/vendor/аграрныйрынок.svg"))
                    div.ads-nav-container--title Аграрный рынок
                div.form
                    form(data-form="ads-add" data-form-test="1" enctype="multipart/form-data")
                        input(type="hidden" name="field[location][lat]" value="")
                        input(type="hidden" name="field[location][lng]" value="")
                        div.form-group
                            div.form-field
                                div.form-field--label Категория
                                    span.form-field--important
                                div.form-field--param
                                    div.select.form-field-select.select_field_category
                                        div.select-content
                                            i.select-icon
                                            div.select-result
                                        div.select-lists
                                            i.select-lst-icon
                                            div.select-find
                                                input(type="text").select-find-input
                                            div.select-lst-container
                                                ul.select-lst-items
                                                    li(data-for="slc_sub_0").select-item: span Сельхозкультура
                                                    li(data-for="slc_sub_1").select-item: span Продукты переработки
                                                    li(data-for="slc_sub_2").select-item: span Корма
                                                    li(data-for="slc_sub_3").select-item: span Техника и оборудование
                                                    li(data-for="slc_sub_4").select-item: span Агросредства
                                                    li(data-for="slc_sub_5").select-item: span Сельхоз Услуги
                                        div.select-check
                                            input(name="field[category][0]" id="slc_sub_0" type='checkbox' value='0' checked)
                                            input(name="field[category][1]" id="slc_sub_1" type='checkbox' value='1')
                                            input(name="field[category][2]" id="slc_sub_2" type='checkbox' value='2')
                                            input(name="field[category][3]" id="slc_sub_3" type='checkbox' value='3')
                                            input(name="field[category][4]" id="slc_sub_4" type='checkbox' value='4')
                                            input(name="field[category][5]" id="slc_sub_5" type='checkbox' value='5')

                            div.form-field
                                div.form-field--label Тип
                                div.form-field--param
                                    div.select.form-field-select.select_field_type
                                        div.select-content
                                            i.select-icon
                                            div.select-result
                                        div.select-lists
                                            i.select-lst-icon
                                            div.select-find
                                                input(type="text").select-find-input
                                            div.select-lst-container
                                                ul.select-lst-items
                                                    li(data-for="slc_type_0").select-item: span Пшеница
                                                    li(data-for="slc_type_1").select-item: span Ячмень
                                                    li(data-for="slc_type_2").select-item: span Рожь
                                                    li(data-for="slc_type_3").select-item: span Овес
                                                    li(data-for="slc_type_4").select-item: span Подсолнечник
                                                    li(data-for="slc_type_5").select-item: span Рис
                                                    li(data-for="slc_type_6").select-item: span Гречка
                                                    li(data-for="slc_type_7").select-item: span Пшено
                                                    li(data-for="slc_type_8").select-item: span Просо
                                                    li(data-for="slc_type_9").select-item: span Кукуруза
                                                    li(data-for="slc_type_10").select-item: span Картофель
                                                    li(data-for="slc_type_11").select-item: span Горох
                                        div.select-check
                                            input(name="field[type][0]" id="slc_type_0" type='checkbox' value='0' checked)
                                            input(name="field[type][1]" id="slc_type_1" type='checkbox' value='1')
                                            input(name="field[type][2]" id="slc_type_2" type='checkbox' value='2')
                                            input(name="field[type][3]" id="slc_type_3" type='checkbox' value='3')
                                            input(name="field[type][4]" id="slc_type_4" type='checkbox' value='4')
                                            input(name="field[type][5]" id="slc_type_5" type='checkbox' value='5')
                                            input(name="field[type][6]" id="slc_type_6" type='checkbox' value='6')
                                            input(name="field[type][7]" id="slc_type_7" type='checkbox' value='7')
                                            input(name="field[type][8]" id="slc_type_8" type='checkbox' value='8')
                                            input(name="field[type][9]" id="slc_type_9" type='checkbox' value='9')
                                            input(name="field[type][10]" id="slc_type_10" type='checkbox' value='10')
                                            input(name="field[type][11]" id="slc_type_11" type='checkbox' value='11')
                            div.form-field
                                div.form-field--label Название
                                    span.form-field--important
                                div.form-field--param
                                    div.form-field-input
                                        input(name="field[title]" type="text").form-field-input-tag
                            div.form-field
                                div.form-field--label Цена
                                    span.form-field--important
                                div.form-field--param
                                    div.form-field-input.form-field-input-price
                                        input(name="field[price]" type="text").form-field-input-tag
                                    div.form-field--price a
                            div.form-field
                                div.form-field--label Фотографии
                                    span.form-field--important
                                div.form-field--param.form-field--param-container
                                    label.field-file
                                        input(name="field[images][1]" type="file" accept="image/jpeg,image/png,image/gif")
                                        image.field-file--preview
                                        div.field-file--action Добавить фото
                                    label.field-file
                                        input(name="field[images][2]" multiple="multiple" type="file" accept="image/jpeg,image/png,image/gif")
                                        image.field-file--preview
                                        div.field-file--action Добавить фото
                                    label.field-file
                                        input(name="field[images][]" type="file" accept="image/jpeg,image/png,image/gif")
                                        image.field-file--preview
                                        div.field-file--action Добавить фото
                                    label.field-file
                                        input(name="field[images][]" type="file" accept="image/jpeg,image/png,image/gif")
                                        image.field-file--preview
                                        div.field-file--action Добавить фото
                                    label.field-file
                                        input(name="field[images][]" type="file" accept="image/jpeg,image/png,image/gif")
                                        image.field-file--preview
                                        div.field-file--action Добавить фото
                                    label.field-file
                                        input(name="field[images][]" type="file" accept="image/jpeg,image/png,image/gif")
                                        image.field-file--preview
                                        div.field-file--action Добавить фото5
                            div.form-field
                                div.form-field--label Описание
                                div.form-field--param
                                    div.form-field-textarea
                                        textarea(name="field[text]").form-field-textarea-tag

                        div(id="section-property")
                            div.form-group
                                div.title.office-title Параметры
                            div.form-group
                                div.form-field
                                    div.form-field--label Год урожая
                                    div.form-field--param
                                        div.select.form-field-select
                                            div.select-content
                                                i.select-icon
                                                div.select-result
                                            div.select-lists
                                                i.select-lst-icon
                                                div.select-find
                                                    input(type="text").select-find-input
                                                div.select-lst-container
                                                    ul.select-lst-items
                                                        li(data-for="slc_0").select-item: span 2018
                                                        li(data-for="slc_1").select-item: span 2017
                                                        li(data-for="slc_2").select-item: span 2016
                                                        li(data-for="slc_3").select-item: span 2015
                                                        li(data-for="slc_4").select-item: span 2014
                                                        li(data-for="slc_5").select-item: span 2013
                                            div.select-check
                                                input(name="field[1][0]" id="slc_0" type='checkbox' value='0' checked)
                                                input(name="field[1][1]" id="slc_1" type='checkbox' value='1')
                                                input(name="field[1][2]" id="slc_2" type='checkbox' value='2')
                                                input(name="field[1][3]" id="slc_3" type='checkbox' value='3')
                                                input(name="field[1][4]" id="slc_4" type='checkbox' value='4')
                                                input(name="field[1][5]" id="slc_5" type='checkbox' value='5')
                            div.form-group
                                div.form-field
                                    div.form-field--label Влажность
                                    div.form-field--param
                                        div.select.select-slider
                                            div.select-content
                                                i.select-icon
                                                div.select-result
                                            div.select-lists
                                                i.select-lst-icon
                                                div.slc-slider-wrap
                                                    div.slc-input
                                                        div.slc-input-wrap: input(name="field[2]" type="text" placeholder="до" value="" data-start="1" data-max="100").slc-slider-to
                                                    div.slc-slider
                                                        div(id='slier1').slc-slider-container
                            div.form-group
                                div.form-field
                                    div.form-field--label Сорная примясь
                                    div.form-field--param
                                        div.select.select-slider
                                            div.select-content
                                                i.select-icon
                                                div.select-result
                                            div.select-lists
                                                i.select-lst-icon
                                                div.slc-slider-wrap
                                                    div.slc-input
                                                        div.slc-input-wrap: input(name="field[3]" type="text" placeholder="до" value="" data-start="1" data-max="100").slc-slider-to
                                                    div.slc-slider
                                                        div(id='slider2').slc-slider-container
                            div.form-group
                                div.form-field
                                    div.form-field--label Клейковина
                                    div.form-field--param
                                        div.select.select-slider
                                            div.select-content
                                                i.select-icon
                                                div.select-result
                                            div.select-lists
                                                i.select-lst-icon
                                                div.slc-slider-wrap
                                                    div.slc-input
                                                        div.slc-input-wrap: input(name="field[4]" type="text" placeholder="до" value="" data-start="1" data-max="100").slc-slider-to
                                                    div.slc-slider
                                                        div(id='slider3').slc-slider-container
                            div.form-group
                                div.form-field
                                    div.form-field--label Клоп до
                                    div.form-field--param
                                        div.select.select-slider
                                            div.select-content
                                                i.select-icon
                                                div.select-result
                                            div.select-lists
                                                i.select-lst-icon
                                                div.slc-slider-wrap
                                                    div.slc-input
                                                        div.slc-input-wrap: input(name="field[5]" type="text" placeholder="до" value="" data-start="1" data-max="100").slc-slider-to
                                                    div.slc-slider
                                                        div(id='slider4').slc-slider-container
                            div.form-group
                                div.form-field
                                    div.form-field--label Протеин
                                    div.form-field--param
                                        div.select.select-slider
                                            div.select-content
                                                i.select-icon
                                                div.select-result
                                            div.select-lists
                                                i.select-lst-icon
                                                div.slc-slider-wrap
                                                    div.slc-input
                                                        div.slc-input-wrap: input(name="field[6]" type="text" placeholder="до" value="" data-start="1" data-max="100").slc-slider-to
                                                    div.slc-slider
                                                        div(id='slider5').slc-slider-container
                            div.form-group
                                div.form-field
                                    div.form-field--label Натура от
                                    div.form-field--param
                                        div.select.select-slider
                                            div.select-content
                                                i.select-icon
                                                div.select-result
                                            div.select-lists
                                                i.select-lst-icon
                                                div.slc-slider-wrap
                                                    div.slc-input
                                                        div.slc-input-wrap: input(name="field[7]" type="text" placeholder="от" value="" data-start="1" data-max="100").slc-slider-to
                                                    div.slc-slider
                                                        div(id='slider6').slc-slider-container
                            div.form-field
                                div.form-field--label Фузория до
                                div.form-field--param
                                    div.select.select-slider
                                        div.select-content
                                            i.select-icon
                                            div.select-result
                                        div.select-lists
                                            i.select-lst-icon
                                            div.slc-slider-wrap
                                                div.slc-input
                                                    div.slc-input-wrap: input(name="field[8]" type="text" placeholder="до" value="" data-start="1" data-max="100").slc-slider-to
                                                div.slc-slider
                                                    div(id='slider7').slc-slider-container
                            div.form-field
                                div.form-field--label Семена подсолнечника не более
                                div.form-field--param
                                    div.select.select-slider
                                        div.select-content
                                            i.select-icon
                                            div.select-result
                                        div.select-lists
                                            i.select-lst-icon
                                            div.slc-slider-wrap
                                                div.slc-input
                                                    div.slc-input-wrap: input(name="field[9]" type="text" placeholder="не более" value="" data-start="1" data-max="100").slc-slider-to
                                                div.slc-slider
                                                    div(id='slider8').slc-slider-container
                            div.form-field
                                div.form-field--label Зерновая примясь до
                                div.form-field--param
                                    div.select.select-slider
                                        div.select-content
                                            i.select-icon
                                            div.select-result
                                        div.select-lists
                                            i.select-lst-icon
                                            div.slc-slider-wrap
                                                div.slc-input
                                                    div.slc-input-wrap: input(name="field[10]" type="text" placeholder="до" value="" data-start="1" data-max="100").slc-slider-to
                                                div.slc-slider
                                                    div(id='slider9').slc-slider-container
                            div.form-field
                                div.form-field--label Цвет
                                div.form-field--param
                                    div.form-color
                                        label.form-color-item
                                            input(name="field[12]" type="radio").form-color-item--tag
                                            i.from-color-item--wrapper.from-color-item--10
                                            div.form-tool.form-tool--top
                                                i.form-tool--arrow
                                                | белый
                                        label.form-color-item
                                            input(name="field[12]" type="radio").form-color-item--tag
                                            i.from-color-item--wrapper.from-color-item--20
                                            div.form-tool.form-tool--top
                                                i.form-tool--arrow
                                                | серый
                                        label.form-color-item.active
                                            input(name="field[12]" type="radio").form-color-item--tag
                                            i.from-color-item--wrapper.from-color-item--30
                                            div.form-tool.form-tool--top
                                                i.form-tool--arrow
                                                | белый
                                        label.form-color-item
                                            input(name="field[12]" type="radio").form-color-item--tag
                                            i.from-color-item--wrapper.from-color-item--40
                                            div.form-tool.form-tool--top
                                                i.form-tool--arrow
                                                | черный
                                        label.form-color-item
                                            input(name="field[12]" type="radio").form-color-item--tag
                                            i.from-color-item--wrapper.from-color-item--50
                                            div.form-tool.form-tool--top
                                                i.form-tool--arrow
                                                | коричневый
                                        label.form-color-item
                                            input(name="field[12]" type="radio").form-color-item--tag
                                            i.from-color-item--wrapper.from-color-item--60
                                            div.form-tool.form-tool--top
                                                i.form-tool--arrow
                                                | желтвый
                                        label.form-color-item
                                            input(name="field[12]" type="radio").form-color-item--tag
                                            i.from-color-item--wrapper.from-color-item--70
                                            div.form-tool.form-tool--top
                                                i.form-tool--arrow
                                                | белый
                                        label.form-color-item
                                            input(name="field[12]" type="radio").form-color-item--tag
                                            i.from-color-item--wrapper.from-color-item--80
                                            div.form-tool.form-tool--top
                                                i.form-tool--arrow
                                                | красный
                                        label.form-color-item
                                            input(name="field[12]" type="radio").form-color-item--tag
                                            i.from-color-item--wrapper.from-color-item--90
                                            div.form-tool.form-tool--top
                                                i.form-tool--arrow
                                                | оранжевый

                            div.form-field
                                div.form-field--label Коробка передач
                                div.form-field--param
                                    div.form-field--switcher
                                        label.form-field--switcher-item.active
                                            input(name="field[22]" type="radio").form-field--switcher-tag
                                            div.form-field--switcher-label Механика
                                        label.form-field--switcher-item
                                            input(name="field[22]" type="radio").form-field--switcher-tag
                                            div.form-field--switcher-label Автомат
                                        label.form-field--switcher-item
                                            input(name="field[22]" type="radio").form-field--switcher-tag
                                            div.form-field--switcher-label Вариатор
                                        label.form-field--switcher-item
                                            input(name="field[22]" type="radio").form-field--switcher-tag
                                            div.form-field--switcher-label Робот

                            div.form-field
                                div.form-field--label Адресс
                                div.form-field--param
                                    div.form-field-input.form-field-input-map
                                        input(name="field[location]" id="form-field-input-map" type="text").form-field-input-tag
                                    div#form-field-map
                            button.form-button Разместить на сайте