include ./templates/domhtml
+ads()
+ads()
+ads()
div.catalog-nav
    ul.nav-pages
        li.nav-page: a(href="#").nav-page-prev
        li.nav-page: a(href="#").nav-page-link 1
        li.nav-page: a(href="#").nav-page-link.nav-page-select 2
        li.nav-page: a(href="#").nav-page-link 3
        li.nav-page: a(href="#").nav-page-link 4
        li.nav-page: a(href="#").nav-page-link ...
        li.nav-page: a(href="#").nav-page-link 234
        li.nav-page: a(href="#").nav-page-next
    a(href="/ajax-ads-list.html").more Показать еще