include ./templates/domhtml

div.window
    div.window_content
        div(data-scroll="scroll_item").scroll
            div(data-scroll-id="entry").scroll_item.show
                div.scroll_item__title Авторизация
                div.scroll_item__row
                    +input('Логин')
                div.scroll_item__row
                    +input('Пароль')
                    div.scroll__right
                        a(href="#").scroll_link.scroll_link__help Забыли пароль?
                div.scroll_item__row
                    button(name="button").btn.btn-rempty Войти
                div.scroll_item__row
                    div.social.social_entry
                        div.social_header или
                        div.social_items
                            div.social_item
                                a(href="#").social_link.social_link__vk
                            div.social_item
                                a(href="#").social_link.social_link__odnoklasniki
                            div.social_item
                                a(href="#").social_link.social_link__facebook
                            div.social_item
                                a(href="#").social_link.social_link__google
                        div.social_footer Войти через социальную сеть
                div.scroll_item__row
                    div.scroll__center
                        a(href="#" data-scroll-target="reg").scroll_link.scroll_link__big Зарегистрироваться
            div(data-scroll-id="reg").scroll_item
                div.scroll_item__title Регистрация
                div.scroll_item__row
                    +input('Ваше Имя')
                div.scroll_item__row
                    +input('Ваш E-Mail')
                div.scroll_item__row
                    div.input
                        div.input-placeholder Ваш Телефон
                        input(type="text" data-mask="phone").input-tag
                div.scroll_item__row
                    +input('Пароль')
                div.scroll_item__row
                    button(name="button").btn.btn-rempty Зарегистрироваться
                div.scroll_item__row
                    div.social.social_entry
                        div.social_header или
                        div.social_items
                            div.social_item
                                a(href="#").social_link.social_link__vk
                            div.social_item
                                a(href="#").social_link.social_link__odnoklasniki
                            div.social_item
                                a(href="#").social_link.social_link__facebook
                            div.social_item
                                a(href="#").social_link.social_link__google
                        div.social_footer Нажимая "Зарегистрироваться" или выбирая социальную сеть. Вы принимаете условия
                            a(href="#") пользовательского соглашения
                div.scroll_item__row
                    div.scroll__center
                        a(href="#" data-scroll-target="entry").scroll_link.scroll_link__big Авторизация
    div.window_footer