extends templates/index.pug

block body
    div.main
        div.section
            div.content
                //div.crumbs.product-card-crumbs
                //    div.crumbs-item
                //        a(href="#").crumbs-link Главная
                //    div.crumbs-item: span /
                //    div.crumbs-item
                //        a(href="#").crumbs-link Аграрный рынок
                //    div.crumbs-item: span /
                //    div.crumbs-item
                //        a(href="#").crumbs-link Пшеница
                //    div.crumbs-item: span /
                //    div.crumbs-item
                //        span.crumbs-inline Пшеница в санкт-петербурге и ленинградской области
                div.product-card
                    div.product-card-main
                        div.product-card-title Пшеница в санкт-петербурге и ленинградской области
                        div.product-card-price
                            span.product-cprice 12 000
                            span.product-cprice-icon a
                        //div.ds-slider.ds-slider-right.ds-slider-list
                            //div.ds-current
                            //    div.ds-current-items
                            //        div.cs-current-item: img(src="//static.pgwjs.com/img/pg/slider/new-york.jpg")
                            //div.ds-arrow-up
                            //div.ds-arrow-down
                            div.ds-list
                        div(id="slider-carousel").slider-pro
                            div.slider-arrow
                                div.slider-arrow-up
                                div.slider-arrow-down
                            div.sp-slides
                                div.sp-slide
                                    img(src="//static.pgwjs.com/img/pg/slider/new-york.jpg").sp-image
                                div.sp-slide
                                    img(src="//static.pgwjs.com/img/pg/slider/shanghai.jpg").sp-image
                                div.sp-slide
                                    img(src="//static.pgwjs.com/img/pg/slider/montreal.jpg").sp-image
                                div.sp-slide
                                    img(src="//static.pgwjs.com/img/pg/slideshow/dakar.jpg").sp-image
                                div.sp-slide
                                    img(src="//static.pgwjs.com/img/pg/slider/new-york.jpg").sp-image
                                div.sp-slide
                                    img(src="//static.pgwjs.com/img/pg/slideshow/tokyo.jpg").sp-image
                                div.sp-slide
                                    img(src="//static.pgwjs.com/img/pg/slider/paris.jpg").sp-image
                                div.sp-slide
                                    img(src="//static.pgwjs.com/img/pg/slider/montreal.jpg").sp-image
                            div.sp-thumbnails
                                img(src="//static.pgwjs.com/img/pg/slider/new-york.jpg").sp-thumbnail
                                img(src="//static.pgwjs.com/img/pg/slider/shanghai.jpg").sp-thumbnail
                                img(src="//static.pgwjs.com/img/pg/slider/montreal.jpg").sp-thumbnail
                                img(src="//static.pgwjs.com/img/pg/slideshow/dakar.jpg").sp-thumbnail
                                img(src="//static.pgwjs.com/img/pg/slider/new-york.jpg").sp-thumbnail
                                img(src="//static.pgwjs.com/img/pg/slideshow/tokyo.jpg").sp-thumbnail
                                img(src="//static.pgwjs.com/img/pg/slider/paris.jpg").sp-thumbnail
                                img(src="//static.pgwjs.com/img/pg/slider/montreal.jpg").sp-thumbnail
                        div.product-card-stat
                            div.product-cstat-label Размещено: 15.06.2018
                            div.product-cstat-label
                                span.product-cstat-update
                                | 15.06.2016
                            div.product-cstat-label
                                span.product-cstat-view
                                | 234
                    div.product-card-tools
                        div.product-card-favorite
                            span
                            | Добавить в избранное
                        div.product-card-print
                            span
                            | Печать
                        div.user-card
                            div.user-card-info
                                div.user-cinfo-image
                                    img(src=require("./images/vendor/user.jpeg"))
                                div.user-cinfo-wrap
                                    div.user-cinfo-title Продавец 1
                                    div.user-cinfo-phone Показать телефон
                                div.user-card-rating
                                    div.user-crating-label Рейтинг: 4.5
                                    div.user-crating-label Проголосовало: 200 чел.
                            a.user-card-count Все объявления продавца (3)
                            div.user-card-btn
                                a(href="/office-message-ads.html").btn.btn-radius.btn-blue Написать продавцу
                                div.btn.btn-radius.btn-rempty Бартер
                        div.user-card-share
                            div.user-cshare-title Поделиться
                            div.user-cshare-contener
                                div.user-cshare-item.user-cshare-icon-vk
                                div.user-cshare-item.user-cshare-icon-fb
                                div.user-cshare-item.user-cshare-icon-google
                                div.user-cshare-item.user-cshare-icon-twitter
                        div.product-card-subscribe Подписаться на похожие объявления
                        div.product-card-complain Пожаловаться
                div.product-card-info
                    div.product-cinfo-property
                        span.product-property-filed Категория
                        span.product-property-value Аграрный рынок
                    div.product-cinfo-property
                        span.product-property-filed Сайт
                        span.product-property-value www.site.com
                    div.product-cinfo-property
                        span.product-property-filed Телефон
                        a(href="#").product-property-value Показать телефон
                    div.product-cinfo-property
                        span.product-property-filed E-Mail
                        a(href="#").product-property-value Показать e-mail
                div.product-cart-text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc,
                div.product-map
                    div.product-map-title Местонахождение на карте
                    div.product-map-wrap
                        div#product-maps
                div.product-tabs
                    div.product-tabs-item.active Параметры объявления
                    div.product-tabs-item Отзывы (5)
                div.product-property
                    span.product-property-filed Категория
                    span.product-property-value Аграрный рынок
                div.product-property
                    span.product-property-filed Название
                    span.product-property-value Пшеница
                div.product-property
                    span.product-property-filed Телефон
                    a.product-property-value показать телефон
                div.product-property
                    span.product-property-filed EMail
                    a.product-property-value показать e-mail
                div.product-property
                    span.product-property-filed Сайт
                    span.product-property-value www.site.com
                div.product-property
                    span.product-property-filed Адрес
                    span.product-property-value Санкт-Петербург, Ленинградская область

                div.product-promo.promo-like
                    div.promo-like-title Похожие объявления
                    div.promo-like-list
                        +ads()
                        +ads()
                        +ads()
                        +ads()


