extends templates/index.pug

block body
    div.main
        div.section-slider
            div.content
                div.offer.offertop
                    span.offer-title Найди
                    span.offer-dot
                    span.offer-title Продай
                div.offer.offerselect
                    span.offer-title Обменяй
                div.offer.offer-desc
                    | Все самые интересные объявления и услуги в вашей
                    | досягаемости. Заклюайте договора не выходя из дома!
                    | Обменивайтесь ненужными товарами на нужные.
                    | Пользуйтесь услугами в своем доме, районе, крае, по всей стране!
                div.btn.offer-btn Подать объявление
        div.section-category
            div.content
                div.scroll.ctg-scroll
                    div.scroll-arrow.scroll-arrow-left.ctg-arrow
                    div.scroll-list.ctg-list
                        div.scroll-item.ctg-item
                            a(href="#").scroll-link.ctg-link
                                img(src=require("./images/vendor/аграрныйрынок.svg")).ctg-icon
                                span Аграрный рыном
                        div.scroll-item.ctg-item
                            a(href="#").scroll-link.ctg-link
                                img(src=require("./images/vendor/недвижимость.svg")).ctg-icon
                                span Недвижимость
                        div.scroll-item.ctg-item
                            a(href="#").scroll-link.ctg-link
                                img(src=require("./images/vendor/общепит.svg")).ctg-icon
                                span Общепит
                        div.scroll-item.ctg-item
                            a(href="#").scroll-link.ctg-link
                                img(src=require("./images/vendor/транспорт.svg")).ctg-icon
                                span Транспорт
                        div.scroll-item.ctg-item
                            a(href="#").scroll-link.ctg-link
                                img(src=require("./images/vendor/электрика.svg")).ctg-icon
                                span Электрика
                        div.scroll-item.ctg-item
                            a(href="#").scroll-link.ctg-link
                                img(src=require("./images/vendor/автосервис.svg")).ctg-icon
                                span Автосервис
                        div.scroll-item.ctg-item
                            a(href="#").scroll-link.ctg-link
                                img(src=require("./images/vendor/медицина.svg")).ctg-icon
                                span Медицина
                        div.scroll-item.ctg-item
                            a(href="#").scroll-link.ctg-link
                                img(src=require("./images/vendor/автотовары.svg")).ctg-icon
                                span Автотовары
                        div.scroll-item.ctg-item
                            a(href="#").scroll-link.ctg-link
                                img(src=require("./images/vendor/туризм.svg")).ctg-icon
                                span Туризм
                        div.scroll-item.ctg-item
                            a(href="#").scroll-link.ctg-link
                                img(src=require("./images/vendor/спецмагазин.svg")).ctg-icon
                                span Спецмагазины
                        div.scroll-item.ctg-item
                            a(href="#").scroll-link.ctg-link
                                img(src=require("./images/vendor/продукты.svg")).ctg-icon
                                span Продукты
                        div.scroll-item.ctg-item
                            a(href="#").scroll-link.ctg-link
                                img(src=require("./images/vendor/спорт.svg")).ctg-icon
                                span Спорт
                        div.scroll-item.ctg-item
                            a(href="#").scroll-link.ctg-link
                                img(src=require("./images/vendor/образование.svg")).ctg-icon
                                span Образование
                        div.scroll-item.ctg-item
                            a(href="#").scroll-link.ctg-link
                                img(src=require("./images/vendor/красота.svg")).ctg-icon
                                span Красота
                        div.scroll-item.ctg-item
                            a(href="#").scroll-link.ctg-link
                                img(src=require("./images/vendor/развлечение.svg")).ctg-icon
                                span Развлечение
                        div.scroll-item.ctg-item
                            a(href="#").scroll-link.ctg-link
                                img(src=require("./images/vendor/одеждадлямужчин.svg")).ctg-icon
                                span Одежда для мужчин
                        div.scroll-item.ctg-item
                            a(href="#").scroll-link.ctg-link
                                img(src=require("./images/vendor/одеждадляженщин.svg")).ctg-icon
                                span Одежда для женщин
                        div.scroll-item.ctg-item
                            a(href="#").scroll-link.ctg-link
                                img(src=require("./images/vendor/ремонтстройка.svg")).ctg-icon
                                span Ремон. Стройка
                        div.scroll-item.ctg-item
                            a(href="#").scroll-link.ctg-link
                                img(src=require("./images/vendor/промышленныетовары.svg")).ctg-icon
                                span Промышленные товары
                        div.scroll-item.ctg-item
                            a(href="#").scroll-link.ctg-link
                                img(src=require("./images/vendor/услугидлябизнеса.svg")).ctg-icon
                                span Услуги для Бизнеса
                        div.scroll-item.ctg-item
                            a(href="#").scroll-link.ctg-link
                                img(src=require("./images/vendor/услуги.svg")).ctg-icon
                                span Услуги
                        div.scroll-item.ctg-item
                            a(href="#").scroll-link.ctg-link
                                img(src=require("./images/vendor/резюме.svg")).ctg-icon
                                span Резюме
                        div.scroll-item.ctg-item
                            a(href="#").scroll-link.ctg-link
                                img(src=require("./images/vendor/вакансии.svg")).ctg-icon
                                span Вакансии
                        div.scroll-item.ctg-item
                            a(href="#").scroll-link.ctg-link
                                img(src=require("./images/vendor/власть.svg")).ctg-icon
                                span Власть
                        div.scroll-item.ctg-item
                            a(href="#").scroll-link.ctg-link
                                img(src=require("./images/vendor/другое.svg")).ctg-icon
                                span Другое
                    div.scroll-arrow.scroll-arrow-right.ctg-arrow
        +search()
        div.section.sct-spec
            div.line-style
            div.content
                div.title Специальное предолжение
                div.ads-list
                    +ads()
                    +ads()
                    +ads()
                    +ads()
        div.section
            div.content
                div.title Услуги
                div.ads-list
                    +ads()
                    +ads()
                    +ads()
                    +ads()
        div.section.plus-home-section
            div.line-style
            div.plus-home-head
                div.big-title Преимущества
                div.min-title для вашего бизнеса
            div.plus-h-bg
                div.plus-h-bg-radius
                div.plus-h-bg-line
            div.plus-home
                div.plus-mobile-bg.plus-mobile-bg-1
                    div.plus-tablet-bg
                    div.plus-mobile-bg-line-top.left
                    div.plus-mobile-bg-radius-right
                    div.plus-h-item
                        div.plus-h-icon
                            span.plus-hi-brand
                        div.plus-h-text
                            div.plus-ht-title: span Брендинг
                            div.plus-ht-desc
                                span Расскажите о своей
                                span компании своим
                                span потенциальным
                                span клентам
                div.plus-mobile-bg.plus-mobile-bg-2
                    div.plus-tablet-bg
                    div.plus-mobile-bg-radius-left
                    div.plus-h-item
                        div.plus-h-icon
                            span.plus-hi-docs
                        div.plus-h-text
                            div.plus-ht-title
                                span Электронный
                                span документооборот
                            div.plus-ht-desc
                                span Заключайте договора
                                span не выходя из офиса.
                div.plus-mobile-bg.plus-mobile-bg-3
                    div.plus-tablet-bg
                    div.plus-mobile-bg-radius-right
                    div.plus-h-item
                        div.plus-h-icon
                            span.plus-hi-sale
                        div.plus-h-text
                            div.plus-ht-title: span Спецпредложения
                            div.plus-ht-desc
                                span Оповещайте своих
                                span клиентов о новых
                                span предложениях и акциях
                                span в один кли.
                div.plus-mobile-bg.plus-mobile-bg-4
                    div.plus-tablet-bg
                    div.plus-mobile-bg-line-bottom.right
                    div.plus-mobile-bg-radius-left.min
                    div.plus-h-item
                        div.plus-h-icon
                            span.plus-hi-delev
                        div.plus-h-text
                            div.plus-ht-title: span Логистика
                            div.plus-ht-desc
                                span Доставляйте товары
                                span до порога клиента
                                span с нашим сервисом
                                span или самостоятельно.
                div.plus-h-title И это еще не все!
                div.plus-mobile-bg.plus-mobile-bg-5
                    div.plus-tablet-bg
                    div.plus-mobile-bg-line-top.right
                    div.plus-mobile-bg-radius-left
                    div.plus-h-item
                        div.plus-h-icon
                            span.plus-hi-map
                        div.plus-h-text
                            div.plus-ht-title: span Поиск на карте
                            div.plus-ht-desc
                                span Поиск на карте
                                span Поиск объявлений
                                span в казаном радиусе.
                div.plus-mobile-bg.plus-mobile-bg-6
                    div.plus-tablet-bg
                    div.plus-mobile-bg-radius-right
                    div.plus-h-item
                        div.plus-h-icon
                            span.plus-hi-chat
                        div.plus-h-text
                            div.plus-ht-title: span Онлайн-чат
                            div.plus-ht-desc
                                span Общайтесь с продавцом
                                span или покупателем
                                span в реальном времени.
                div.plus-mobile-bg.plus-mobile-bg-7
                    div.plus-tablet-bg
                    div.plus-mobile-bg-radius-left
                    div.plus-h-item
                        div.plus-h-icon
                            span.plus-hi-barter
                        div.plus-h-text
                            div.plus-ht-title: span Бартер
                            div.plus-ht-desc
                                span Объменяй ненужные
                                span вещи на нужные
                                span не выходя из дома.
                div.plus-mobile-bg.plus-mobile-bg-8
                    div.plus-tablet-bg
                    div.plus-mobile-bg-line-bottom.left
                    div.plus-mobile-bg-radius-right.min
                    div.plus-h-item
                        div.plus-h-icon.plus_badge_container
                            span.badge__icon.badge__icon-security
                        div.plus-h-text
                            div.plus-ht-title
                                span Безопасная
                                span сделка
                            div.plus-ht-desc
                                span Обезопась покупку
                                span и продажу товаров
                                span или услуг
        div.section.home-count-section
            div.line-style
            div.content
                div.title С нами уже более
                div.home-count 1 425 000
                div.home-count-icon
                div.home-count-title Подписчиков
                div.home-count-btn
                    div.btn Зарегистрироваться
                    div.link Задать вопрос
            div.section-style-down
        div.section.home-reviews-section
            div.line-style
            div.content
                div.title Отзывы компаний
                div.scroll.review-scroll
                    div.scroll-arrow.scroll-arrow-left
                    div.scroll-list.review-list
                        div.scroll-item
                            div.review-item
                                div.review-top
                                    img(src=require("./images/vendor/user.jpg")).review-image
                                div.review-title Иванова Наталья Петровна
                                div.review-content Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc,
                        div.scroll-item
                            div.review-item
                                div.review-top
                                    img(src=require("./images/vendor/user.jpg")).review-image
                                div.review-title Иванова Наталья Петровна
                                div.review-content Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc,
                    div.scroll-arrow.scroll-arrow-right
        div.section.home-store
            div.home-icon
            div.home-info
                div.home-i-title Бесплатное
                div.home-i-title Мобильное приложение
                div.home-i-desc
                    p Все самые интересные объявления и услуги в вашем телефону.
                    p Быстрый и удобный доступ к вашим объявления и услугам.
                    p Моментальные оповещения о новых собщениях и предложениях.
                    p Будьте в курсе находясь в любой точке страны!
                    p Размещайте новые объявления и услуги со своего телефона!
                div.home-store-link
                    a(href="#").home-s-app
                    a(href="#").home-s-play