extends templates/index.pug

block body
    div.main
        +search()
        div.map
            div.map-list
                div.btn-tabs
                    a(href="#").btn-tabs-item.select На карте
                    a(href="/search.html").btn-tabs-item Список
                div.map-title Найдено объявлений 123 788
                div#maps-list.map-catalog
            div#maps-page.map-container