extends templates/index.pug

block body
    div.main
        div.section
            div.content
                div.crumbs
                    div.crumbs-item
                        a(href="#").crumbs-link Главная
                    div.crumbs-item: span /
                    div.crumbs-item
                        span.crumbs-inline Новости аграрного рынка
                div.title.office-title Новости аграрного рынка
                div.news
                    +news()
                    +news()
                    +news()
                    +news()
                    +news()
                ul.nav-pages
                    li.nav-page: a(href="#").nav-page-prev
                    li.nav-page: a(href="#").nav-page-link 1
                    li.nav-page: a(href="#").nav-page-link.nav-page-select 2
                    li.nav-page: a(href="#").nav-page-link 3
                    li.nav-page: a(href="#").nav-page-link 4
                    li.nav-page: a(href="#").nav-page-link ...
                    li.nav-page: a(href="#").nav-page-link 234
                    li.nav-page: a(href="#").nav-page-next
        div.section.subscribe
            div.subscribe-form
                div.subscribe-title Подписаться на новости
                div.subscribe-items
                    form
                        div.input
                            div.input-placeholder Ваш E-Mail
                            input(type="text" data-mask="email").input-tag
                        button.btn.bnt-blue Подписаться
