extends templates/index.pug

block body
    div.main
        div.section
            div.content
                div.crumbs
                    div.crumbs-item
                        a(href="#").crumbs-link Главная
                    div.crumbs-item: span /
                    div.crumbs-item
                        a(href="#").crumbs-link Личный кабинет
                    div.crumbs-item: span /
                    div.crumbs-item
                        span.crumbs-inline Моя компания
                div.office
                    div.office-bar
                        div.office-bar-avatar
                            div.office-bar-image: img(src=require('./images/vendor/user.jpg'))
                            div.office-bar-edit Изменить фото
                            div.office-bar-info
                                span.office-bar-title Василиса Иванова
                                span.office-bar-title +7 (900) 258-18-18
                                span.office-bar-title a.dress@mail.ru
                        div.office-bar-share
                            div.user-cshare-item.user-cshare-icon-vk
                            div.user-cshare-item.user-cshare-icon-fb
                            div.user-cshare-item.user-cshare-icon-google
                            div.user-cshare-item.user-cshare-icon-twitter
                        div.office-bar-list
                            a(href="/office-ads.html").office-bar-item Мои объявления (5)
                            a(href="/office-order.html").office-bar-item Мои заказы
                            a(href="/office-message.html").office-bar-item Мои сообщиения
                            a(href="/office-company.html").office-bar-item.active Моя компания
                            a(href="/office-company-news.html").office-bar-sub Новости
                            a(href="/office-company-sale.html").office-bar-sub.active Акции
                            a(href="/office-settings.html").office-bar-item Мои настройки
                    div.office-container.office-company
                        div.title.office-title Моя компания
                        div.office-ctabs
                            a(href="/office-company-news.html").office-ctabs-item Новости
                            a(href="/office-company-sale.html").office-ctabs-item.active Акции
                        div.office-line
                            div.field-file
                                input(type="file" accept="image/jpeg,image/png,image/gif")
                                div.field-file--preview
                                div.field-file--action Добавить фото
                        div.office-inputs
                            div.office-input
                                +inputMax('Дата старта')
                            div.office-input
                                +inputMax('Дата завершения')
                        +inputMax('Заголовок')
                        +textareaMax('Описание')
                        div.office__btn Сохранить