extends templates/index.pug

block body
    div.main
        div.section
            div.content
                div.crumbs
                    div.crumbs-item
                        a(href="#").crumbs-link Главная
                    div.crumbs-item: span /
                    div.crumbs-item
                        a(href="#").crumbs-link Личный кабинет
                    div.crumbs-item: span /
                    div.crumbs-item
                        span.crumbs-inline Моя компания
                div.office
                    div.office-bar
                        div.office-bar-avatar
                            div.office-bar-image: img(src=require('./images/vendor/user.jpg'))
                            div.office-bar-edit Изменить фото
                            div.office-bar-info
                                span.office-bar-title Василиса Иванова
                                span.office-bar-title +7 (900) 258-18-18
                                span.office-bar-title a.dress@mail.ru
                        div.office-bar-share
                            div.user-cshare-item.user-cshare-icon-vk
                            div.user-cshare-item.user-cshare-icon-fb
                            div.user-cshare-item.user-cshare-icon-google
                            div.user-cshare-item.user-cshare-icon-twitter
                        div.office-bar-list
                            a(href="/office-ads.html").office-bar-item Мои объявления (5)
                            a(href="/office-order.html").office-bar-item Мои заказы
                            a(href="/office-message.html").office-bar-item Мои сообщиения
                            a(href="/office-company.html").office-bar-item.active Моя компания
                            a(href="/office-company-news.html").office-bar-sub Новости
                            a(href="/office-company-sale.html").office-bar-sub Акции
                            a(href="/office-settings.html").office-bar-item Мои настройки
                    div.office-container.office-company
                        div.title.office-title Моя компания
                        div.office-ctabs
                            a(href="/office-company.html").office-ctabs-item.active О компании
                            a(href="/office-company-location.html").office-ctabs-item Адреса
                            a(href="/office-company-gallery.html").office-ctabs-item Фотографии
                        div.office-ctitle Тарифный план
                        +select('user-type')
                        div.office-ctitle Информация о компании:
                        +inputMax('Название компании')
                        +textareaMax('Краткое описание')
                        +textareaMax('Полное описание')
                        +inputMax('Сайт компании')
                        div.office-ctitle Реквизиты Компании:
                        div.field-list
                            +inputMax('ИНН')
                            +inputMax('КПП')
                            +inputMax('ОГРН')
                            +inputMax('Юридический адрес')
                            +inputMax('Адрес для корреспонденции')
                        div.office-ctitle Реквизиты Банка:
                        div.field-list
                            +inputMax('Банк')
                            +inputMax('БИК Банка')
                            +inputMax('ИНН Банка')
                            +inputMax('ОГРН Банка')
                            +inputMax('Корреспонденский счет')
                            +inputMax('Расчетный счет')
                        div.office__btn Сохранить