extends templates/index.pug

block body
    div.main
        div.section
            div.content
                div.crumbs
                    div.crumbs-item
                        a(href="#").crumbs-link Главная
                    div.crumbs-item: span /
                    div.crumbs-item
                        a(href="#").crumbs-link Личный кабинет
                    div.crumbs-item: span /
                    div.crumbs-item
                        span.crumbs-inline Мои сообщения
                div.office
                    div.office-bar
                        div.office-bar-avatar
                            div.office-bar-image: img(src=require('./images/vendor/user.jpg'))
                            div.office-bar-edit Изменить фото
                            div.office-bar-info
                                span.office-bar-title Василиса Иванова
                                span.office-bar-title +7 (900) 258-18-18
                                span.office-bar-title a.dress@mail.ru
                        div.office-bar-share
                            div.user-cshare-item.user-cshare-icon-vk
                            div.user-cshare-item.user-cshare-icon-fb
                            div.user-cshare-item.user-cshare-icon-google
                            div.user-cshare-item.user-cshare-icon-twitter
                        div.office-bar-list
                            a(href="/office-ads.html").office-bar-item Мои объявления (5)
                            a(href="/office-order.html").office-bar-item Мои заказы
                            a(href="/office-message.html").office-bar-item.active Мои сообщиения
                            a(href="/office-company.html").office-bar-item Моя компания
                            a(href="/office-settings.html").office-bar-item Мои настройки
                    div.office-container
                        div.title.office-title Мои сообщения
                        div.office-ctabs
                            div.office-ctabs-item.active Список сообщений (3)
                            div.office-ctabs-item Черный список (1)
                            div.office-ctabs-item
                                +select('office-sort','Продавец')
                            div.office-ctabs-item
                                +inputSearch()
                        div.office-message
                            +message()
                            +message()
                            +message()

