extends templates/index.pug

block body
    div.main
        div.section
            div.content
                div.crumbs
                    div.crumbs-item
                        a(href="#").crumbs-link Главная
                    div.crumbs-item: span /
                    div.crumbs-item
                        a(href="#").crumbs-link Личный кабинет
                    div.crumbs-item: span /
                    div.crumbs-item
                        span.crumbs-inline Мои сообщения
                div.office
                    div.office-bar
                        div.office-bar-avatar
                            div.office-bar-image: img(src=require('./images/vendor/user.jpg'))
                            div.office-bar-edit Изменить фото
                            div.office-bar-info
                                span.office-bar-title Василиса Иванова
                                span.office-bar-title +7 (900) 258-18-18
                                span.office-bar-title a.dress@mail.ru
                        div.office-bar-share
                            div.user-cshare-item.user-cshare-icon-vk
                            div.user-cshare-item.user-cshare-icon-fb
                            div.user-cshare-item.user-cshare-icon-google
                            div.user-cshare-item.user-cshare-icon-twitter
                        div.office-bar-list
                            a(href="/office-ads.html").office-bar-item Мои объявления (5)
                            a(href="/office-order.html").office-bar-item Мои заказы
                            a(href="/office-message.html").office-bar-item.active Мои сообщиения
                            a(href="/office-company.html").office-bar-item Моя компания
                            a(href="/office-settings.html").office-bar-item Мои настройки
                    div.office-container
                        div.title.office-title Мои сообщения
                        div.messenger
                            div.messenger-controls
                                a(href="/office-message.html").messenger-control
                                    i.messenger-control--icon.messenger-control--break
                                    | Назад
                                a(href="#").messenger-control
                                    i.messenger-control--icon.messenger-control--blacklist
                                    | Заблокировать
                                a(href="#").messenger-control
                                    i.messenger-control--icon.messenger-control--dell
                                    | Удалить
                            div.messenger-product
                                div.messenger-product--view: img(src=require('./images/vendor/ads-1.jpg'))
                                div.messenger-product--context
                                    a(href="/detail-ads.html").messenger-product--title Название объявления
                                    div.messenger-product--price
                                        | 12 000
                                        span a
                                    div.messenger-product--info
                                        div.messenger-product--location г. Москва, лу.Ленина
                                        div.messenger-product--phone +7 (900) 549-36-65
                            div.messenger-container
                                div.messenger-container--wrapper
                                    div.messenger-datetime 18 марта
                                    div.messenger-message
                                        div.messenger-message--content
                                            div.messenger-message--datetime 18 марта 12:38
                                            div.messenger-message--text Здравствуйте, это пример стилистики сообщения то как оно будет выглядеть
                                    div.messenger-datetime Сегодня
                                    div.messenger-message.messenger-message--main
                                        div.messenger-message--content
                                            div.messenger-message--datetime 15:38
                                            div.messenger-message--text День добрый
                                    div.messenger-message.messenger-message--main
                                        div.messenger-message--content
                                            div.messenger-message--datetime 18:38
                                            div.messenger-message--text Это так же тестовые сообщения
                            div.messenger-reply
                                form(action="#")
                                    div.messenger-reply--container
                                        span.messenger-reply--image
                                        input(type="file").messenger-reply--image-input
                                        div.messenger-reply--message
                                            textarea(placeholder="Написать сообщение")
                                    button.messenger-reply--send Отправить