extends templates/index.pug

block body
    div.main
        div.section
            div.content
                div.ads-nav-container
                    a(href="").ads-nav-container--back
                    span.ads-nav-container--title Проверка объявления
                div.ads-fields
                    div.ads-field
                        div.ads-field-label Категория:
                        div.ads-field-result Сельхозкультуры
                    div.ads-field
                        div.ads-field-label Тип объявления:
                        div.ads-field-result Сельхозкультуры
                    div.ads-field
                        div.ads-field-label Название объявления:
                        div.ads-field-result Lorem ipsum dolor sit amet
                    div.ads-field
                        div.ads-field-label Описание объявления:
                        div.ads-field-result Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt.
                    div.ads-field-title Параметры
                    div.ads-field
                        div.ads-field-label Какойто параметр:
                        div.ads-field-result Lorem ipsum dolor sit amet,
                    div.ads-field
                        div.ads-field-label Какойто параметр:
                        div.ads-field-result Lorem ipsum dolor sit amet,
                    div.ads-field
                        div.ads-field-label Какойто параметр:
                        div.ads-field-result Lorem ipsum dolor sit amet,
                    div.ads-field
                        div.ads-field-label Какойто параметр:
                        div.ads-field-result Lorem ipsum dolor sit amet,
                    div.ads-field-title Способ размещения
                    div.packages
                        div.packages-item
                            input(type="hidden" name="packages" value="")
                            div.packages-head
                                div.packages-title Пакет 1
                                div.packages-desc Бесплатно
                            div.packages-body
                        div.packages-item
                            input(type="hidden" name="packages" value="")
                            div.packages-head
                                div.packages-title Пакет 2
                                div.packages-desc Увеличение кол-во просмотров на 5
                            div.packages-body
                                ul.packages-list
                                    li.packages-list-item
                                        span.packages-list-title VIP
                                        span.packages-list-text 7 дней в выделенном блоке справа на странице поиска
                                    li.packages-list-item
                                        span.packages-list-title 3 поднятия
                                        span.packages-list-text Объявление 3 раза поднимется на первое место в поиске
                        div.packages-item
                            input(type="hidden" name="packages" value="")
                            div.packages-head
                                div.packages-title Пакет 3
                                div.packages-desc Увеличение кол-во просмотров на 20
                            div.packages-body
                                ul.packages-list
                                    li.packages-list-item
                                        span.packages-list-title VIP
                                        span.packages-list-text 7 дней в выделенном блоке справа на странице поиска
                                    li.packages-list-item
                                        span.packages-list-title 6 поднятий
                                        span.packages-list-text Объявление 6 раз поднимется на первое место в поиске
                                    li.packages-list-item
                                        span.packages-list-title Премиум
                                        span.packages-list-text 7 дней в верхней части страниц результатов поиска
                                    li.packages-list-item
                                        span.packages-list-title Выделение
                                        span.packages-list-text 7 дней выделено цветом на странице поиска