extends templates/index.pug

block body
    div.main
        div.section
            div.content
                div.ads-nav-container
                    a.ads-nav-container--back
                    span.ads-nav-container--title Ваше объявление успешно создано
                div.order
                    div.order-title Выбранные Услуги
                    div.order-items
                        div.order-item
                    div.order-result
                        div.order-result-price 12 000
                            span a

                div.pay
                    div.pay-title Выберите способ оплаты:
                    div.pay-items
                        div.pay-item
                            div.pay-icon
                                img(src=require('./images/vector/master.svg'))
                            div.pay-box
                                div.pay-item-title Банковские карты
                        div.pay-item
                            div.pay-icon
                                img(src=require('./images/vector/sberbank.svg'))
                            div.pay-box
                                div.pay-item-title Сбербанк Онлайн
                        div.pay-item
                            div.pay-icon
                                img(src=require('./images/vector/yandex-money.svg'))
                            div.pay-box
                                div.pay-item-title Яндекс.Деньги
                        div.pay-item
                            div.pay-icon
                                img(src=require('./images/vector/qiwi.svg'))
                            div.pay-box
                                div.pay-item-title QIWI Кошелёл
                        div.pay-item
                            div.pay-icon
                                img(src=require('./images/vector/webmoney.svg'))
                            div.pay-box
                                div.pay-item-title WebMoney
                        div.pay-item
                            div.pay-icon
                                img(src=require('./images/vector/sms.svg'))
                            div.pay-box
                                div.pay-item-title SMS
                                div.pay-item-desc МТС, мегафон, Билайн, Tele2, Ростелеком, Yota
                        div.pay-item
                            div.pay-icon
                            div.pay-box
                                div.pay-item-title Оплата наличными