extends templates/index.pug

block body
    div.main
        +search()
        div.section
            div.content
                div.crumbs
                    div.crumbs-item
                        a(href="#").crumbs-link Главная
                    div.crumbs-item: span /
                    div.crumbs-item
                        a(href="#").crumbs-link Поиск объявлений
                    div.crumbs-item: span /
                    div.crumbs-item
                        span.crumbs-inline Аграрный рынок
                div.title.catalog-title АГРАРНЫЙ РЫНОК
                div.catalog-count Найдено 34453 объявлений
        div.catalog
            div.catalog-options
                div.btn-tabs
                    a(href="#").btn-tabs-item На карте
                    a(href="#").btn-tabs-item.select Список
                div.select.noborder
                    div.select-content
                        i.select-icon
                        div.select-placeholder
                        div.select-result
                    div.select-lists
                        i.select-lst-icon
                        div.select-find
                            input(type="text").select-find-input
                        ul.select-lst-items
                            li(data-for=`slc_${id}_0`).select-item: span Цена по убыванию
                            li(data-for=`slc_${id}_1`).select-item: span Цена по возрастанию
                            li(data-for=`slc_${id}_2`).select-item: span Недавно обновлены
                    div.select-check
                        input(id=`slc_${id}_0` type='checkbox' value='0' checked)
                        input(id=`slc_${id}_1` type='checkbox' value='1')
                        input(id=`slc_${id}_2` type='checkbox' value='2')
                div.btn-view.btn-view-table
                    span
                    span
                    span
                div.btn-view.btn-view-list.active
                    span
                    span
                    span
            div.catalog-main
                div.catalog-list
                    div.catalog-content.catalog-line
                        +ads()
                        +ads()
                        +ads()
                        +ads()
                        +ads()
                        +ads()
                        div.catalog-nav
                            ul.nav-pages
                                li.nav-page: a(href="#").nav-page-prev
                                li.nav-page: a(href="#").nav-page-link 1
                                li.nav-page: a(href="#").nav-page-link.nav-page-select 2
                                li.nav-page: a(href="#").nav-page-link 3
                                li.nav-page: a(href="#").nav-page-link 4
                                li.nav-page: a(href="#").nav-page-link ...
                                li.nav-page: a(href="#").nav-page-link 234
                                li.nav-page: a(href="#").nav-page-next
                            a(href="/ajax-ads-list.html").more Показать еще
                div.catalog-promo
                    div.news
                        div.news-banner
                            img(src=require("./images/news-section-agrarnyy-rynok.jpg")).news-banner-image
                        div.news-list
                            div.news-scroll
                                div.news-scroll-core
                            div.news-main
                                div.news-item
                                    a(href="#").news-title Свежие новости аграрного рынка длинный заголовок
                                    span.news-date 15.06.2018
                                    span.news-desc Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
                                div.news-item
                                    a(href="#").news-title Свежие новости аграрного рынка
                                    span.news-date 15.06.2018
                                    span.news-desc Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
                                div.news-item
                                    a(href="#").news-title Свежие новости аграрного рынка
                                    span.news-date 15.06.2018
                                    span.news-desc Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
                                div.news-item
                                    a(href="#").news-title Свежие новости аграрного рынка
                                    span.news-date 15.06.2018
                                    span.news-desc Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
